<svg *ngIf="_on" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 35"><title>fernlicht</title>
  <g id="Ebene_2" data-name="Ebene 2">
    <g id="Controll_lights" data-name="Controll lights">
      <g id="Fernlicht">
        <path d="M63,17.5C63,26.61,51.58,34,37.5,34S24,27.11,24,18,23.42,1,37.5,1,63,8.39,63,17.5Z"
              style="fill:none;stroke:#0071bc;stroke-miterlimit:10;stroke-width:2px"/>
        <line y1="7" x2="21" y2="7" style="fill:none;stroke:#0071bc;stroke-miterlimit:10;stroke-width:2px"/>
        <line y1="11" x2="21" y2="11" style="fill:none;stroke:#0071bc;stroke-miterlimit:10;stroke-width:2px"/>
        <line y1="15" x2="21" y2="15" style="fill:none;stroke:#0071bc;stroke-miterlimit:10;stroke-width:2px"/>
        <line y1="19" x2="21" y2="19" style="fill:none;stroke:#0071bc;stroke-miterlimit:10;stroke-width:2px"/>
        <line y1="23" x2="21" y2="23" style="fill:none;stroke:#0071bc;stroke-miterlimit:10;stroke-width:2px"/>
        <line y1="27" x2="21" y2="27" style="fill:none;stroke:#0071bc;stroke-miterlimit:10;stroke-width:2px"/>
      </g>
    </g>
  </g>
</svg>
