<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_aRewoDe0EeaQIqD3TyMHVw" specification="internal:&#xA;&#x9;const WAIT_MIN: integer = 10&#xA;&#x9;const WAIT_MAX: integer = 180&#xA;&#x9;var wait_minutes: integer&#xA;&#x9;var hour: integer&#xA;&#x9;event waitOver&#xA;&#x9;operation get_rand(): real&#xA;&#x9;operation get_hour(): integer&#xA;&#x9;&#xA;every 60s / hour = get_hour&#xA;&#x9;&#xA;interface user:&#xA;&#x9;in event on_button&#xA;&#x9;in event off_button&#xA;&#x9;var brightness: integer&#xA;" name="_06_LightSwitch_simulation">
    <regions xmi:id="_aRgl0ze0EeaQIqD3TyMHVw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_aRhz9je0EeaQIqD3TyMHVw">
        <outgoingTransitions xmi:id="_tHiT0De4EeaQIqD3TyMHVw" specification="" target="_BFudYDe1EeaQIqD3TyMHVw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_BFudYDe1EeaQIqD3TyMHVw" specification="" name="Presence_Simulation" incomingTransitions="_tHiT0De4EeaQIqD3TyMHVw _ZqZMYDe9EeaQIqD3TyMHVw">
        <outgoingTransitions xmi:id="_Xr0m4De9EeaQIqD3TyMHVw" specification="user.on_button" target="_mwoejEkDEea-4JaroLz3NA"/>
        <regions xmi:id="_BFvrgDe1EeaQIqD3TyMHVw" name="r1">
          <vertices xsi:type="sgraph:Entry" xmi:id="_4c8s4De4EeaQIqD3TyMHVw">
            <outgoingTransitions xmi:id="_b7heUDe5EeaQIqD3TyMHVw" specification="" target="__uMF4De4EeaQIqD3TyMHVw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="__uMF4De4EeaQIqD3TyMHVw" specification="entry / user.brightness = 0" name="Inactive" incomingTransitions="_b7heUDe5EeaQIqD3TyMHVw _pbAlcDe9EeaQIqD3TyMHVw">
            <outgoingTransitions xmi:id="_mqTYYDe9EeaQIqD3TyMHVw" specification="[hour >= 17 ||&#xA;(hour >= 7 &amp;&amp; hour &lt; 10)]" target="_jRBvcDe9EeaQIqD3TyMHVw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_jRBvcDe9EeaQIqD3TyMHVw" name="Wait" incomingTransitions="_mqTYYDe9EeaQIqD3TyMHVw">
            <outgoingTransitions xmi:id="_pbAlcDe9EeaQIqD3TyMHVw" specification="[!(hour > 17 ||&#xA;(hour > 7 &amp;&amp; hour &lt; 10))]" target="__uMF4De4EeaQIqD3TyMHVw"/>
            <regions xmi:id="_jRBvcze9EeaQIqD3TyMHVw" name="r1">
              <vertices xsi:type="sgraph:State" xmi:id="_973aYDe9EeaQIqD3TyMHVw" specification="" name="new_waittime" incomingTransitions="_CZk70De-EeaQIqD3TyMHVw _Dpsf4De-EeaQIqD3TyMHVw">
                <outgoingTransitions xmi:id="_Dpsf4De-EeaQIqD3TyMHVw" specification="[wait_minutes == 0]&#xD;&#xA;/ raise waitOver;&#xD;&#xA;wait_minutes =&#xD;&#xA;(WAIT_MIN + get_rand()&#xD;&#xA;* (WAIT_MAX - WAIT_MIN))&#xD;&#xA;as integer" target="_973aYDe9EeaQIqD3TyMHVw"/>
              </vertices>
              <vertices xsi:type="sgraph:Entry" xmi:id="_CEdAYDe-EeaQIqD3TyMHVw">
                <outgoingTransitions xmi:id="_CZk70De-EeaQIqD3TyMHVw" specification="" target="_973aYDe9EeaQIqD3TyMHVw"/>
              </vertices>
            </regions>
            <regions xmi:id="_jRBvdDe9EeaQIqD3TyMHVw" name="r2">
              <vertices xsi:type="sgraph:State" xmi:id="_jRBvdTe9EeaQIqD3TyMHVw" specification="every 60s [wait_minutes > 0]&#xD;&#xA;/ wait_minutes -= 1" name="count" incomingTransitions="_jRCWkTe9EeaQIqD3TyMHVw"/>
              <vertices xsi:type="sgraph:Entry" xmi:id="_jRCWkDe9EeaQIqD3TyMHVw">
                <outgoingTransitions xmi:id="_jRCWkTe9EeaQIqD3TyMHVw" specification="" target="_jRBvdTe9EeaQIqD3TyMHVw"/>
              </vertices>
            </regions>
            <regions xmi:id="_8tb4YDe9EeaQIqD3TyMHVw" name="r3">
              <vertices xsi:type="sgraph:State" xmi:id="_zI3K0De9EeaQIqD3TyMHVw" specification="entry / &#xD;&#xA;user.brightness = 1" name="On" incomingTransitions="_7Sar4De9EeaQIqD3TyMHVw">
                <outgoingTransitions xmi:id="_666K0De9EeaQIqD3TyMHVw" specification="waitOver" target="_y1fi4De9EeaQIqD3TyMHVw"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_y1fi4De9EeaQIqD3TyMHVw" specification="entry / &#xD;&#xA;user.brightness = 0" name="Off" incomingTransitions="_6ZuJUDe9EeaQIqD3TyMHVw _666K0De9EeaQIqD3TyMHVw">
                <outgoingTransitions xmi:id="_7Sar4De9EeaQIqD3TyMHVw" specification="waitOver" target="_zI3K0De9EeaQIqD3TyMHVw"/>
              </vertices>
              <vertices xsi:type="sgraph:Entry" xmi:id="_4-L_cDe9EeaQIqD3TyMHVw" kind="SHALLOW_HISTORY">
                <outgoingTransitions xmi:id="_6ZuJUDe9EeaQIqD3TyMHVw" specification="" target="_y1fi4De9EeaQIqD3TyMHVw"/>
              </vertices>
            </regions>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_mwoejEkDEea-4JaroLz3NA" specification="entry /&#xA;user.brightness += 1" name="Manual" incomingTransitions="_mwpFokkDEea-4JaroLz3NA _Xr0m4De9EeaQIqD3TyMHVw">
        <outgoingTransitions xmi:id="_mwpFokkDEea-4JaroLz3NA" specification="user.on_button [user.brightness &lt; 10]" target="_mwoejEkDEea-4JaroLz3NA"/>
        <outgoingTransitions xmi:id="_ZqZMYDe9EeaQIqD3TyMHVw" specification="user.off_button" target="_BFudYDe1EeaQIqD3TyMHVw"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_aRgl0Te0EeaQIqD3TyMHVw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_aRewoDe0EeaQIqD3TyMHVw" measurementUnit="Pixel">
    <children xmi:id="_aRgl1De0EeaQIqD3TyMHVw" type="Region" element="_aRgl0ze0EeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_aRhz8De0EeaQIqD3TyMHVw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aRhz8Te0EeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aRhz8je0EeaQIqD3TyMHVw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_aRhz8ze0EeaQIqD3TyMHVw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_aRibADe0EeaQIqD3TyMHVw" type="Entry" element="_aRhz9je0EeaQIqD3TyMHVw">
          <children xmi:id="_aRibBDe0EeaQIqD3TyMHVw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_aRibBze0EeaQIqD3TyMHVw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_aRibCDe0EeaQIqD3TyMHVw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_aRibCTe0EeaQIqD3TyMHVw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_aRibBTe0EeaQIqD3TyMHVw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aRibBje0EeaQIqD3TyMHVw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_aRibATe0EeaQIqD3TyMHVw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_aRibAje0EeaQIqD3TyMHVw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aRibCje0EeaQIqD3TyMHVw" x="131" y="-20" width="15" height="15"/>
        </children>
        <children xmi:id="_BFwSkDe1EeaQIqD3TyMHVw" type="State" element="_BFudYDe1EeaQIqD3TyMHVw">
          <children xsi:type="notation:DecorationNode" xmi:id="_BFwSlDe1EeaQIqD3TyMHVw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_BFwSlTe1EeaQIqD3TyMHVw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_BFwSlje1EeaQIqD3TyMHVw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_BFwSlze1EeaQIqD3TyMHVw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_BFwSmDe1EeaQIqD3TyMHVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BFwSmTe1EeaQIqD3TyMHVw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_BFw5oDe1EeaQIqD3TyMHVw" type="StateFigureCompartment">
            <children xmi:id="_BFyHwDe1EeaQIqD3TyMHVw" type="Region" element="_BFvrgDe1EeaQIqD3TyMHVw">
              <children xsi:type="notation:DecorationNode" xmi:id="_BFyu0De1EeaQIqD3TyMHVw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_BFyu0Te1EeaQIqD3TyMHVw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_BFyu0je1EeaQIqD3TyMHVw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_BFyu0ze1EeaQIqD3TyMHVw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_4c97ADe4EeaQIqD3TyMHVw" type="Entry" element="_4c8s4De4EeaQIqD3TyMHVw">
                  <children xmi:id="_4c-iEDe4EeaQIqD3TyMHVw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_4c-iEze4EeaQIqD3TyMHVw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_4c-iFDe4EeaQIqD3TyMHVw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_4c-iFTe4EeaQIqD3TyMHVw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_4c-iETe4EeaQIqD3TyMHVw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4c-iEje4EeaQIqD3TyMHVw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_4c97ATe4EeaQIqD3TyMHVw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_4c97Aje4EeaQIqD3TyMHVw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4c97Aze4EeaQIqD3TyMHVw" x="34" y="-33" width="15" height="15"/>
                </children>
                <children xmi:id="__uNUADe4EeaQIqD3TyMHVw" type="State" element="__uMF4De4EeaQIqD3TyMHVw">
                  <children xsi:type="notation:DecorationNode" xmi:id="__uNUBDe4EeaQIqD3TyMHVw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="__uNUBTe4EeaQIqD3TyMHVw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="__uNUBje4EeaQIqD3TyMHVw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__uN7EDe4EeaQIqD3TyMHVw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="__uN7ETe4EeaQIqD3TyMHVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="__uN7Eje4EeaQIqD3TyMHVw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__uN7Eze4EeaQIqD3TyMHVw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="__uNUATe4EeaQIqD3TyMHVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="__uNUAje4EeaQIqD3TyMHVw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="__uN7FDe4EeaQIqD3TyMHVw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="__uNUAze4EeaQIqD3TyMHVw" x="-1" y="51" width="214" height="65"/>
                </children>
                <children xmi:id="_jRBIYTe9EeaQIqD3TyMHVw" type="State" element="_jRBvcDe9EeaQIqD3TyMHVw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_jRBIYje9EeaQIqD3TyMHVw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_jRBIYze9EeaQIqD3TyMHVw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_jRBIZDe9EeaQIqD3TyMHVw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_jRBIZTe9EeaQIqD3TyMHVw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_jRBIZje9EeaQIqD3TyMHVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jRBIZze9EeaQIqD3TyMHVw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_jRBIaDe9EeaQIqD3TyMHVw" type="StateFigureCompartment">
                    <children xmi:id="_EfEYUD0GEeawOuBBm8EwYg" type="Region" element="_jRBvcze9EeaQIqD3TyMHVw">
                      <children xsi:type="notation:DecorationNode" xmi:id="_EfEYUT0GEeawOuBBm8EwYg" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_EfEYUj0GEeawOuBBm8EwYg"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_EfEYUz0GEeawOuBBm8EwYg"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_EfEYVD0GEeawOuBBm8EwYg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_974ogDe9EeaQIqD3TyMHVw" type="State" element="_973aYDe9EeaQIqD3TyMHVw">
                          <children xsi:type="notation:DecorationNode" xmi:id="_975PkDe9EeaQIqD3TyMHVw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_975PkTe9EeaQIqD3TyMHVw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_975Pkje9EeaQIqD3TyMHVw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_975Pkze9EeaQIqD3TyMHVw" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_975PlDe9EeaQIqD3TyMHVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_975PlTe9EeaQIqD3TyMHVw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_9752oDe9EeaQIqD3TyMHVw" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_974ogTe9EeaQIqD3TyMHVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_974ogje9EeaQIqD3TyMHVw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_9752oTe9EeaQIqD3TyMHVw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_974ogze9EeaQIqD3TyMHVw" x="46" y="32"/>
                        </children>
                        <children xmi:id="_CEdncDe-EeaQIqD3TyMHVw" type="Entry" element="_CEdAYDe-EeaQIqD3TyMHVw">
                          <children xmi:id="_CEeOgDe-EeaQIqD3TyMHVw" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_CEeOgze-EeaQIqD3TyMHVw" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_CEeOhDe-EeaQIqD3TyMHVw"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_CEeOhTe-EeaQIqD3TyMHVw"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_CEeOgTe-EeaQIqD3TyMHVw" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CEeOgje-EeaQIqD3TyMHVw"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_CEdncTe-EeaQIqD3TyMHVw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_CEdncje-EeaQIqD3TyMHVw" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CEdncze-EeaQIqD3TyMHVw" x="89" y="-11"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EfEYdz0GEeawOuBBm8EwYg"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_EfEYeD0GEeawOuBBm8EwYg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EfEYeT0GEeawOuBBm8EwYg"/>
                    </children>
                    <children xmi:id="_jRBIcTe9EeaQIqD3TyMHVw" type="Region" element="_jRBvdDe9EeaQIqD3TyMHVw">
                      <children xsi:type="notation:DecorationNode" xmi:id="_jRBIcje9EeaQIqD3TyMHVw" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_jRBIcze9EeaQIqD3TyMHVw"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_jRBIdDe9EeaQIqD3TyMHVw"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_jRBIdTe9EeaQIqD3TyMHVw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_jRBIdje9EeaQIqD3TyMHVw" type="State" element="_jRBvdTe9EeaQIqD3TyMHVw">
                          <children xsi:type="notation:DecorationNode" xmi:id="_jRBIdze9EeaQIqD3TyMHVw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_jRBIeDe9EeaQIqD3TyMHVw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_jRBIeTe9EeaQIqD3TyMHVw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_jRBIeje9EeaQIqD3TyMHVw" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_jRBIeze9EeaQIqD3TyMHVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jRBIfDe9EeaQIqD3TyMHVw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_jRBIfTe9EeaQIqD3TyMHVw" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_jRBIfje9EeaQIqD3TyMHVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_jRBIfze9EeaQIqD3TyMHVw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jRBIgDe9EeaQIqD3TyMHVw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jRBIgTe9EeaQIqD3TyMHVw" x="12" y="-12" width="211" height="62"/>
                        </children>
                        <children xmi:id="_jRBIgje9EeaQIqD3TyMHVw" type="Entry" element="_jRCWkDe9EeaQIqD3TyMHVw">
                          <children xmi:id="_jRBIgze9EeaQIqD3TyMHVw" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_jRBIhDe9EeaQIqD3TyMHVw" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_jRBIhTe9EeaQIqD3TyMHVw"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_jRBIhje9EeaQIqD3TyMHVw"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_jRBIhze9EeaQIqD3TyMHVw" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jRBIiDe9EeaQIqD3TyMHVw"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_jRBIiTe9EeaQIqD3TyMHVw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_jRBIije9EeaQIqD3TyMHVw" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jRBIize9EeaQIqD3TyMHVw" x="107" y="-56"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jRBIjDe9EeaQIqD3TyMHVw"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_jRBIjTe9EeaQIqD3TyMHVw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jRBIjje9EeaQIqD3TyMHVw"/>
                    </children>
                    <children xmi:id="_8tcfcDe9EeaQIqD3TyMHVw" type="Region" element="_8tb4YDe9EeaQIqD3TyMHVw">
                      <children xsi:type="notation:DecorationNode" xmi:id="_8tcfcze9EeaQIqD3TyMHVw" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_8tcfdDe9EeaQIqD3TyMHVw"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_8tcfdTe9EeaQIqD3TyMHVw"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_8tdGgDe9EeaQIqD3TyMHVw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_EfEYYT0GEeawOuBBm8EwYg" type="State" element="_zI3K0De9EeaQIqD3TyMHVw">
                          <children xsi:type="notation:DecorationNode" xmi:id="_EfEYYj0GEeawOuBBm8EwYg" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_EfEYYz0GEeawOuBBm8EwYg"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_EfEYZD0GEeawOuBBm8EwYg"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_EfEYZT0GEeawOuBBm8EwYg" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_EfEYZj0GEeawOuBBm8EwYg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EfEYZz0GEeawOuBBm8EwYg"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_EfEYaD0GEeawOuBBm8EwYg" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_EfEYaT0GEeawOuBBm8EwYg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_EfEYaj0GEeawOuBBm8EwYg"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EfEYaz0GEeawOuBBm8EwYg" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EfEYbD0GEeawOuBBm8EwYg" x="40" y="171" width="149" height="62"/>
                        </children>
                        <children xmi:id="_EfEYVT0GEeawOuBBm8EwYg" type="State" element="_y1fi4De9EeaQIqD3TyMHVw">
                          <children xsi:type="notation:DecorationNode" xmi:id="_EfEYVj0GEeawOuBBm8EwYg" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_EfEYVz0GEeawOuBBm8EwYg"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_EfEYWD0GEeawOuBBm8EwYg"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_EfEYWT0GEeawOuBBm8EwYg" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_EfEYWj0GEeawOuBBm8EwYg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EfEYWz0GEeawOuBBm8EwYg"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_EfEYXD0GEeawOuBBm8EwYg" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_EfEYXT0GEeawOuBBm8EwYg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_EfEYXj0GEeawOuBBm8EwYg"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EfEYXz0GEeawOuBBm8EwYg" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EfEYYD0GEeawOuBBm8EwYg" x="40" y="37" width="149" height="62"/>
                        </children>
                        <children xmi:id="_EfEYbT0GEeawOuBBm8EwYg" type="ShallowHistory" element="_4-L_cDe9EeaQIqD3TyMHVw">
                          <children xmi:id="_EfEYbj0GEeawOuBBm8EwYg" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_EfEYbz0GEeawOuBBm8EwYg" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_EfEYcD0GEeawOuBBm8EwYg"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_EfEYcT0GEeawOuBBm8EwYg"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_EfEYcj0GEeawOuBBm8EwYg" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EfEYcz0GEeawOuBBm8EwYg"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_EfEYdD0GEeawOuBBm8EwYg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_EfEYdT0GEeawOuBBm8EwYg" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EfEYdj0GEeawOuBBm8EwYg" x="104" y="-14" width="15" height="15"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8tdGgTe9EeaQIqD3TyMHVw"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_8tcfcTe9EeaQIqD3TyMHVw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8tcfcje9EeaQIqD3TyMHVw"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_jRBIjze9EeaQIqD3TyMHVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_jRBIkDe9EeaQIqD3TyMHVw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jRBIkTe9EeaQIqD3TyMHVw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jRBIkje9EeaQIqD3TyMHVw" x="286" y="-21" width="715" height="335"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BFyu1De1EeaQIqD3TyMHVw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_BFyHwTe1EeaQIqD3TyMHVw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BFyHwje1EeaQIqD3TyMHVw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_BFwSkTe1EeaQIqD3TyMHVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_BFwSkje1EeaQIqD3TyMHVw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BFw5oTe1EeaQIqD3TyMHVw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BFwSkze1EeaQIqD3TyMHVw" y="23" width="1046" height="442"/>
        </children>
        <children xmi:id="_mwoegEkDEea-4JaroLz3NA" type="State" element="_mwoejEkDEea-4JaroLz3NA">
          <children xsi:type="notation:DecorationNode" xmi:id="_mwoegUkDEea-4JaroLz3NA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_mwoegkkDEea-4JaroLz3NA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_mwoeg0kDEea-4JaroLz3NA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_mwoehEkDEea-4JaroLz3NA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_mwoehUkDEea-4JaroLz3NA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mwoehkkDEea-4JaroLz3NA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_mwoeh0kDEea-4JaroLz3NA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_mwoeiEkDEea-4JaroLz3NA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_mwoeiUkDEea-4JaroLz3NA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_mwoeikkDEea-4JaroLz3NA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mwoei0kDEea-4JaroLz3NA" x="61" y="520" width="160" height="76"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aRhz9De0EeaQIqD3TyMHVw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_aRgl1Te0EeaQIqD3TyMHVw" fontName="Verdana" fontHeight="10" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aRhz9Te0EeaQIqD3TyMHVw" x="12" y="4" width="1077" height="704"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_aRmscDe0EeaQIqD3TyMHVw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_aRmscje0EeaQIqD3TyMHVw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aRmscze0EeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aRmsdDe0EeaQIqD3TyMHVw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_aRmsdTe0EeaQIqD3TyMHVw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aRmsdje0EeaQIqD3TyMHVw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aRmsdze0EeaQIqD3TyMHVw" x="10" y="10" width="296" height="704"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_aRgl0je0EeaQIqD3TyMHVw"/>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qiJXoJwPEeiWEbEH-mHIYA" name="inlineDefinitionSection"/>
    <edges xmi:id="_tHkJADe4EeaQIqD3TyMHVw" type="Transition" element="_tHiT0De4EeaQIqD3TyMHVw" source="_aRibADe0EeaQIqD3TyMHVw" target="_BFwSkDe1EeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_tHkJBDe4EeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tHkJBTe4EeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tHkwEDe4EeaQIqD3TyMHVw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tHkJATe4EeaQIqD3TyMHVw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tHkJAze4EeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tHkJAje4EeaQIqD3TyMHVw" points="[0, 7, 6, -249]$[-5, 252, 1, -4]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tHmlQDe4EeaQIqD3TyMHVw" id="(0.12383177570093458,0.01557632398753894)"/>
    </edges>
    <edges xmi:id="_b7iscDe5EeaQIqD3TyMHVw" type="Transition" element="_b7heUDe5EeaQIqD3TyMHVw" source="_4c97ADe4EeaQIqD3TyMHVw" target="__uNUADe4EeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_b7isdDe5EeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_b7isdTe5EeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_b7isdje5EeaQIqD3TyMHVw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_b7iscTe5EeaQIqD3TyMHVw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_b7iscze5EeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_b7iscje5EeaQIqD3TyMHVw" points="[0, 7, 0, -20]$[1, 26, 1, -1]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_b7qoQDe5EeaQIqD3TyMHVw" id="(0.16355140186915887,0.03076923076923077)"/>
    </edges>
    <edges xmi:id="_Xr11ADe9EeaQIqD3TyMHVw" type="Transition" element="_Xr0m4De9EeaQIqD3TyMHVw" source="_BFwSkDe1EeaQIqD3TyMHVw" target="_mwoegEkDEea-4JaroLz3NA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Xr11BDe9EeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Xr11BTe9EeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Xr2cEDe9EeaQIqD3TyMHVw" x="2" y="42"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Xr11ATe9EeaQIqD3TyMHVw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Xr11Aze9EeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Xr11Aje9EeaQIqD3TyMHVw" points="[-6, 0, 5, 62]$[-6, -57, 5, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Xr3qMDe9EeaQIqD3TyMHVw" id="(0.11091854419410745,0.9928825622775801)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Xr3qMTe9EeaQIqD3TyMHVw" id="(0.34810126582278483,0.8548387096774194)"/>
    </edges>
    <edges xmi:id="_ZqaagDe9EeaQIqD3TyMHVw" type="Transition" element="_ZqZMYDe9EeaQIqD3TyMHVw" source="_mwoegEkDEea-4JaroLz3NA" target="_BFwSkDe1EeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZqbBkDe9EeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZqbBkTe9EeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZqbBkje9EeaQIqD3TyMHVw" x="-3" y="57"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ZqaagTe9EeaQIqD3TyMHVw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Zqaagze9EeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Zqaagje9EeaQIqD3TyMHVw" points="[-3, 5, 52, -63]$[-53, 64, 2, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZqcPsDe9EeaQIqD3TyMHVw" id="(0.8037974683544303,0.016129032258064516)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Zqc2wDe9EeaQIqD3TyMHVw" id="(0.17764298093587522,0.998220640569395)"/>
    </edges>
    <edges xmi:id="_jRDkoDe9EeaQIqD3TyMHVw" type="Transition" element="_jRCWkTe9EeaQIqD3TyMHVw" source="_jRBIgje9EeaQIqD3TyMHVw" target="_jRBIdje9EeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_jRDkoTe9EeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jRDkoje9EeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jRDkoze9EeaQIqD3TyMHVw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jRDkpDe9EeaQIqD3TyMHVw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jRDkpTe9EeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jRDkpje9EeaQIqD3TyMHVw" points="[0, 8, 2, -32]$[0, 40, 2, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jRDkpze9EeaQIqD3TyMHVw" id="(0.5158371040723982,0.044585987261146494)"/>
    </edges>
    <edges xmi:id="_mqVNkDe9EeaQIqD3TyMHVw" type="Transition" element="_mqTYYDe9EeaQIqD3TyMHVw" source="__uNUADe4EeaQIqD3TyMHVw" target="_jRBIYTe9EeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_mqVNlDe9EeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mqVNlTe9EeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mqVNlje9EeaQIqD3TyMHVw" x="-8" y="18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mqVNkTe9EeaQIqD3TyMHVw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mqVNkze9EeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mqVNkje9EeaQIqD3TyMHVw" points="[0, 57, -137, -104]$[0, 161, -137, 0]$[137, 161, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mqXp0De9EeaQIqD3TyMHVw" id="(0.7383177570093458,0.06153846153846154)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mqXp0Te9EeaQIqD3TyMHVw" id="(0.004195804195804196,0.6805970149253732)"/>
    </edges>
    <edges xmi:id="_pbCaoDe9EeaQIqD3TyMHVw" type="Transition" element="_pbAlcDe9EeaQIqD3TyMHVw" source="_jRBIYTe9EeaQIqD3TyMHVw" target="__uNUADe4EeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_pbCapDe9EeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pbCapTe9EeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pbCapje9EeaQIqD3TyMHVw" x="35" y="17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_pbCaoTe9EeaQIqD3TyMHVw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_pbCaoze9EeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_pbCaoje9EeaQIqD3TyMHVw" points="[-9, 0, 145, -47]$[-148, 0, 6, -47]$[-148, 43, 6, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_pbEP0De9EeaQIqD3TyMHVw" id="(0.012216404886561954,0.06462585034013606)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_pbEP0Te9EeaQIqD3TyMHVw" id="(0.7009345794392523,0.07692307692307693)"/>
    </edges>
    <edges xmi:id="_6ZvXcDe9EeaQIqD3TyMHVw" type="Transition" element="_6ZuJUDe9EeaQIqD3TyMHVw" source="_EfEYbT0GEeawOuBBm8EwYg" target="_EfEYVT0GEeawOuBBm8EwYg">
      <children xsi:type="notation:DecorationNode" xmi:id="_6Zv-gze9EeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6Zv-hDe9EeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6Zv-hTe9EeaQIqD3TyMHVw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6Zv-gDe9EeaQIqD3TyMHVw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6Zv-gje9EeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6Zv-gTe9EeaQIqD3TyMHVw" points="[6, 5, -26, -22]$[33, 22, 1, -5]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6ZxzsDe9EeaQIqD3TyMHVw" id="(0.5213675213675214,0.0)"/>
    </edges>
    <edges xmi:id="_666x4De9EeaQIqD3TyMHVw" type="Transition" element="_666K0De9EeaQIqD3TyMHVw" source="_EfEYYT0GEeawOuBBm8EwYg" target="_EfEYVT0GEeawOuBBm8EwYg">
      <children xsi:type="notation:DecorationNode" xmi:id="_667Y8Te9EeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_667Y8je9EeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_667Y8ze9EeaQIqD3TyMHVw" x="3" y="-34"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_666x4Te9EeaQIqD3TyMHVw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_667Y8De9EeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_666x4je9EeaQIqD3TyMHVw" points="[2, -4, 1, 84]$[2, -82, 1, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_66-cQDe9EeaQIqD3TyMHVw" id="(0.21476510067114093,0.016129032258064516)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_66-cQTe9EeaQIqD3TyMHVw" id="(0.21367521367521367,0.9411764705882353)"/>
    </edges>
    <edges xmi:id="_7Sb6ADe9EeaQIqD3TyMHVw" type="Transition" element="_7Sar4De9EeaQIqD3TyMHVw" source="_EfEYVT0GEeawOuBBm8EwYg" target="_EfEYYT0GEeawOuBBm8EwYg">
      <children xsi:type="notation:DecorationNode" xmi:id="_7SchETe9EeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7SchEje9EeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7SchEze9EeaQIqD3TyMHVw" x="-3" y="-34"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7Sb6ATe9EeaQIqD3TyMHVw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7SchEDe9EeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7Sb6Aje9EeaQIqD3TyMHVw" points="[-4, 10, 33, -86]$[-33, 88, 4, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7SeWQDe9EeaQIqD3TyMHVw" id="(0.7894736842105263,0.8113207547169812)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7SeWQTe9EeaQIqD3TyMHVw" id="(0.7943262411347518,0.0375)"/>
    </edges>
    <edges xmi:id="_CZmxADe-EeaQIqD3TyMHVw" type="Transition" element="_CZk70De-EeaQIqD3TyMHVw" source="_CEdncDe-EeaQIqD3TyMHVw" target="_974ogDe9EeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_CZnYETe-EeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CZnYEje-EeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CZnYEze-EeaQIqD3TyMHVw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_CZmxATe-EeaQIqD3TyMHVw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_CZnYEDe-EeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_CZmxAje-EeaQIqD3TyMHVw" points="[-2, 7, 7, -16]$[-7, 21, 2, -2]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CZpNQDe-EeaQIqD3TyMHVw" id="(0.4954128440366973,0.0)"/>
    </edges>
    <edges xmi:id="_DptuADe-EeaQIqD3TyMHVw" type="Transition" element="_Dpsf4De-EeaQIqD3TyMHVw" source="_974ogDe9EeaQIqD3TyMHVw" target="_974ogDe9EeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_DpuVEDe-EeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DpuVETe-EeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DpuVEje-EeaQIqD3TyMHVw" x="69" y="50"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_DptuATe-EeaQIqD3TyMHVw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_DptuAze-EeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_DptuAje-EeaQIqD3TyMHVw" points="[-52, 0, -62, -17]$[-89, 0, -99, -17]$[-89, 55, -99, 38]$[10, 55, 0, 38]$[10, 24, 0, 7]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DpvjMDe-EeaQIqD3TyMHVw" id="(0.5963302752293578,0.8679245283018868)"/>
    </edges>
    <edges xmi:id="_mwsI4EkDEea-4JaroLz3NA" type="Transition" element="_mwpFokkDEea-4JaroLz3NA" source="_mwoegEkDEea-4JaroLz3NA" target="_mwoegEkDEea-4JaroLz3NA">
      <children xsi:type="notation:DecorationNode" xmi:id="_mwsI4UkDEea-4JaroLz3NA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mwsI4kkDEea-4JaroLz3NA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mwsI40kDEea-4JaroLz3NA" x="-2" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mwsI5EkDEea-4JaroLz3NA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mwsI5UkDEea-4JaroLz3NA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mwsI5kkDEea-4JaroLz3NA" points="[4, 3, 82, -44]$[32, 3, 110, -44]$[32, 74, 110, 27]$[-78, 74, 0, 27]$[-78, 51, 0, 4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mwsI50kDEea-4JaroLz3NA" id="(0.9803921568627451,0.2923076923076923)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mwsI6EkDEea-4JaroLz3NA" id="(0.475,0.9473684210526315)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
