<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_3AQUYJOAEeWuO-fDDpYHyA" specification="internal:&#xA;&#x9;var brightness: integer&#xA;&#xA;interface user:&#xA;&#x9;in event on_button&#xA;&#x9;in event off_button&#xA;&#x9;in event mode_button&#xA;&#x9;&#xA;interface motion_sensor:&#xA;&#x9;const timeout: integer = 30&#xA;&#x9;in event motion&#xA;&#x9;&#xA;interface lum_sensor:&#xA;&#x9;const wait_time: integer = 10&#xA; &#x9;in event bright&#xA; &#x9;in event dark" name="_05_LightSwitch">
    <regions xmi:id="_3AQ7cpOAEeWuO-fDDpYHyA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_3ASJk5OAEeWuO-fDDpYHyA">
        <outgoingTransitions xmi:id="_BfNnUDeoEeaQIqD3TyMHVw" specification="" target="_sHfb0DenEeaQIqD3TyMHVw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_sHfb0DenEeaQIqD3TyMHVw" name="Automatic" incomingTransitions="_9ck4UDenEeaQIqD3TyMHVw _BfNnUDeoEeaQIqD3TyMHVw">
        <outgoingTransitions xmi:id="_-6uRUDenEeaQIqD3TyMHVw" specification="user.on_button" target="_KiGzEEjeEea-4JaroLz3NA"/>
        <regions xmi:id="_sHgC4TenEeaQIqD3TyMHVw" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_DKe-sDeaEeaQIqD3TyMHVw" specification="" name="MotionSensing" incomingTransitions="_7-9DwDenEeaQIqD3TyMHVw _1TjGQDeoEeaQIqD3TyMHVw">
            <outgoingTransitions xmi:id="_v-OAUDeoEeaQIqD3TyMHVw" specification="user.mode_button" target="_0kFNoDenEeaQIqD3TyMHVw"/>
            <regions xmi:id="_DKgz4DeaEeaQIqD3TyMHVw" name="r1">
              <vertices xsi:type="sgraph:State" xmi:id="_Oh-bYDeaEeaQIqD3TyMHVw" specification="entry / &#xD;&#xA;brightness = 0" name="Off" incomingTransitions="_YfxhQDeaEeaQIqD3TyMHVw _gm-R4DeaEeaQIqD3TyMHVw">
                <outgoingTransitions xmi:id="_gISx0DeaEeaQIqD3TyMHVw" specification="motion_sensor.motion" target="_eMfMcDeaEeaQIqD3TyMHVw"/>
              </vertices>
              <vertices xsi:type="sgraph:Entry" xmi:id="_YJ4w0DeaEeaQIqD3TyMHVw" kind="SHALLOW_HISTORY">
                <outgoingTransitions xmi:id="_YfxhQDeaEeaQIqD3TyMHVw" target="_Oh-bYDeaEeaQIqD3TyMHVw"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_eMfMcDeaEeaQIqD3TyMHVw" specification="entry /&#xA;brightness = 1" name="On" incomingTransitions="_gISx0DeaEeaQIqD3TyMHVw">
                <outgoingTransitions xmi:id="_gm-R4DeaEeaQIqD3TyMHVw" specification="after motion_sensor.timeout s" target="_Oh-bYDeaEeaQIqD3TyMHVw"/>
              </vertices>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_0kFNoDenEeaQIqD3TyMHVw" name="Twilight" incomingTransitions="_v-OAUDeoEeaQIqD3TyMHVw">
            <outgoingTransitions xmi:id="_1TjGQDeoEeaQIqD3TyMHVw" specification="user.mode_button" target="_DKe-sDeaEeaQIqD3TyMHVw"/>
            <regions xmi:id="_0kF0sDenEeaQIqD3TyMHVw" name="r1">
              <vertices xsi:type="sgraph:State" xmi:id="_KQvHUDeoEeaQIqD3TyMHVw" specification="entry /&#xD;&#xA;brightness = 0" name="Off" incomingTransitions="_XbQA0DeoEeaQIqD3TyMHVw _Yc3O0DeoEeaQIqD3TyMHVw _q59cQDeoEeaQIqD3TyMHVw">
                <outgoingTransitions xmi:id="_YFepkDeoEeaQIqD3TyMHVw" specification="lum_sensor.dark" target="_UXU80DeoEeaQIqD3TyMHVw"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_Rt9G0DeoEeaQIqD3TyMHVw" specification="entry / &#xD;&#xA;brightness = 1" name="On" incomingTransitions="_hjNvUDeoEeaQIqD3TyMHVw _mspuUDeoEeaQIqD3TyMHVw">
                <outgoingTransitions xmi:id="_kA2PYDeoEeaQIqD3TyMHVw" specification="lum_sensor.bright" target="_UpRBYDeoEeaQIqD3TyMHVw"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_UXU80DeoEeaQIqD3TyMHVw" name="Dark_waiting" incomingTransitions="_YFepkDeoEeaQIqD3TyMHVw">
                <outgoingTransitions xmi:id="_Yc3O0DeoEeaQIqD3TyMHVw" specification="lum_sensor.bright" target="_KQvHUDeoEeaQIqD3TyMHVw"/>
                <outgoingTransitions xmi:id="_hjNvUDeoEeaQIqD3TyMHVw" specification="after lum_sensor.wait_time s" target="_Rt9G0DeoEeaQIqD3TyMHVw"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_UpRBYDeoEeaQIqD3TyMHVw" name="Bright_waiting" incomingTransitions="_kA2PYDeoEeaQIqD3TyMHVw">
                <outgoingTransitions xmi:id="_mspuUDeoEeaQIqD3TyMHVw" specification="lum_sensor.dark" target="_Rt9G0DeoEeaQIqD3TyMHVw"/>
                <outgoingTransitions xmi:id="_q59cQDeoEeaQIqD3TyMHVw" specification="after lum_sensor.wait_time s" target="_KQvHUDeoEeaQIqD3TyMHVw"/>
              </vertices>
              <vertices xsi:type="sgraph:Entry" xmi:id="_XCh-0DeoEeaQIqD3TyMHVw" kind="SHALLOW_HISTORY">
                <outgoingTransitions xmi:id="_XbQA0DeoEeaQIqD3TyMHVw" specification="" target="_KQvHUDeoEeaQIqD3TyMHVw"/>
              </vertices>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_6qDGUDenEeaQIqD3TyMHVw" kind="SHALLOW_HISTORY">
            <outgoingTransitions xmi:id="_7-9DwDenEeaQIqD3TyMHVw" specification="" target="_DKe-sDeaEeaQIqD3TyMHVw"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_KiGzEEjeEea-4JaroLz3NA" specification="entry /&#xA;brightness += 1" name="Manual" incomingTransitions="_KiIBOkjeEea-4JaroLz3NA _-6uRUDenEeaQIqD3TyMHVw">
        <outgoingTransitions xmi:id="_KiIBOkjeEea-4JaroLz3NA" specification="user.on_button [brightness &lt; 10]" target="_KiGzEEjeEea-4JaroLz3NA"/>
        <outgoingTransitions xmi:id="_9ck4UDenEeaQIqD3TyMHVw" specification="user.off_button" target="_sHfb0DenEeaQIqD3TyMHVw"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_3AQ7cJOAEeWuO-fDDpYHyA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_3AQUYJOAEeWuO-fDDpYHyA" measurementUnit="Pixel">
    <children xmi:id="_3ARigJOAEeWuO-fDDpYHyA" type="Region" element="_3AQ7cpOAEeWuO-fDDpYHyA">
      <children xsi:type="notation:DecorationNode" xmi:id="_3ARig5OAEeWuO-fDDpYHyA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3ARihJOAEeWuO-fDDpYHyA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3ARihZOAEeWuO-fDDpYHyA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_3ASJkJOAEeWuO-fDDpYHyA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_3ASJlJOAEeWuO-fDDpYHyA" type="Entry" element="_3ASJk5OAEeWuO-fDDpYHyA">
          <children xmi:id="_3ASwoJOAEeWuO-fDDpYHyA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_3ASwo5OAEeWuO-fDDpYHyA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_3ASwpJOAEeWuO-fDDpYHyA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_3ASwpZOAEeWuO-fDDpYHyA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_3ASwoZOAEeWuO-fDDpYHyA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3ASwopOAEeWuO-fDDpYHyA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_3ASJlZOAEeWuO-fDDpYHyA" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3ASwppOAEeWuO-fDDpYHyA" x="132" width="15" height="15"/>
        </children>
        <children xmi:id="_sHgp8DenEeaQIqD3TyMHVw" type="State" element="_sHfb0DenEeaQIqD3TyMHVw">
          <children xsi:type="notation:DecorationNode" xmi:id="_sHgp9DenEeaQIqD3TyMHVw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_sHgp9TenEeaQIqD3TyMHVw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_sHhRADenEeaQIqD3TyMHVw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_sHhRATenEeaQIqD3TyMHVw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_sHhRAjenEeaQIqD3TyMHVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sHhRAzenEeaQIqD3TyMHVw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_sHhRBDenEeaQIqD3TyMHVw" type="StateFigureCompartment">
            <children xmi:id="_sHs3MDenEeaQIqD3TyMHVw" type="Region" element="_sHgC4TenEeaQIqD3TyMHVw">
              <children xsi:type="notation:DecorationNode" xmi:id="_sHs3MzenEeaQIqD3TyMHVw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_sHs3NDenEeaQIqD3TyMHVw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_sHs3NTenEeaQIqD3TyMHVw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_sHs3NjenEeaQIqD3TyMHVw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_DKiCADeaEeaQIqD3TyMHVw" type="State" element="_DKe-sDeaEeaQIqD3TyMHVw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_DKjQIDeaEeaQIqD3TyMHVw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_DKjQITeaEeaQIqD3TyMHVw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_DKjQIjeaEeaQIqD3TyMHVw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_DKj3MDeaEeaQIqD3TyMHVw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_DKj3MTeaEeaQIqD3TyMHVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DKj3MjeaEeaQIqD3TyMHVw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_DKj3MzeaEeaQIqD3TyMHVw" type="StateFigureCompartment">
                    <children xmi:id="_DK9f0DeaEeaQIqD3TyMHVw" type="Region" element="_DKgz4DeaEeaQIqD3TyMHVw">
                      <children xsi:type="notation:DecorationNode" xmi:id="_DK-G4jeaEeaQIqD3TyMHVw" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_DK-G4zeaEeaQIqD3TyMHVw"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_DK-G5DeaEeaQIqD3TyMHVw"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_DK_VADeaEeaQIqD3TyMHVw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_OiA3oDeaEeaQIqD3TyMHVw" type="State" element="_Oh-bYDeaEeaQIqD3TyMHVw">
                          <children xsi:type="notation:DecorationNode" xmi:id="_OiBesDeaEeaQIqD3TyMHVw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_OiBesTeaEeaQIqD3TyMHVw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_OiBesjeaEeaQIqD3TyMHVw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_OiBeszeaEeaQIqD3TyMHVw" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_OiCFwDeaEeaQIqD3TyMHVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OiCFwTeaEeaQIqD3TyMHVw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_OiCFwjeaEeaQIqD3TyMHVw" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_OiA3oTeaEeaQIqD3TyMHVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_OiA3ojeaEeaQIqD3TyMHVw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_OiCFwzeaEeaQIqD3TyMHVw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OiA3ozeaEeaQIqD3TyMHVw" x="11" y="23" width="117" height="62"/>
                        </children>
                        <children xmi:id="_YJ5X4DeaEeaQIqD3TyMHVw" type="Entry" element="_YJ4w0DeaEeaQIqD3TyMHVw">
                          <children xmi:id="_YJ5-8DeaEeaQIqD3TyMHVw" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_YJ5-8zeaEeaQIqD3TyMHVw" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_YJ5-9DeaEeaQIqD3TyMHVw"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_YJ5-9TeaEeaQIqD3TyMHVw"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_YJ5-8TeaEeaQIqD3TyMHVw" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YJ5-8jeaEeaQIqD3TyMHVw"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_YJ5X4TeaEeaQIqD3TyMHVw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_YJ5X4jeaEeaQIqD3TyMHVw" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YJ5X4zeaEeaQIqD3TyMHVw" x="60" y="-22"/>
                        </children>
                        <children xmi:id="_eMhBoDeaEeaQIqD3TyMHVw" type="State" element="_eMfMcDeaEeaQIqD3TyMHVw">
                          <children xsi:type="notation:DecorationNode" xmi:id="_eMhosDeaEeaQIqD3TyMHVw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_eMhosTeaEeaQIqD3TyMHVw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_eMhosjeaEeaQIqD3TyMHVw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_eMhoszeaEeaQIqD3TyMHVw" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_eMhotDeaEeaQIqD3TyMHVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eMhotTeaEeaQIqD3TyMHVw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_eMhotjeaEeaQIqD3TyMHVw" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_eMhBoTeaEeaQIqD3TyMHVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_eMhBojeaEeaQIqD3TyMHVw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_eMiPwDeaEeaQIqD3TyMHVw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eMhBozeaEeaQIqD3TyMHVw" x="285" y="23" width="117" height="62"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DK_VATeaEeaQIqD3TyMHVw"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_DK-G4DeaEeaQIqD3TyMHVw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DK-G4TeaEeaQIqD3TyMHVw"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_DKiCATeaEeaQIqD3TyMHVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_DKiCAjeaEeaQIqD3TyMHVw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_DKkeQDeaEeaQIqD3TyMHVw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DKiCAzeaEeaQIqD3TyMHVw" x="593" y="1" width="488" height="276"/>
                </children>
                <children xmi:id="_0kGbwDenEeaQIqD3TyMHVw" type="State" element="_0kFNoDenEeaQIqD3TyMHVw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_0kGbxDenEeaQIqD3TyMHVw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_0kGbxTenEeaQIqD3TyMHVw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_0kGbxjenEeaQIqD3TyMHVw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_0kGbxzenEeaQIqD3TyMHVw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_0kGbyDenEeaQIqD3TyMHVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0kGbyTenEeaQIqD3TyMHVw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_0kJfEDenEeaQIqD3TyMHVw" type="StateFigureCompartment">
                    <children xmi:id="_ZgiSUDeoEeaQIqD3TyMHVw" type="Region" element="_0kF0sDenEeaQIqD3TyMHVw">
                      <children xsi:type="notation:DecorationNode" xmi:id="_ZgiSUTeoEeaQIqD3TyMHVw" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZgiSUjeoEeaQIqD3TyMHVw"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZgiSUzeoEeaQIqD3TyMHVw"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_ZgiSVDeoEeaQIqD3TyMHVw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_ZgiSVTeoEeaQIqD3TyMHVw" type="State" element="_KQvHUDeoEeaQIqD3TyMHVw">
                          <children xsi:type="notation:DecorationNode" xmi:id="_ZgiSVjeoEeaQIqD3TyMHVw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_ZgiSVzeoEeaQIqD3TyMHVw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_ZgiSWDeoEeaQIqD3TyMHVw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_ZgiSWTeoEeaQIqD3TyMHVw" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_ZgiSWjeoEeaQIqD3TyMHVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZgiSWzeoEeaQIqD3TyMHVw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_ZgiSXDeoEeaQIqD3TyMHVw" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_ZgiSXTeoEeaQIqD3TyMHVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_ZgiSXjeoEeaQIqD3TyMHVw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ZgiSXzeoEeaQIqD3TyMHVw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZgiSYDeoEeaQIqD3TyMHVw" x="8" y="49" width="117"/>
                        </children>
                        <children xmi:id="_ZgiSYTeoEeaQIqD3TyMHVw" type="State" element="_Rt9G0DeoEeaQIqD3TyMHVw">
                          <children xsi:type="notation:DecorationNode" xmi:id="_ZgiSYjeoEeaQIqD3TyMHVw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_ZgiSYzeoEeaQIqD3TyMHVw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_ZgiSZDeoEeaQIqD3TyMHVw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_ZgiSZTeoEeaQIqD3TyMHVw" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_ZgiSZjeoEeaQIqD3TyMHVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZgiSZzeoEeaQIqD3TyMHVw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_ZgiSaDeoEeaQIqD3TyMHVw" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_ZgiSaTeoEeaQIqD3TyMHVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_ZgiSajeoEeaQIqD3TyMHVw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ZgiSazeoEeaQIqD3TyMHVw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZgiSbDeoEeaQIqD3TyMHVw" x="413" y="49" width="117"/>
                        </children>
                        <children xmi:id="_ZgiSbTeoEeaQIqD3TyMHVw" type="State" element="_UXU80DeoEeaQIqD3TyMHVw">
                          <children xsi:type="notation:DecorationNode" xmi:id="_ZgiSbjeoEeaQIqD3TyMHVw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_ZgiSbzeoEeaQIqD3TyMHVw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_ZgiScDeoEeaQIqD3TyMHVw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_ZgiScTeoEeaQIqD3TyMHVw" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_ZgiScjeoEeaQIqD3TyMHVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZgiSczeoEeaQIqD3TyMHVw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_ZgiSdDeoEeaQIqD3TyMHVw" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_ZgiSdTeoEeaQIqD3TyMHVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_ZgiSdjeoEeaQIqD3TyMHVw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ZgiSdzeoEeaQIqD3TyMHVw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZgiSeDeoEeaQIqD3TyMHVw" x="216" y="-13"/>
                        </children>
                        <children xmi:id="_ZgiSeTeoEeaQIqD3TyMHVw" type="State" element="_UpRBYDeoEeaQIqD3TyMHVw">
                          <children xsi:type="notation:DecorationNode" xmi:id="_ZgiSejeoEeaQIqD3TyMHVw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_ZgiSezeoEeaQIqD3TyMHVw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_ZgiSfDeoEeaQIqD3TyMHVw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_ZgiSfTeoEeaQIqD3TyMHVw" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_ZgiSfjeoEeaQIqD3TyMHVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZgiSfzeoEeaQIqD3TyMHVw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_ZgiSgDeoEeaQIqD3TyMHVw" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_ZgiSgTeoEeaQIqD3TyMHVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_ZgiSgjeoEeaQIqD3TyMHVw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ZgiSgzeoEeaQIqD3TyMHVw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZgiShDeoEeaQIqD3TyMHVw" x="212" y="111"/>
                        </children>
                        <children xmi:id="_ZgiShTeoEeaQIqD3TyMHVw" type="Entry" element="_XCh-0DeoEeaQIqD3TyMHVw">
                          <children xmi:id="_ZgiShjeoEeaQIqD3TyMHVw" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_ZgiShzeoEeaQIqD3TyMHVw" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_ZgiSiDeoEeaQIqD3TyMHVw"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_ZgiSiTeoEeaQIqD3TyMHVw"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_ZgiSijeoEeaQIqD3TyMHVw" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZgiSizeoEeaQIqD3TyMHVw"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_ZgiSjDeoEeaQIqD3TyMHVw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_ZgiSjTeoEeaQIqD3TyMHVw" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZgiSjjeoEeaQIqD3TyMHVw" x="23" y="-13"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZgiSjzeoEeaQIqD3TyMHVw"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_ZgiSkDeoEeaQIqD3TyMHVw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZgiSkTeoEeaQIqD3TyMHVw"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_0kGbwTenEeaQIqD3TyMHVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_0kGbwjenEeaQIqD3TyMHVw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_0kJfETenEeaQIqD3TyMHVw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0kGbwzenEeaQIqD3TyMHVw" width="574" height="278"/>
                </children>
                <children xmi:id="_6qEUcDenEeaQIqD3TyMHVw" type="DeepHistory" element="_6qDGUDenEeaQIqD3TyMHVw">
                  <children xmi:id="_6qEUdDenEeaQIqD3TyMHVw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_6qEUdzenEeaQIqD3TyMHVw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_6qEUeDenEeaQIqD3TyMHVw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_6qEUeTenEeaQIqD3TyMHVw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_6qEUdTenEeaQIqD3TyMHVw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6qEUdjenEeaQIqD3TyMHVw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_6qEUcTenEeaQIqD3TyMHVw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_6qEUcjenEeaQIqD3TyMHVw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6qEUczenEeaQIqD3TyMHVw" x="895" y="317" width="15" height="15"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sHs3NzenEeaQIqD3TyMHVw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_sHs3MTenEeaQIqD3TyMHVw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sHs3MjenEeaQIqD3TyMHVw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_sHgp8TenEeaQIqD3TyMHVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_sHgp8jenEeaQIqD3TyMHVw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_sHh4EDenEeaQIqD3TyMHVw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sHgp8zenEeaQIqD3TyMHVw" x="4" y="55" width="1121" height="427"/>
        </children>
        <children xmi:id="_KiFk8EjeEea-4JaroLz3NA" type="State" element="_KiGzEEjeEea-4JaroLz3NA">
          <children xsi:type="notation:DecorationNode" xmi:id="_KiFk8UjeEea-4JaroLz3NA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_KiFk8kjeEea-4JaroLz3NA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_KiFk80jeEea-4JaroLz3NA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_KiFk9EjeEea-4JaroLz3NA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_KiFk9UjeEea-4JaroLz3NA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KiFk9kjeEea-4JaroLz3NA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_KiFk90jeEea-4JaroLz3NA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_KiFk-EjeEea-4JaroLz3NA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_KiFk-UjeEea-4JaroLz3NA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_KiFk-kjeEea-4JaroLz3NA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KiFk-0jeEea-4JaroLz3NA" x="52" y="543" width="158" height="62"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3ASJkZOAEeWuO-fDDpYHyA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_3ARigZOAEeWuO-fDDpYHyA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3ASJkpOAEeWuO-fDDpYHyA" x="270" y="15" width="1149" height="696"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_3AUl05OAEeWuO-fDDpYHyA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_3AUl1ZOAEeWuO-fDDpYHyA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3AUl1pOAEeWuO-fDDpYHyA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3AUl15OAEeWuO-fDDpYHyA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_3AUl2JOAEeWuO-fDDpYHyA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3AUl2ZOAEeWuO-fDDpYHyA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3AUl2pOAEeWuO-fDDpYHyA" x="25" y="15" width="236" height="696"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_3AQ7cZOAEeWuO-fDDpYHyA"/>
    <edges xmi:id="_YfzWcDeaEeaQIqD3TyMHVw" type="Transition" element="_YfxhQDeaEeaQIqD3TyMHVw" source="_YJ5X4DeaEeaQIqD3TyMHVw" target="_OiA3oDeaEeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_YfzWdDeaEeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YfzWdTeaEeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YfzWdjeaEeaQIqD3TyMHVw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YfzWcTeaEeaQIqD3TyMHVw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YfzWczeaEeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YfzWcjeaEeaQIqD3TyMHVw" points="[-3, 7, 16, -27]$[-16, 27, 3, -7]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YgJUsDeaEeaQIqD3TyMHVw" id="(0.4375,0.1509433962264151)"/>
    </edges>
    <edges xmi:id="_gIUnADeaEeaQIqD3TyMHVw" type="Transition" element="_gISx0DeaEeaQIqD3TyMHVw" source="_OiA3oDeaEeaQIqD3TyMHVw" target="_eMhBoDeaEeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_gIVOETeaEeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gIVOEjeaEeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gIVOEzeaEeaQIqD3TyMHVw" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gIUnATeaEeaQIqD3TyMHVw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gIVOEDeaEeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gIUnAjeaEeaQIqD3TyMHVw" points="[18, 9, -166, 0]$[178, 9, -6, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gIxS8DeaEeaQIqD3TyMHVw" id="(0.9663865546218487,0.5064935064935064)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gIxS8TeaEeaQIqD3TyMHVw" id="(0.03296703296703297,0.4935064935064935)"/>
    </edges>
    <edges xmi:id="_gnAuIDeaEeaQIqD3TyMHVw" type="Transition" element="_gm-R4DeaEeaQIqD3TyMHVw" source="_eMhBoDeaEeaQIqD3TyMHVw" target="_OiA3oDeaEeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_gnBVMDeaEeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gnBVMTeaEeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gnBVMjeaEeaQIqD3TyMHVw" x="-1" y="-12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gnAuITeaEeaQIqD3TyMHVw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gnAuIzeaEeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gnAuIjeaEeaQIqD3TyMHVw" points="[0, 3, 264, 2]$[0, 43, 264, 42]$[-264, 43, 0, 42]$[-264, 3, 0, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gnbk4DeaEeaQIqD3TyMHVw" id="(0.5384615384615384,0.961038961038961)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gnbk4TeaEeaQIqD3TyMHVw" id="(0.4957983193277311,0.974025974025974)"/>
    </edges>
    <edges xmi:id="_7--R4DenEeaQIqD3TyMHVw" type="Transition" element="_7-9DwDenEeaQIqD3TyMHVw" source="_6qEUcDenEeaQIqD3TyMHVw" target="_DKiCADeaEeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_7--48TenEeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7--48jenEeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7--48zenEeaQIqD3TyMHVw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7--R4TenEeaQIqD3TyMHVw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7--48DenEeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7--R4jenEeaQIqD3TyMHVw" points="[7, -2, -124, 55]$[133, -50, 2, 7]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7_AuIDenEeaQIqD3TyMHVw" id="(0.6586538461538461,0.9818840579710145)"/>
    </edges>
    <edges xmi:id="_9clfYDenEeaQIqD3TyMHVw" type="Transition" element="_9ck4UDenEeaQIqD3TyMHVw" source="_KiFk8EjeEea-4JaroLz3NA" target="_sHgp8DenEeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_9crmATenEeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9crmAjenEeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9crmAzenEeaQIqD3TyMHVw" y="61"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9clfYTenEeaQIqD3TyMHVw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9crmADenEeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9clfYjenEeaQIqD3TyMHVw" points="[0, 0, 112, -117]$[-112, 0, 0, -117]$[-112, 112, 0, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9cvQYDenEeaQIqD3TyMHVw" id="(0.7468354430379747,0.016129032258064516)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9cvQYTenEeaQIqD3TyMHVw" id="(0.1409455842997324,0.9929742388758782)"/>
    </edges>
    <edges xmi:id="_-6vfcDenEeaQIqD3TyMHVw" type="Transition" element="_-6uRUDenEeaQIqD3TyMHVw" source="_sHgp8DenEeaQIqD3TyMHVw" target="_KiFk8EjeEea-4JaroLz3NA">
      <children xsi:type="notation:DecorationNode" xmi:id="_-6vfdDenEeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-6vfdTenEeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-6vfdjenEeaQIqD3TyMHVw" x="-1" y="51"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-6vfcTenEeaQIqD3TyMHVw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-6vfczenEeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-6vfcjenEeaQIqD3TyMHVw" points="[8, 5, 0, -69]$[8, 71, 0, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-6x7sDenEeaQIqD3TyMHVw" id="(0.0847457627118644,0.9836065573770492)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-6x7sTenEeaQIqD3TyMHVw" id="(0.23417721518987342,0.06451612903225806)"/>
    </edges>
    <edges xmi:id="_BfO1cDeoEeaQIqD3TyMHVw" type="Transition" element="_BfNnUDeoEeaQIqD3TyMHVw" source="_3ASJlJOAEeWuO-fDDpYHyA" target="_sHgp8DenEeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_BfO1dDeoEeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BfO1dTeoEeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BfO1djeoEeaQIqD3TyMHVw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BfO1cTeoEeaQIqD3TyMHVw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BfO1czeoEeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BfO1cjeoEeaQIqD3TyMHVw" points="[0, 7, 8, -212]$[-7, 216, 1, -3]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BfUVADeoEeaQIqD3TyMHVw" id="(0.12978524743230627,0.0117096018735363)"/>
    </edges>
    <edges xmi:id="_XbTrMDeoEeaQIqD3TyMHVw" type="Transition" element="_XbQA0DeoEeaQIqD3TyMHVw" source="_ZgiShTeoEeaQIqD3TyMHVw" target="_ZgiSVTeoEeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_XbUSQTeoEeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XbUSQjeoEeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XbUSQzeoEeaQIqD3TyMHVw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XbTrMTeoEeaQIqD3TyMHVw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XbUSQDeoEeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XbTrMjeoEeaQIqD3TyMHVw" points="[2, -7, -18, 67]$[21, -59, 1, 15]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XbWHcDeoEeaQIqD3TyMHVw" id="(0.14285714285714285,0.6981132075471698)"/>
    </edges>
    <edges xmi:id="_YFgewDeoEeaQIqD3TyMHVw" type="Transition" element="_YFepkDeoEeaQIqD3TyMHVw" source="_ZgiSVTeoEeaQIqD3TyMHVw" target="_ZgiSbTeoEeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_YFgexDeoEeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YFgexTeoEeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YFhF0DeoEeaQIqD3TyMHVw" x="-16" y="-9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YFgewTeoEeaQIqD3TyMHVw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YFgewzeoEeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YFgewjeoEeaQIqD3TyMHVw" points="[6, 0, -122, 40]$[134, 0, 6, 40]$[134, -36, 6, 4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YFkwMDeoEeaQIqD3TyMHVw" id="(0.9487179487179487,0.4032258064516129)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YFkwMTeoEeaQIqD3TyMHVw" id="(0.2692307692307692,0.9245283018867925)"/>
    </edges>
    <edges xmi:id="_Yc4c8DeoEeaQIqD3TyMHVw" type="Transition" element="_Yc3O0DeoEeaQIqD3TyMHVw" source="_ZgiSbTeoEeaQIqD3TyMHVw" target="_ZgiSVTeoEeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Yc5rEDeoEeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Yc5rETeoEeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Yc5rEjeoEeaQIqD3TyMHVw" x="-14" y="-9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Yc4c8TeoEeaQIqD3TyMHVw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Yc5EADeoEeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Yc4c8jeoEeaQIqD3TyMHVw" points="[-1, 7, 159, -51]$[-160, 7, 0, -51]$[-160, 55, 0, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YdEDIDeoEeaQIqD3TyMHVw" id="(0.019417475728155338,0.1509433962264151)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YdEDITeoEeaQIqD3TyMHVw" id="(0.44047619047619047,0.05660377358490566)"/>
    </edges>
    <edges xmi:id="_hjQLkDeoEeaQIqD3TyMHVw" type="Transition" element="_hjNvUDeoEeaQIqD3TyMHVw" source="_ZgiSbTeoEeaQIqD3TyMHVw" target="_ZgiSYTeoEeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_hjQLlDeoEeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hjQLlTeoEeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hjQLljeoEeaQIqD3TyMHVw" x="14" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hjQLkTeoEeaQIqD3TyMHVw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hjQLkzeoEeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hjQLkjeoEeaQIqD3TyMHVw" points="[10, 0, -154, -43]$[164, 0, 0, -43]$[164, 40, 0, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hjSn0DeoEeaQIqD3TyMHVw" id="(0.9029126213592233,0.4716981132075472)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hjSn0TeoEeaQIqD3TyMHVw" id="(0.5042735042735043,0.06451612903225806)"/>
    </edges>
    <edges xmi:id="_kA3dgDeoEeaQIqD3TyMHVw" type="Transition" element="_kA2PYDeoEeaQIqD3TyMHVw" source="_ZgiSYTeoEeaQIqD3TyMHVw" target="_ZgiSeTeoEeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_kA3dhDeoEeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kA3dhTeoEeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kA3dhjeoEeaQIqD3TyMHVw" x="8" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kA3dgTeoEeaQIqD3TyMHVw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kA3dgzeoEeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kA3dgjeoEeaQIqD3TyMHVw" points="[10, 12, 132, -31]$[10, 43, 132, 0]$[-119, 43, 3, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kA7H4DeoEeaQIqD3TyMHVw" id="(0.225,0.7924528301886793)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kA7H4TeoEeaQIqD3TyMHVw" id="(0.9732142857142857,0.5471698113207547)"/>
    </edges>
    <edges xmi:id="_msqVYDeoEeaQIqD3TyMHVw" type="Transition" element="_mspuUDeoEeaQIqD3TyMHVw" source="_ZgiSeTeoEeaQIqD3TyMHVw" target="_ZgiSYTeoEeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_msq8cTeoEeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_msq8cjeoEeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_msq8czeoEeaQIqD3TyMHVw" x="24" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_msqVYTeoEeaQIqD3TyMHVw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_msq8cDeoEeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_msqVYjeoEeaQIqD3TyMHVw" points="[8, 0, -116, 47]$[8, -47, -116, 0]$[123, -47, -1, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mssKkDeoEeaQIqD3TyMHVw" id="(0.7321428571428571,0.018867924528301886)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mssKkTeoEeaQIqD3TyMHVw" id="(0.017094017094017096,0.27419354838709675)"/>
    </edges>
    <edges xmi:id="_q5-qYDeoEeaQIqD3TyMHVw" type="Transition" element="_q59cQDeoEeaQIqD3TyMHVw" source="_ZgiSeTeoEeaQIqD3TyMHVw" target="_ZgiSVTeoEeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_q5_RczeoEeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_q5_RdDeoEeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_q5_RdTeoEeaQIqD3TyMHVw" x="12" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_q5_RcDeoEeaQIqD3TyMHVw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_q5_RcjeoEeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_q5_RcTeoEeaQIqD3TyMHVw" points="[-7, -7, 156, 31]$[-156, -7, 7, 31]$[-156, -35, 7, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_q6BGoDeoEeaQIqD3TyMHVw" id="(0.07142857142857142,0.6415094339622641)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_q6BGoTeoEeaQIqD3TyMHVw" id="(0.4358974358974359,0.9516129032258065)"/>
    </edges>
    <edges xmi:id="_v-P1gDeoEeaQIqD3TyMHVw" type="Transition" element="_v-OAUDeoEeaQIqD3TyMHVw" source="_DKiCADeaEeaQIqD3TyMHVw" target="_0kGbwDenEeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_v-P1hDeoEeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_v-P1hTeoEeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_v-P1hjeoEeaQIqD3TyMHVw" x="-5" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_v-P1gTeoEeaQIqD3TyMHVw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_v-P1gzeoEeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_v-P1gjeoEeaQIqD3TyMHVw" points="[8, 2, 103, 263]$[8, 35, 103, 296]$[-95, 35, 0, 296]$[-95, 3, 0, 264]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_v-SRwDeoEeaQIqD3TyMHVw" id="(0.06762295081967214,0.9927536231884058)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_v-SRwTeoEeaQIqD3TyMHVw" id="(0.9321357285429142,0.036231884057971016)"/>
    </edges>
    <edges xmi:id="_1TwhoDeoEeaQIqD3TyMHVw" type="Transition" element="_1TjGQDeoEeaQIqD3TyMHVw" source="_0kGbwDenEeaQIqD3TyMHVw" target="_DKiCADeaEeaQIqD3TyMHVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_1TwhpDeoEeaQIqD3TyMHVw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1TwhpTeoEeaQIqD3TyMHVw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1TwhpjeoEeaQIqD3TyMHVw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1TwhoTeoEeaQIqD3TyMHVw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1TwhozeoEeaQIqD3TyMHVw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1TwhojeoEeaQIqD3TyMHVw" points="[6, 4, -297, 4]$[6, 59, -297, 59]$[298, 59, -5, 59]$[298, 3, -5, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1TyW0DeoEeaQIqD3TyMHVw" id="(0.7784431137724551,0.9855072463768116)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1TyW0TeoEeaQIqD3TyMHVw" id="(0.31666666666666665,0.9891304347826086)"/>
    </edges>
    <edges xmi:id="_KiQkEEjeEea-4JaroLz3NA" type="Transition" element="_KiIBOkjeEea-4JaroLz3NA" source="_KiFk8EjeEea-4JaroLz3NA" target="_KiFk8EjeEea-4JaroLz3NA">
      <children xsi:type="notation:DecorationNode" xmi:id="_KiQkEUjeEea-4JaroLz3NA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KiQkEkjeEea-4JaroLz3NA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KiQkE0jeEea-4JaroLz3NA" x="-29" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KiQkFEjeEea-4JaroLz3NA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KiQkFUjeEea-4JaroLz3NA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KiQkFkjeEea-4JaroLz3NA" points="[3, 0, 49, -38]$[40, 0, 86, -38]$[40, 69, 86, 31]$[-40, 69, 6, 31]$[-40, 41, 6, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KiQkF0jeEea-4JaroLz3NA" id="(0.9803921568627451,0.2923076923076923)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KiQkGEjeEea-4JaroLz3NA" id="(0.6835443037974683,0.9555555555555556)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
