<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_4y7HkEdIEeaiPfQH0_D2xw" specification="interface:&#xA;// Define events and&#xA;// and variables here" name="the_state_machine">
    <regions xmi:id="_4y7upEdIEeaiPfQH0_D2xw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_4y8VtkdIEeaiPfQH0_D2xw">
        <outgoingTransitions xmi:id="_4y-K5kdIEeaiPfQH0_D2xw" target="_4y88x0dIEeaiPfQH0_D2xw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_4y88x0dIEeaiPfQH0_D2xw" name="The State" incomingTransitions="_4y-K5kdIEeaiPfQH0_D2xw">
        <outgoingTransitions xmi:id="_9TER8EdIEeaiPfQH0_D2xw" specification="after 42s" target="_9S-yYEdIEeaiPfQH0_D2xw"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_9S-yYEdIEeaiPfQH0_D2xw" incomingTransitions="_9TER8EdIEeaiPfQH0_D2xw"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_4y7uokdIEeaiPfQH0_D2xw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_4y7HkEdIEeaiPfQH0_D2xw" measurementUnit="Pixel">
    <children xmi:id="_4y7upUdIEeaiPfQH0_D2xw" type="Region" element="_4y7upEdIEeaiPfQH0_D2xw">
      <children xsi:type="notation:DecorationNode" xmi:id="_4y8VsEdIEeaiPfQH0_D2xw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4y8VsUdIEeaiPfQH0_D2xw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4y8VskdIEeaiPfQH0_D2xw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_4y8Vs0dIEeaiPfQH0_D2xw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_4y8Vt0dIEeaiPfQH0_D2xw" type="Entry" element="_4y8VtkdIEeaiPfQH0_D2xw">
          <children xmi:id="_4y88wEdIEeaiPfQH0_D2xw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_4y88w0dIEeaiPfQH0_D2xw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_4y88xEdIEeaiPfQH0_D2xw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_4y88xUdIEeaiPfQH0_D2xw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_4y88wUdIEeaiPfQH0_D2xw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4y88wkdIEeaiPfQH0_D2xw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_4y8VuEdIEeaiPfQH0_D2xw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_4y8VuUdIEeaiPfQH0_D2xw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4y88xkdIEeaiPfQH0_D2xw" x="70" y="20"/>
        </children>
        <children xmi:id="_4y9j0UdIEeaiPfQH0_D2xw" type="State" element="_4y88x0dIEeaiPfQH0_D2xw">
          <children xsi:type="notation:DecorationNode" xmi:id="_4y9j1UdIEeaiPfQH0_D2xw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_4y9j1kdIEeaiPfQH0_D2xw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_4y9j10dIEeaiPfQH0_D2xw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4y-K4EdIEeaiPfQH0_D2xw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_4y-K4UdIEeaiPfQH0_D2xw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4y-K4kdIEeaiPfQH0_D2xw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4y-K40dIEeaiPfQH0_D2xw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_4y9j0kdIEeaiPfQH0_D2xw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_4y9j00dIEeaiPfQH0_D2xw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_4y-K5EdIEeaiPfQH0_D2xw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4y-K5UdIEeaiPfQH0_D2xw" x="42" y="81"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_9TAAgEdIEeaiPfQH0_D2xw" type="FinalState" element="_9S-yYEdIEeaiPfQH0_D2xw" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9TAAgUdIEeaiPfQH0_D2xw" x="70" y="186"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4y8VtEdIEeaiPfQH0_D2xw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_4y7upkdIEeaiPfQH0_D2xw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4y8VtUdIEeaiPfQH0_D2xw" x="220" y="10" width="206" height="286"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_4y-x90dIEeaiPfQH0_D2xw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_4y_ZAEdIEeaiPfQH0_D2xw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4y_ZAUdIEeaiPfQH0_D2xw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4y_ZAkdIEeaiPfQH0_D2xw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_4y_ZA0dIEeaiPfQH0_D2xw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4y_ZBEdIEeaiPfQH0_D2xw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4y_ZBUdIEeaiPfQH0_D2xw" x="10" y="10" width="200" height="286"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_4y7uo0dIEeaiPfQH0_D2xw"/>
    <edges xmi:id="_4y-x8EdIEeaiPfQH0_D2xw" type="Transition" element="_4y-K5kdIEeaiPfQH0_D2xw" source="_4y8Vt0dIEeaiPfQH0_D2xw" target="_4y9j0UdIEeaiPfQH0_D2xw">
      <children xsi:type="notation:DecorationNode" xmi:id="_4y-x9EdIEeaiPfQH0_D2xw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4y-x9UdIEeaiPfQH0_D2xw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4y-x9kdIEeaiPfQH0_D2xw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4y-x8UdIEeaiPfQH0_D2xw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4y-x80dIEeaiPfQH0_D2xw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4y-x8kdIEeaiPfQH0_D2xw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_9TFgEEdIEeaiPfQH0_D2xw" type="Transition" element="_9TER8EdIEeaiPfQH0_D2xw" source="_4y9j0UdIEeaiPfQH0_D2xw" target="_9TAAgEdIEeaiPfQH0_D2xw">
      <children xsi:type="notation:DecorationNode" xmi:id="_9TJKcEdIEeaiPfQH0_D2xw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9TJKcUdIEeaiPfQH0_D2xw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9TJKckdIEeaiPfQH0_D2xw" x="-3" y="-36"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9TFgEUdIEeaiPfQH0_D2xw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9TIjYEdIEeaiPfQH0_D2xw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9TFgEkdIEeaiPfQH0_D2xw" points="[-18, -24, 58, 80]$[-77, -105, -1, -1]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
