.scene {
    height: 350px;
    width: 400px;
    display: flex;
    align-items: flex-end;
    border: 1px solid black;
    position: relative;
    background-color: #ffffff;
}

body {
    background-color: #ffffff;
}

.buttons{
    display: flex;
    align-items: end;
    position: relative;
}

.flexRowHere {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

#roadImage {
    width: 100%;
}

#trafficLight {
    position: absolute;
    width: 70px;
    left: 20px;
    margin-bottom: 10px;
}

.lamp {
    width: 19px;
    height: 19px;
    position: absolute;
    left: 45px;
    filter: brightness(110%);
}

#redLight {
    margin-bottom: 128px;
}

#greenLight {
    margin-bottom: 85px;
}

#yellowLight {
    margin-bottom: 107px;
}

.active {
    filter: brightness(110%);
}

#pedestrianImage {
    width: 25px;
    border: 1px solid black;
    position: absolute;
    left: 42px;
    margin-bottom: 155px;
}

.yellowPedestrianLight {
    position: absolute;
}

.pedestrianLight1 {
    width: 8px;
    height: 8px;
    left: 110px;
    margin-bottom: 85px;
}

.pedestrianLight2 {
    width: 12px;
    height: 12px;
    left: 317px;
    margin-bottom: 88px;
}

.App {
    font-family: sans-serif;
    text-align: center;
  }
  .image1 {
    position: relative;
    top: 0px;
    left: 0px;
  }
  .lights {
    position: relative;
    top: -250px;
    left: 0px;
  }
  .image2 {
    position: relative;
    top: -103.5px;
    left: 175px;
  }
  .image3 {
    position: relative;
    top: -6px;
    left: -2px;
  }
  .image4 {
    position: relative;
    top: 91px;
    left: -180px;
  }
  .divider {
    position: relative;
    top: 10px;
    left: 0px;
  }
  .divClass {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }