
.widget_menu_container {

  height: 450px;
  min-width: 442px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu_items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: auto;

}

.widget_menu_container_item {
  display: flex;
  flex-direction: row;
  height: 80px;

  align-items: center;

  cursor: pointer;

}

.widget_figure {
  width: 60px;
  display: flex;
  justify-content: center;
}

.widget_label {
  margin-left: 10px;
  font-size: 1.8em;
}

.controll_widgets {

  height: 50px;
  /*background-color: yellow; */
  width: 80%;
  margin-top: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.fueltank {
  width: 200px;
}

