<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_meJEkDxcEeev0a-Crql5pw" specification="@CycleBased(200)&#xA;@SuperSteps(no)&#xA;&#xA;import : &quot;coffee_machine.h&quot;&#xA;&#xA;&#xA;interface:&#xA;var recipe : cm_recipe_t&#xA;&#xA;&#xA;&#xA;internal:&#xA;&#xA;entry / &#xA;  recipe.coffee_mass = 6;&#xA;  recipe.water_volume = 100;&#xA;  recipe.milk_volume = 30&#xA;&#xA;&#xA;" name="ProcessCappucino" domainID="com.yakindu.domain.c">
    <regions xmi:id="_meKSsjxcEeev0a-Crql5pw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_meNWAzxcEeev0a-Crql5pw">
        <outgoingTransitions xmi:id="_mePyQzxcEeev0a-Crql5pw" target="_pgjssjxcEeev0a-Crql5pw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_pgjssjxcEeev0a-Crql5pw" specification="" name="Make Coffee" incomingTransitions="_mePyQzxcEeev0a-Crql5pw">
        <outgoingTransitions xmi:id="_l_jssD8xEeeE5NkjMUpZmQ" specification="" target="_pggpZDxcEeev0a-Crql5pw"/>
        <regions xmi:id="_pgkTwDxcEeev0a-Crql5pw" name="r">
          <vertices xsi:type="sgraph:State" xmi:id="_pgkTwTxcEeev0a-Crql5pw" specification="entry / startMilling&#xA;exit / stopMilling" name="Milling Beans" incomingTransitions="_pglh6DxcEeev0a-Crql5pw">
            <outgoingTransitions xmi:id="_pgkTzTxcEeev0a-Crql5pw" specification="after recipe.coffee_mass s" target="_pgk61DxcEeev0a-Crql5pw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_pgk61DxcEeev0a-Crql5pw" specification="entry / startPumping&#xA;exit / stopPumping" name="Brew Coffee" incomingTransitions="_pgkTzTxcEeev0a-Crql5pw">
            <outgoingTransitions xmi:id="_pgk64DxcEeev0a-Crql5pw" specification="after   recipe.water_volume * 60 ms" target="_pglh6TxcEeev0a-Crql5pw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_pglh5zxcEeev0a-Crql5pw">
            <outgoingTransitions xmi:id="_pglh6DxcEeev0a-Crql5pw" specification="" target="_pgkTwTxcEeev0a-Crql5pw"/>
          </vertices>
          <vertices xsi:type="sgraph:Exit" xmi:id="_pglh6TxcEeev0a-Crql5pw" name="" incomingTransitions="_pgk64DxcEeev0a-Crql5pw"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_pggpZDxcEeev0a-Crql5pw" name="Make Milk" incomingTransitions="_l_jssD8xEeeE5NkjMUpZmQ">
        <outgoingTransitions xmi:id="_o72esD8xEeeE5NkjMUpZmQ" specification="" target="_sTl4MDxgEeeA1fUaH_m99Q"/>
        <regions xmi:id="_pghQcTxcEeev0a-Crql5pw" name="r">
          <vertices xsi:type="sgraph:Entry" xmi:id="_pghQcjxcEeev0a-Crql5pw">
            <outgoingTransitions xmi:id="_pghQczxcEeev0a-Crql5pw" specification="" target="_pghQdDxcEeev0a-Crql5pw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_pghQdDxcEeev0a-Crql5pw" name="Make Steam" incomingTransitions="_pghQczxcEeev0a-Crql5pw">
            <outgoingTransitions xmi:id="_pgh3gTxcEeev0a-Crql5pw" specification="after  recipe.milk_volume  * 60   ms" target="_pgh3iTxcEeev0a-Crql5pw"/>
          </vertices>
          <vertices xsi:type="sgraph:Exit" xmi:id="_pgh3iTxcEeev0a-Crql5pw" name="" incomingTransitions="_pgh3gTxcEeev0a-Crql5pw"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_sTl4MDxgEeeA1fUaH_m99Q" incomingTransitions="_o72esD8xEeeE5NkjMUpZmQ"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_meKSsDxcEeev0a-Crql5pw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_meJEkDxcEeev0a-Crql5pw" measurementUnit="Pixel">
    <children xmi:id="_meK5wDxcEeev0a-Crql5pw" type="Region" element="_meKSsjxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_meMu8DxcEeev0a-Crql5pw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_meMu8TxcEeev0a-Crql5pw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_meMu8jxcEeev0a-Crql5pw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_meNWADxcEeev0a-Crql5pw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_meNWBDxcEeev0a-Crql5pw" type="Entry" element="_meNWAzxcEeev0a-Crql5pw">
          <children xmi:id="_meN9EDxcEeev0a-Crql5pw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_meN9EzxcEeev0a-Crql5pw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_meN9FDxcEeev0a-Crql5pw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_meN9FTxcEeev0a-Crql5pw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_meN9ETxcEeev0a-Crql5pw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meN9EjxcEeev0a-Crql5pw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_meNWBTxcEeev0a-Crql5pw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_meNWBjxcEeev0a-Crql5pw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meN9FjxcEeev0a-Crql5pw" x="225" y="-2"/>
        </children>
        <children xmi:id="_pgeNSTxcEeev0a-Crql5pw" type="State" element="_pgjssjxcEeev0a-Crql5pw">
          <children xsi:type="notation:DecorationNode" xmi:id="_pgeNSjxcEeev0a-Crql5pw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgeNSzxcEeev0a-Crql5pw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_pgeNTDxcEeev0a-Crql5pw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgeNTTxcEeev0a-Crql5pw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_pgeNTjxcEeev0a-Crql5pw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgeNTzxcEeev0a-Crql5pw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgeNUDxcEeev0a-Crql5pw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgeNUTxcEeev0a-Crql5pw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_pgeNUjxcEeev0a-Crql5pw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pgeNUzxcEeev0a-Crql5pw" name="isHorizontal" booleanValue="true"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pgeNVDxcEeev0a-Crql5pw" name="isInline"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgeNVTxcEeev0a-Crql5pw" x="187" y="44" width="103" height="45"/>
        </children>
        <children xmi:id="_pgeNLTxcEeev0a-Crql5pw" type="State" element="_pggpZDxcEeev0a-Crql5pw">
          <children xsi:type="notation:DecorationNode" xmi:id="_pgeNLjxcEeev0a-Crql5pw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgeNLzxcEeev0a-Crql5pw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_pgeNMDxcEeev0a-Crql5pw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgeNMTxcEeev0a-Crql5pw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_pgeNMjxcEeev0a-Crql5pw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgeNMzxcEeev0a-Crql5pw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgeNNDxcEeev0a-Crql5pw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgeNNTxcEeev0a-Crql5pw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_pgeNNjxcEeev0a-Crql5pw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pgeNNzxcEeev0a-Crql5pw" name="isHorizontal" booleanValue="true"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pgeNODxcEeev0a-Crql5pw" name="isInline"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgeNOTxcEeev0a-Crql5pw" x="195" y="135" width="88" height="45"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_sTntYDxgEeeA1fUaH_m99Q" type="FinalState" element="_sTl4MDxgEeeA1fUaH_m99Q" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sTntYTxgEeeA1fUaH_m99Q" x="231" y="227" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meNWATxcEeev0a-Crql5pw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_meK5wTxcEeev0a-Crql5pw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meNWAjxcEeev0a-Crql5pw" x="220" y="10" width="609" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_meRnczxcEeev0a-Crql5pw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_meRndTxcEeev0a-Crql5pw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_meRndjxcEeev0a-Crql5pw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_meRndzxcEeev0a-Crql5pw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_meRneDxcEeev0a-Crql5pw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meRneTxcEeev0a-Crql5pw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meSOgDxcEeev0a-Crql5pw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_meKSsTxcEeev0a-Crql5pw"/>
    <edges xmi:id="_meRAYDxcEeev0a-Crql5pw" type="Transition" element="_mePyQzxcEeev0a-Crql5pw" source="_meNWBDxcEeev0a-Crql5pw" target="_pgeNSTxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_meRncDxcEeev0a-Crql5pw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_meRncTxcEeev0a-Crql5pw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_meRncjxcEeev0a-Crql5pw" x="-10" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_meRAYTxcEeev0a-Crql5pw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_meRAYzxcEeev0a-Crql5pw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_meRAYjxcEeev0a-Crql5pw" points="[0, 7, 39, -47]$[0, 39, 39, -15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UP82QL2gEeivyve5R3c6_g" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xm-aMDxcEeev0a-Crql5pw" id="(0.06758620689655172,0.289811320754717)"/>
    </edges>
    <edges xmi:id="_l_lh4D8xEeeE5NkjMUpZmQ" type="Transition" element="_l_jssD8xEeeE5NkjMUpZmQ" source="_pgeNSTxcEeev0a-Crql5pw" target="_pgeNLTxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_l_mwAD8xEeeE5NkjMUpZmQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_l_mwAT8xEeeE5NkjMUpZmQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_l_mwAj8xEeeE5NkjMUpZmQ" x="2" y="9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_l_lh4T8xEeeE5NkjMUpZmQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_l_mI8D8xEeeE5NkjMUpZmQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_l_lh4j8xEeeE5NkjMUpZmQ" points="[-171, 24, -179, -55]$[-171, 62, -179, -17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_l_n-ID8xEeeE5NkjMUpZmQ" id="(2.162758620689655,0.561509433962264)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_l_n-IT8xEeeE5NkjMUpZmQ" id="(2.5238356164383564,0.3260377358490566)"/>
    </edges>
    <edges xmi:id="_o73s0D8xEeeE5NkjMUpZmQ" type="Transition" element="_o72esD8xEeeE5NkjMUpZmQ" source="_pgeNLTxcEeev0a-Crql5pw" target="_sTntYDxgEeeA1fUaH_m99Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_o74T4T8xEeeE5NkjMUpZmQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_o74T4j8xEeeE5NkjMUpZmQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_o74T4z8xEeeE5NkjMUpZmQ" x="-2" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_o73s0T8xEeeE5NkjMUpZmQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_o74T4D8xEeeE5NkjMUpZmQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_o73s0j8xEeeE5NkjMUpZmQ" points="[-101, 28, 3, -46]$[-101, 67, 3, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SzF2sL2gEeivyve5R3c6_g" id="(1.6780821917808222,0.48)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_T36wwL2gEeivyve5R3c6_g" id="(0.5,0.5)"/>
    </edges>
  </notation:Diagram>
  <notation:Diagram xmi:id="_pgbJ0DxcEeev0a-Crql5pw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_pgjssjxcEeev0a-Crql5pw" measurementUnit="Pixel">
    <children xmi:id="_pgbJ0TxcEeev0a-Crql5pw" type="Region" element="_pgkTwDxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_pgbJ0jxcEeev0a-Crql5pw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ0zxcEeev0a-Crql5pw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbJ1DxcEeev0a-Crql5pw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_pgbJ1TxcEeev0a-Crql5pw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_pgbJ1jxcEeev0a-Crql5pw" type="State" element="_pgkTwTxcEeev0a-Crql5pw">
          <children xsi:type="notation:DecorationNode" xmi:id="_pgbJ1zxcEeev0a-Crql5pw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ2DxcEeev0a-Crql5pw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbJ2TxcEeev0a-Crql5pw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgbJ2jxcEeev0a-Crql5pw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_pgbJ2zxcEeev0a-Crql5pw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbJ3DxcEeev0a-Crql5pw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgbJ3TxcEeev0a-Crql5pw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ3jxcEeev0a-Crql5pw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_pgbJ3zxcEeev0a-Crql5pw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pgbJ4DxcEeev0a-Crql5pw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbJ4TxcEeev0a-Crql5pw" x="76" y="12"/>
        </children>
        <children xmi:id="_pgbJ4jxcEeev0a-Crql5pw" type="State" element="_pgk61DxcEeev0a-Crql5pw">
          <children xsi:type="notation:DecorationNode" xmi:id="_pgbJ4zxcEeev0a-Crql5pw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ5DxcEeev0a-Crql5pw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbJ5TxcEeev0a-Crql5pw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgbJ5jxcEeev0a-Crql5pw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_pgbJ5zxcEeev0a-Crql5pw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbJ6DxcEeev0a-Crql5pw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgbJ6TxcEeev0a-Crql5pw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ6jxcEeev0a-Crql5pw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_pgbJ6zxcEeev0a-Crql5pw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pgbJ7DxcEeev0a-Crql5pw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbJ7TxcEeev0a-Crql5pw" x="76" y="115"/>
        </children>
        <children xmi:id="_pgbJ7jxcEeev0a-Crql5pw" type="Entry" element="_pglh5zxcEeev0a-Crql5pw">
          <children xmi:id="_pgbJ7zxcEeev0a-Crql5pw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_pgbJ8DxcEeev0a-Crql5pw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ8TxcEeev0a-Crql5pw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbJ8jxcEeev0a-Crql5pw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ8zxcEeev0a-Crql5pw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbJ9DxcEeev0a-Crql5pw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ9TxcEeev0a-Crql5pw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_pgbJ9jxcEeev0a-Crql5pw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbJ9zxcEeev0a-Crql5pw" x="18" y="12"/>
        </children>
        <children xmi:id="_pgbJ-DxcEeev0a-Crql5pw" type="Exit" element="_pglh6TxcEeev0a-Crql5pw">
          <children xmi:id="_pgbJ-TxcEeev0a-Crql5pw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_pgbJ-jxcEeev0a-Crql5pw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ-zxcEeev0a-Crql5pw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbJ_DxcEeev0a-Crql5pw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ_TxcEeev0a-Crql5pw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbJ_jxcEeev0a-Crql5pw" x="-4" y="-17"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ_zxcEeev0a-Crql5pw" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbKADxcEeev0a-Crql5pw" x="137" y="216"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbKATxcEeev0a-Crql5pw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbKAjxcEeev0a-Crql5pw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbKAzxcEeev0a-Crql5pw" width="445" height="285"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_pgbKBDxcEeev0a-Crql5pw"/>
    <edges xmi:id="_hqxxUDxeEeeWadcfAojgqw" type="Transition" element="_pgkTzTxcEeev0a-Crql5pw" source="_pgbJ1jxcEeev0a-Crql5pw" target="_pgbJ4jxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_hqy_cDxeEeeWadcfAojgqw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hqy_cTxeEeeWadcfAojgqw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hqy_cjxeEeeWadcfAojgqw" x="-5" y="-112"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hqxxUTxeEeeWadcfAojgqw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hqyYYDxeEeeWadcfAojgqw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hqxxUjxeEeeWadcfAojgqw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_hq00oDxeEeeWadcfAojgqw" type="Transition" element="_pglh6DxcEeev0a-Crql5pw" source="_pgbJ7jxcEeev0a-Crql5pw" target="_pgbJ1jxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_hq00pDxeEeeWadcfAojgqw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hq00pTxeEeeWadcfAojgqw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hq00pjxeEeeWadcfAojgqw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hq00oTxeEeeWadcfAojgqw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hq00ozxeEeeWadcfAojgqw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hq00ojxeEeeWadcfAojgqw" points="[-2, -2, 2, 2]$[-1, -1, 3, 3]"/>
    </edges>
    <edges xmi:id="_hq2CwDxeEeeWadcfAojgqw" type="Transition" element="_pgk64DxcEeev0a-Crql5pw" source="_pgbJ4jxcEeev0a-Crql5pw" target="_pgbJ-DxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_hq2CxDxeEeeWadcfAojgqw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hq2CxTxeEeeWadcfAojgqw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hq2CxjxeEeeWadcfAojgqw" x="-2" y="-120"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hq2CwTxeEeeWadcfAojgqw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hq2CwzxeEeeWadcfAojgqw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hq2CwjxeEeeWadcfAojgqw" points="[-8, 31, 12, -42]$[-8, 73, 12, 0]$[-13, 73, 7, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_J3dYcL2gEeivyve5R3c6_g" id="(0.5,0.5)"/>
    </edges>
  </notation:Diagram>
  <notation:Diagram xmi:id="_pgbw4DxcEeev0a-Crql5pw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_pggpZDxcEeev0a-Crql5pw" measurementUnit="Pixel">
    <children xmi:id="_pgbw4TxcEeev0a-Crql5pw" type="Region" element="_pghQcTxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_pgbw4jxcEeev0a-Crql5pw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbw4zxcEeev0a-Crql5pw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbw5DxcEeev0a-Crql5pw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_pgbw5TxcEeev0a-Crql5pw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_pgbw5jxcEeev0a-Crql5pw" type="Entry" element="_pghQcjxcEeev0a-Crql5pw">
          <children xmi:id="_pgbw5zxcEeev0a-Crql5pw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_pgbw6DxcEeev0a-Crql5pw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbw6TxcEeev0a-Crql5pw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbw6jxcEeev0a-Crql5pw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbw6zxcEeev0a-Crql5pw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbw7DxcEeev0a-Crql5pw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbw7TxcEeev0a-Crql5pw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_pgbw7jxcEeev0a-Crql5pw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbw7zxcEeev0a-Crql5pw" x="5" y="-5"/>
        </children>
        <children xmi:id="_pgbw8DxcEeev0a-Crql5pw" type="State" element="_pghQdDxcEeev0a-Crql5pw">
          <children xsi:type="notation:DecorationNode" xmi:id="_pgbw8TxcEeev0a-Crql5pw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbw8jxcEeev0a-Crql5pw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbw8zxcEeev0a-Crql5pw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgbw9DxcEeev0a-Crql5pw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_pgbw9TxcEeev0a-Crql5pw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbw9jxcEeev0a-Crql5pw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgbw9zxcEeev0a-Crql5pw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbw-DxcEeev0a-Crql5pw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_pgbw-TxcEeev0a-Crql5pw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pgbw-jxcEeev0a-Crql5pw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbw-zxcEeev0a-Crql5pw" x="51" y="-16"/>
        </children>
        <children xmi:id="_pgbw_DxcEeev0a-Crql5pw" type="Exit" element="_pgh3iTxcEeev0a-Crql5pw">
          <children xmi:id="_pgbw_TxcEeev0a-Crql5pw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_pgbw_jxcEeev0a-Crql5pw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbw_zxcEeev0a-Crql5pw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbxADxcEeev0a-Crql5pw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbxATxcEeev0a-Crql5pw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbxAjxcEeev0a-Crql5pw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbxAzxcEeev0a-Crql5pw" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbxBDxcEeev0a-Crql5pw" x="91" y="142" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbxBTxcEeev0a-Crql5pw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbxBjxcEeev0a-Crql5pw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbxBzxcEeev0a-Crql5pw" x="40" y="35" width="386" height="232"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_pgbxCDxcEeev0a-Crql5pw"/>
    <edges xmi:id="_qb23UDxcEeev0a-Crql5pw" type="Transition" element="_pgh3gTxcEeev0a-Crql5pw" source="_pgbw8DxcEeev0a-Crql5pw" target="_pgbw_DxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_qb23VDxcEeev0a-Crql5pw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qb23VTxcEeev0a-Crql5pw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qb23VjxcEeev0a-Crql5pw" x="-16" y="-123"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qb23UTxcEeev0a-Crql5pw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qb23UzxcEeev0a-Crql5pw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qb23UjxcEeev0a-Crql5pw" points="[-2, 27, -2, -112]$[-2, 132, -2, -7]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IAIqcL2gEeivyve5R3c6_g" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_qb4sgDxcEeev0a-Crql5pw" type="Transition" element="_pghQczxcEeev0a-Crql5pw" source="_pgbw5jxcEeev0a-Crql5pw" target="_pgbw8DxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_qb4shDxcEeev0a-Crql5pw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qb4shTxcEeev0a-Crql5pw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qb4shjxcEeev0a-Crql5pw" x="-2" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qb4sgTxcEeev0a-Crql5pw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qb4sgzxcEeev0a-Crql5pw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qb4sgjxcEeev0a-Crql5pw" points="[7, 0, -66, -6]$[39, 0, -34, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dO2D4L2gEeivyve5R3c6_g" id="(0.5,0.5)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
