<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_meJEkDxcEeev0a-Crql5pw" specification="import : &quot;coffee_machine.h&quot;&#xA;&#xA;&#xA;interface:&#xA;var recipe : cm_recipe_t&#xA;&#xA;&#xA;&#xA;&#xA;internal:&#xA;&#xA;entry / &#xA;  recipe.coffee_mass = 6;&#xA;  recipe.water_volume = 150;&#xA;  recipe.milk_volume = 0&#xA;" name="ProcessCoffee" domainID="com.yakindu.domain.c">
    <regions xmi:id="_meKSsjxcEeev0a-Crql5pw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_meNWAzxcEeev0a-Crql5pw">
        <outgoingTransitions xmi:id="_mePyQzxcEeev0a-Crql5pw" target="_pgjssjxcEeev0a-Crql5pw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_pgjssjxcEeev0a-Crql5pw" specification="" name="Make Coffee" incomingTransitions="_mePyQzxcEeev0a-Crql5pw">
        <outgoingTransitions xmi:id="_tdHN8D8yEeeE5NkjMUpZmQ" specification="" target="_sTl4MDxgEeeA1fUaH_m99Q"/>
        <regions xmi:id="_pgkTwDxcEeev0a-Crql5pw" name="r">
          <vertices xsi:type="sgraph:State" xmi:id="_pgkTwTxcEeev0a-Crql5pw" specification="entry / startMilling&#xA;exit / stopMilling" name="Milling Beans" incomingTransitions="_pglh6DxcEeev0a-Crql5pw">
            <outgoingTransitions xmi:id="_pgkTzTxcEeev0a-Crql5pw" specification="after recipe.coffee_mass s" target="_pgk61DxcEeev0a-Crql5pw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_pgk61DxcEeev0a-Crql5pw" specification="entry / startPumping&#xA;exit / stopPumping" name="Brew Coffee" incomingTransitions="_pgkTzTxcEeev0a-Crql5pw">
            <outgoingTransitions xmi:id="_pgk64DxcEeev0a-Crql5pw" specification="after &#xA;recipe.water_volume * 60 ms" target="_pglh6TxcEeev0a-Crql5pw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_pglh5zxcEeev0a-Crql5pw">
            <outgoingTransitions xmi:id="_pglh6DxcEeev0a-Crql5pw" specification="" target="_pgkTwTxcEeev0a-Crql5pw"/>
          </vertices>
          <vertices xsi:type="sgraph:Exit" xmi:id="_pglh6TxcEeev0a-Crql5pw" name="" incomingTransitions="_pgk64DxcEeev0a-Crql5pw"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_sTl4MDxgEeeA1fUaH_m99Q" incomingTransitions="_tdHN8D8yEeeE5NkjMUpZmQ"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_meKSsDxcEeev0a-Crql5pw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_meJEkDxcEeev0a-Crql5pw" measurementUnit="Pixel">
    <children xmi:id="_meK5wDxcEeev0a-Crql5pw" type="Region" element="_meKSsjxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_meMu8DxcEeev0a-Crql5pw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_meMu8TxcEeev0a-Crql5pw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_meMu8jxcEeev0a-Crql5pw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_meNWADxcEeev0a-Crql5pw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_meNWBDxcEeev0a-Crql5pw" type="Entry" element="_meNWAzxcEeev0a-Crql5pw">
          <children xmi:id="_meN9EDxcEeev0a-Crql5pw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_meN9EzxcEeev0a-Crql5pw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_meN9FDxcEeev0a-Crql5pw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_meN9FTxcEeev0a-Crql5pw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_meN9ETxcEeev0a-Crql5pw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meN9EjxcEeev0a-Crql5pw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_meNWBTxcEeev0a-Crql5pw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_meNWBjxcEeev0a-Crql5pw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meN9FjxcEeev0a-Crql5pw" x="53" y="33"/>
        </children>
        <children xmi:id="_pgeNSTxcEeev0a-Crql5pw" type="State" element="_pgjssjxcEeev0a-Crql5pw">
          <children xsi:type="notation:DecorationNode" xmi:id="_pgeNSjxcEeev0a-Crql5pw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgeNSzxcEeev0a-Crql5pw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_pgeNTDxcEeev0a-Crql5pw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgeNTTxcEeev0a-Crql5pw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_pgeNTjxcEeev0a-Crql5pw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgeNTzxcEeev0a-Crql5pw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgeNUDxcEeev0a-Crql5pw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgeNUTxcEeev0a-Crql5pw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_pgeNUjxcEeev0a-Crql5pw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pgeNUzxcEeev0a-Crql5pw" name="isHorizontal" booleanValue="true"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pgeNVDxcEeev0a-Crql5pw" name="isInline"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgeNVTxcEeev0a-Crql5pw" x="193" y="17" width="250"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_sTntYDxgEeeA1fUaH_m99Q" type="FinalState" element="_sTl4MDxgEeeA1fUaH_m99Q" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sTntYTxgEeeA1fUaH_m99Q" x="313" y="141"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meNWATxcEeev0a-Crql5pw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_meK5wTxcEeev0a-Crql5pw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meNWAjxcEeev0a-Crql5pw" x="220" y="10" width="609" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_meRnczxcEeev0a-Crql5pw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_meRndTxcEeev0a-Crql5pw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_meRndjxcEeev0a-Crql5pw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_meRndzxcEeev0a-Crql5pw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_meRneDxcEeev0a-Crql5pw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meRneTxcEeev0a-Crql5pw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meSOgDxcEeev0a-Crql5pw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_meKSsTxcEeev0a-Crql5pw"/>
    <edges xmi:id="_meRAYDxcEeev0a-Crql5pw" type="Transition" element="_mePyQzxcEeev0a-Crql5pw" source="_meNWBDxcEeev0a-Crql5pw" target="_pgeNSTxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_meRncDxcEeev0a-Crql5pw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_meRncTxcEeev0a-Crql5pw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_meRncjxcEeev0a-Crql5pw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_meRAYTxcEeev0a-Crql5pw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_meRAYzxcEeev0a-Crql5pw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_meRAYjxcEeev0a-Crql5pw" points="[7, 0, -138, 13]$[133, 0, -12, 13]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xm-aMDxcEeev0a-Crql5pw" id="(0.052,0.22641509433962265)"/>
    </edges>
    <edges xmi:id="_tdIcED8yEeeE5NkjMUpZmQ" type="Transition" element="_tdHN8D8yEeeE5NkjMUpZmQ" source="_pgeNSTxcEeev0a-Crql5pw" target="_sTntYDxgEeeA1fUaH_m99Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_tdIcFD8yEeeE5NkjMUpZmQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tdIcFT8yEeeE5NkjMUpZmQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tdIcFj8yEeeE5NkjMUpZmQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tdIcET8yEeeE5NkjMUpZmQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tdIcEz8yEeeE5NkjMUpZmQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tdIcEj8yEeeE5NkjMUpZmQ" points="[0, 0, 14, -83]$[-17, 90, -3, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tdJDID8yEeeE5NkjMUpZmQ" id="(0.556,1.0)"/>
    </edges>
  </notation:Diagram>
  <notation:Diagram xmi:id="_pgbJ0DxcEeev0a-Crql5pw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_pgjssjxcEeev0a-Crql5pw" measurementUnit="Pixel">
    <children xmi:id="_pgbJ0TxcEeev0a-Crql5pw" type="Region" element="_pgkTwDxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_pgbJ0jxcEeev0a-Crql5pw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ0zxcEeev0a-Crql5pw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbJ1DxcEeev0a-Crql5pw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_pgbJ1TxcEeev0a-Crql5pw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_pgbJ1jxcEeev0a-Crql5pw" type="State" element="_pgkTwTxcEeev0a-Crql5pw">
          <children xsi:type="notation:DecorationNode" xmi:id="_pgbJ1zxcEeev0a-Crql5pw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ2DxcEeev0a-Crql5pw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbJ2TxcEeev0a-Crql5pw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgbJ2jxcEeev0a-Crql5pw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_pgbJ2zxcEeev0a-Crql5pw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbJ3DxcEeev0a-Crql5pw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgbJ3TxcEeev0a-Crql5pw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ3jxcEeev0a-Crql5pw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_pgbJ3zxcEeev0a-Crql5pw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pgbJ4DxcEeev0a-Crql5pw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbJ4TxcEeev0a-Crql5pw" x="76" y="12"/>
        </children>
        <children xmi:id="_pgbJ4jxcEeev0a-Crql5pw" type="State" element="_pgk61DxcEeev0a-Crql5pw">
          <children xsi:type="notation:DecorationNode" xmi:id="_pgbJ4zxcEeev0a-Crql5pw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ5DxcEeev0a-Crql5pw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbJ5TxcEeev0a-Crql5pw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgbJ5jxcEeev0a-Crql5pw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_pgbJ5zxcEeev0a-Crql5pw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbJ6DxcEeev0a-Crql5pw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgbJ6TxcEeev0a-Crql5pw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ6jxcEeev0a-Crql5pw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_pgbJ6zxcEeev0a-Crql5pw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pgbJ7DxcEeev0a-Crql5pw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbJ7TxcEeev0a-Crql5pw" x="76" y="127"/>
        </children>
        <children xmi:id="_pgbJ7jxcEeev0a-Crql5pw" type="Entry" element="_pglh5zxcEeev0a-Crql5pw">
          <children xmi:id="_pgbJ7zxcEeev0a-Crql5pw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_pgbJ8DxcEeev0a-Crql5pw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ8TxcEeev0a-Crql5pw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbJ8jxcEeev0a-Crql5pw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ8zxcEeev0a-Crql5pw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbJ9DxcEeev0a-Crql5pw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ9TxcEeev0a-Crql5pw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_pgbJ9jxcEeev0a-Crql5pw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbJ9zxcEeev0a-Crql5pw" x="21" y="29"/>
        </children>
        <children xmi:id="_pgbJ-DxcEeev0a-Crql5pw" type="Exit" element="_pglh6TxcEeev0a-Crql5pw">
          <children xmi:id="_pgbJ-TxcEeev0a-Crql5pw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_pgbJ-jxcEeev0a-Crql5pw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ-zxcEeev0a-Crql5pw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbJ_DxcEeev0a-Crql5pw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ_TxcEeev0a-Crql5pw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbJ_jxcEeev0a-Crql5pw" x="-4" y="-17"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbJ_zxcEeev0a-Crql5pw" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbKADxcEeev0a-Crql5pw" x="145" y="231"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbKATxcEeev0a-Crql5pw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbKAjxcEeev0a-Crql5pw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbKAzxcEeev0a-Crql5pw" width="416" height="300"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_pgbKBDxcEeev0a-Crql5pw"/>
    <edges xmi:id="_hqxxUDxeEeeWadcfAojgqw" type="Transition" element="_pgkTzTxcEeev0a-Crql5pw" source="_pgbJ1jxcEeev0a-Crql5pw" target="_pgbJ4jxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_hqy_cDxeEeeWadcfAojgqw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hqy_cTxeEeeWadcfAojgqw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hqy_cjxeEeeWadcfAojgqw" x="-1" y="-103"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hqxxUTxeEeeWadcfAojgqw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hqyYYDxeEeeWadcfAojgqw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hqxxUjxeEeeWadcfAojgqw" points="[-2, 25, -7, -90]$[-2, 91, -7, -24]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_d-zPQL2iEeivyve5R3c6_g" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_hq00oDxeEeeWadcfAojgqw" type="Transition" element="_pglh6DxcEeev0a-Crql5pw" source="_pgbJ7jxcEeev0a-Crql5pw" target="_pgbJ1jxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_hq00pDxeEeeWadcfAojgqw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hq00pTxeEeeWadcfAojgqw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hq00pjxeEeeWadcfAojgqw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hq00oTxeEeeWadcfAojgqw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hq00ozxeEeeWadcfAojgqw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hq00ojxeEeeWadcfAojgqw" points="[-2, -2, 2, 2]$[-1, -1, 3, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jH53EL2iEeivyve5R3c6_g" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_hq2CwDxeEeeWadcfAojgqw" type="Transition" element="_pgk64DxcEeev0a-Crql5pw" source="_pgbJ4jxcEeev0a-Crql5pw" target="_pgbJ-DxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_hq2CxDxeEeeWadcfAojgqw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hq2CxTxeEeeWadcfAojgqw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hq2CxjxeEeeWadcfAojgqw" x="-7" y="-108"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hq2CwTxeEeeWadcfAojgqw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hq2CwzxeEeeWadcfAojgqw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hq2CwjxeEeeWadcfAojgqw" points="[3, 3, 0, 0]$[2, 2, -1, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_d-zPQb2iEeivyve5R3c6_g" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ceJU0L2iEeivyve5R3c6_g" id="(0.5,0.5)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
