<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_meJEkDxcEeev0a-Crql5pw" specification="@CycleBased(200)&#xA;@SuperSteps(no)&#xA;&#xA;import : &quot;coffee_machine.h&quot;&#xA;&#xA;interface:&#xA;var recipe : cm_recipe_t&#xA;&#xA;internal:&#xA;&#xA;entry / &#xA;  recipe.coffee_mass = 0;&#xA;  recipe.water_volume = 0;&#xA;  recipe.milk_volume = 150&#xA;" name="ProcessMilk" domainID="com.yakindu.domain.c">
    <regions xmi:id="_meKSsjxcEeev0a-Crql5pw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_meNWAzxcEeev0a-Crql5pw">
        <outgoingTransitions xmi:id="_mePyQzxcEeev0a-Crql5pw" target="_pggpZDxcEeev0a-Crql5pw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_pggpZDxcEeev0a-Crql5pw" name="Make Milk" incomingTransitions="_mePyQzxcEeev0a-Crql5pw">
        <outgoingTransitions xmi:id="_ToFvsD89EeeE5NkjMUpZmQ" specification="# done >" target="_sTl4MDxgEeeA1fUaH_m99Q"/>
        <regions xmi:id="_pghQcTxcEeev0a-Crql5pw" name="r">
          <vertices xsi:type="sgraph:Entry" xmi:id="_pghQcjxcEeev0a-Crql5pw">
            <outgoingTransitions xmi:id="_pghQczxcEeev0a-Crql5pw" specification="" target="_pghQdDxcEeev0a-Crql5pw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_pghQdDxcEeev0a-Crql5pw" name="Make Steam" incomingTransitions="_pghQczxcEeev0a-Crql5pw">
            <outgoingTransitions xmi:id="_pgh3gTxcEeev0a-Crql5pw" specification="after &#xA;  recipe.milk_volume &#xA;  * 60 &#xA;  ms" target="_pgh3iTxcEeev0a-Crql5pw"/>
          </vertices>
          <vertices xsi:type="sgraph:Exit" xmi:id="_pgh3iTxcEeev0a-Crql5pw" name="done" incomingTransitions="_pgh3gTxcEeev0a-Crql5pw"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_sTl4MDxgEeeA1fUaH_m99Q" incomingTransitions="_ToFvsD89EeeE5NkjMUpZmQ"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_meKSsDxcEeev0a-Crql5pw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_meJEkDxcEeev0a-Crql5pw" measurementUnit="Pixel">
    <children xmi:id="_meK5wDxcEeev0a-Crql5pw" type="Region" element="_meKSsjxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_meMu8DxcEeev0a-Crql5pw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_meMu8TxcEeev0a-Crql5pw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_meMu8jxcEeev0a-Crql5pw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_meNWADxcEeev0a-Crql5pw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_meNWBDxcEeev0a-Crql5pw" type="Entry" element="_meNWAzxcEeev0a-Crql5pw">
          <children xmi:id="_meN9EDxcEeev0a-Crql5pw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_meN9EzxcEeev0a-Crql5pw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_meN9FDxcEeev0a-Crql5pw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_meN9FTxcEeev0a-Crql5pw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_meN9ETxcEeev0a-Crql5pw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meN9EjxcEeev0a-Crql5pw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_meNWBTxcEeev0a-Crql5pw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_meNWBjxcEeev0a-Crql5pw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meN9FjxcEeev0a-Crql5pw" x="49" y="61"/>
        </children>
        <children xmi:id="_pgeNLTxcEeev0a-Crql5pw" type="State" element="_pggpZDxcEeev0a-Crql5pw">
          <children xsi:type="notation:DecorationNode" xmi:id="_pgeNLjxcEeev0a-Crql5pw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgeNLzxcEeev0a-Crql5pw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_pgeNMDxcEeev0a-Crql5pw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgeNMTxcEeev0a-Crql5pw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_pgeNMjxcEeev0a-Crql5pw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgeNMzxcEeev0a-Crql5pw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgeNNDxcEeev0a-Crql5pw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgeNNTxcEeev0a-Crql5pw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_pgeNNjxcEeev0a-Crql5pw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pgeNNzxcEeev0a-Crql5pw" name="isHorizontal" booleanValue="true"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pgeNODxcEeev0a-Crql5pw" name="isInline"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgeNOTxcEeev0a-Crql5pw" x="201" y="49" width="250"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_sTntYDxgEeeA1fUaH_m99Q" type="FinalState" element="_sTl4MDxgEeeA1fUaH_m99Q" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sTntYTxgEeeA1fUaH_m99Q" x="315" y="164"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meNWATxcEeev0a-Crql5pw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_meK5wTxcEeev0a-Crql5pw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meNWAjxcEeev0a-Crql5pw" x="220" y="10" width="609" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_meRnczxcEeev0a-Crql5pw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_meRndTxcEeev0a-Crql5pw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_meRndjxcEeev0a-Crql5pw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_meRndzxcEeev0a-Crql5pw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_meRneDxcEeev0a-Crql5pw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meRneTxcEeev0a-Crql5pw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_meSOgDxcEeev0a-Crql5pw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_meKSsTxcEeev0a-Crql5pw"/>
    <edges xmi:id="_meRAYDxcEeev0a-Crql5pw" type="Transition" element="_mePyQzxcEeev0a-Crql5pw" source="_meNWBDxcEeev0a-Crql5pw" target="_pgeNLTxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_meRncDxcEeev0a-Crql5pw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_meRncTxcEeev0a-Crql5pw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_meRncjxcEeev0a-Crql5pw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_meRAYTxcEeev0a-Crql5pw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_meRAYzxcEeev0a-Crql5pw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_meRAYjxcEeev0a-Crql5pw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xm-aMDxcEeev0a-Crql5pw" id="(0.116,0.20754716981132076)"/>
    </edges>
    <edges xmi:id="_ToG90D89EeeE5NkjMUpZmQ" type="Transition" element="_ToFvsD89EeeE5NkjMUpZmQ" source="_pgeNLTxcEeev0a-Crql5pw" target="_sTntYDxgEeeA1fUaH_m99Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_ToG91D89EeeE5NkjMUpZmQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ToG91T89EeeE5NkjMUpZmQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ToG91j89EeeE5NkjMUpZmQ" x="4" y="-31"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ToG90T89EeeE5NkjMUpZmQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ToG90z89EeeE5NkjMUpZmQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ToG90j89EeeE5NkjMUpZmQ" points="[-6, 24, 2, -67]$[-1, 88, 7, -3]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_teHkUL2fEeivyve5R3c6_g" id="(0.5,0.5)"/>
    </edges>
  </notation:Diagram>
  <notation:Diagram xmi:id="_pgbw4DxcEeev0a-Crql5pw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_pggpZDxcEeev0a-Crql5pw" measurementUnit="Pixel">
    <children xmi:id="_pgbw4TxcEeev0a-Crql5pw" type="Region" element="_pghQcTxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_pgbw4jxcEeev0a-Crql5pw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbw4zxcEeev0a-Crql5pw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbw5DxcEeev0a-Crql5pw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_pgbw5TxcEeev0a-Crql5pw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_pgbw5jxcEeev0a-Crql5pw" type="Entry" element="_pghQcjxcEeev0a-Crql5pw">
          <children xmi:id="_pgbw5zxcEeev0a-Crql5pw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_pgbw6DxcEeev0a-Crql5pw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbw6TxcEeev0a-Crql5pw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbw6jxcEeev0a-Crql5pw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbw6zxcEeev0a-Crql5pw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbw7DxcEeev0a-Crql5pw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbw7TxcEeev0a-Crql5pw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_pgbw7jxcEeev0a-Crql5pw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbw7zxcEeev0a-Crql5pw" x="7" y="-12"/>
        </children>
        <children xmi:id="_pgbw8DxcEeev0a-Crql5pw" type="State" element="_pghQdDxcEeev0a-Crql5pw">
          <children xsi:type="notation:DecorationNode" xmi:id="_pgbw8TxcEeev0a-Crql5pw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbw8jxcEeev0a-Crql5pw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbw8zxcEeev0a-Crql5pw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgbw9DxcEeev0a-Crql5pw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_pgbw9TxcEeev0a-Crql5pw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbw9jxcEeev0a-Crql5pw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pgbw9zxcEeev0a-Crql5pw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbw-DxcEeev0a-Crql5pw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_pgbw-TxcEeev0a-Crql5pw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pgbw-jxcEeev0a-Crql5pw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbw-zxcEeev0a-Crql5pw" x="51" y="-16"/>
        </children>
        <children xmi:id="_pgbw_DxcEeev0a-Crql5pw" type="Exit" element="_pgh3iTxcEeev0a-Crql5pw">
          <children xmi:id="_pgbw_TxcEeev0a-Crql5pw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_pgbw_jxcEeev0a-Crql5pw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbw_zxcEeev0a-Crql5pw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_pgbxADxcEeev0a-Crql5pw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbxATxcEeev0a-Crql5pw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbxAjxcEeev0a-Crql5pw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbxAzxcEeev0a-Crql5pw" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbxBDxcEeev0a-Crql5pw" x="84" y="142" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbxBTxcEeev0a-Crql5pw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_pgbxBjxcEeev0a-Crql5pw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgbxBzxcEeev0a-Crql5pw" width="256" height="236"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_pgbxCDxcEeev0a-Crql5pw"/>
    <edges xmi:id="_qb23UDxcEeev0a-Crql5pw" type="Transition" element="_pgh3gTxcEeev0a-Crql5pw" source="_pgbw8DxcEeev0a-Crql5pw" target="_pgbw_DxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_qb23VDxcEeev0a-Crql5pw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qb23VTxcEeev0a-Crql5pw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qb23VjxcEeev0a-Crql5pw" x="-14" y="-80"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qb23UTxcEeev0a-Crql5pw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qb23UzxcEeev0a-Crql5pw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qb23UjxcEeev0a-Crql5pw" points="[-4, 27, 3, -112]$[-4, 132, 3, -7]"/>
    </edges>
    <edges xmi:id="_qb4sgDxcEeev0a-Crql5pw" type="Transition" element="_pghQczxcEeev0a-Crql5pw" source="_pgbw5jxcEeev0a-Crql5pw" target="_pgbw8DxcEeev0a-Crql5pw">
      <children xsi:type="notation:DecorationNode" xmi:id="_qb4shDxcEeev0a-Crql5pw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qb4shTxcEeev0a-Crql5pw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qb4shjxcEeev0a-Crql5pw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qb4sgTxcEeev0a-Crql5pw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qb4sgzxcEeev0a-Crql5pw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qb4sgjxcEeev0a-Crql5pw" points="[-2, -2, 2, 2]$[-1, -1, 3, 3]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
