<div  (click)="musicService.playTrack()"  (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  
  
  <svg *ngIf="_hover !== true"  width="100px" height="100px" viewBox="66 -12 76 76" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs>
      <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
        <stop stop-color="#80C3F3" offset="0%"></stop>
        <stop stop-color="#4990E2" offset="100%"></stop>
      </linearGradient>
      <circle id="path-2" cx="24" cy="24" r="24"></circle>
      <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-3">
        <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="7" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 0.288655698   0 0 0 0 0.56455189   0 0 0 0 0.886238694  0 0 0 1 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
      </filter>
    </defs>
    <g id="play_button" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(80.000000, 0.000000)">
      <g id="Oval-4">
        <use fill="black" fill-opacity="1" filter="url(#filter-3)" xlink:href="#path-2"></use>
        <use fill="url(#linearGradient-1)" fill-rule="evenodd" xlink:href="#path-2"></use>
      </g>
      <polygon id="play_arrow---material" fill="#FFFFFF" points="18 14 34.452 24.476 18 34.952"></polygon>
    </g>
  </svg>
  
  
  
  <svg *ngIf="_hover === true"  width="100px" height="100px" viewBox="66 -12 76 76" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs>
      <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
        <stop stop-color="#557184" offset="0%"></stop>
        <stop stop-color="#4990E2" offset="100%"></stop>
      </linearGradient>
      <circle id="path-2" cx="24" cy="24" r="24"></circle>
      <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-3">
        <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="7" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 0.288655698   0 0 0 0 0.56455189   0 0 0 0 0.886238694  0 0 0 1 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
      </filter>
    </defs>
    <g id="play_button" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(80.000000, 0.000000)">
      <g id="Oval-4">
        <use fill="black" fill-opacity="1" filter="url(#filter-3)" xlink:href="#path-2"></use>
        <use fill="url(#linearGradient-1)" fill-rule="evenodd" xlink:href="#path-2"></use>
      </g>
      <polygon id="play_arrow---material" fill="#FFFFFF" points="18 14 34.452 24.476 18 34.952"></polygon>
    </g>
  </svg>
</div>
