.weather_container {

  position: relative;
  width: 460px;
  height: 407px;


/*  display: flex;
  flex-direction: column;*/

}


.sunrise {
  height: 50px;
  position: relative;
  width: 60px;
  top: 160px;
}

.sunset {
  height: 50px;
  position: relative;
  width: 60px;
  top: 115px;
  left: 110px;
}

.weather_symbol {
  position: relative;
  top: 50px;
  align-self: center;
  left: 20px;
}

.weather_symbol .weather_label {

  font-size: 3.2em;
  position: absolute;
  left: 61px;
  width: 100px;
}

.sunrise_sunset_symbol {
  position: relative;

  align-self: center;
  left:20px;
}


.sunny {
  width: 140px;
  position: relative;
  left: 20px;
}

.center_block {
  margin-left:auto;
  margin-right:auto;
  display:block;
  background-color: yellow;
}
