<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_RaXzUOkGEem3_u5FoLfZVA" specification="@ChildFirstExecution&#xA;&#xA;interface:&#xA;  in event e" name="example4">
    <regions xmi:id="_RaXzWukGEem3_u5FoLfZVA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_RaYaaekGEem3_u5FoLfZVA">
        <outgoingTransitions xmi:id="_RaZogekGEem3_u5FoLfZVA" target="_RaZBd-kGEem3_u5FoLfZVA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_RaZBd-kGEem3_u5FoLfZVA" name="A" incomingTransitions="_RaZogekGEem3_u5FoLfZVA">
        <outgoingTransitions xmi:id="_p2p8AOkGEem3_u5FoLfZVA" specification="e" target="_nRnMYOkGEem3_u5FoLfZVA"/>
        <regions xmi:id="_cMw-4OkGEem3_u5FoLfZVA" name="r1">
          <vertices xsi:type="sgraph:Entry" xmi:id="_cMw-4ekGEem3_u5FoLfZVA">
            <outgoingTransitions xmi:id="_cMw-4ukGEem3_u5FoLfZVA" specification="" target="_cMw-4-kGEem3_u5FoLfZVA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_cMw-4-kGEem3_u5FoLfZVA" name="B" incomingTransitions="_cMw-4ukGEem3_u5FoLfZVA">
            <outgoingTransitions xmi:id="_vBMuQOkGEem3_u5FoLfZVA" specification="e" target="_oVJF8OkGEem3_u5FoLfZVA"/>
            <outgoingTransitions xmi:id="_qgZckOkGEem3_u5FoLfZVA" specification="e" target="_n4m68OkGEem3_u5FoLfZVA"/>
          </vertices>
        </regions>
        <regions xmi:id="_cwdh7ekGEem3_u5FoLfZVA" name="r2">
          <vertices xsi:type="sgraph:Entry" xmi:id="_cwdh7ukGEem3_u5FoLfZVA">
            <outgoingTransitions xmi:id="_cwdh7-kGEem3_u5FoLfZVA" specification="" target="_cwdh8OkGEem3_u5FoLfZVA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_cwdh8OkGEem3_u5FoLfZVA" name="C" incomingTransitions="_cwdh7-kGEem3_u5FoLfZVA">
            <outgoingTransitions xmi:id="_vXLlUOkGEem3_u5FoLfZVA" specification="e" target="_oso_8OkGEem3_u5FoLfZVA"/>
            <outgoingTransitions xmi:id="_vssiUOkGEem3_u5FoLfZVA" specification="e" target="_pD_wAOkGEem3_u5FoLfZVA"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_nRnMYOkGEem3_u5FoLfZVA" name="D" incomingTransitions="_p2p8AOkGEem3_u5FoLfZVA"/>
      <vertices xsi:type="sgraph:State" xmi:id="_n4m68OkGEem3_u5FoLfZVA" name="E" incomingTransitions="_qgZckOkGEem3_u5FoLfZVA"/>
      <vertices xsi:type="sgraph:State" xmi:id="_oVJF8OkGEem3_u5FoLfZVA" name="F" incomingTransitions="_vBMuQOkGEem3_u5FoLfZVA"/>
      <vertices xsi:type="sgraph:State" xmi:id="_oso_8OkGEem3_u5FoLfZVA" name="G" incomingTransitions="_vXLlUOkGEem3_u5FoLfZVA"/>
      <vertices xsi:type="sgraph:State" xmi:id="_pD_wAOkGEem3_u5FoLfZVA" name="H" incomingTransitions="_vssiUOkGEem3_u5FoLfZVA"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_RaXzV-kGEem3_u5FoLfZVA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_RaXzUOkGEem3_u5FoLfZVA" measurementUnit="Pixel">
    <children xmi:id="_RaYaYOkGEem3_u5FoLfZVA" type="Region" element="_RaXzWukGEem3_u5FoLfZVA">
      <children xsi:type="notation:DecorationNode" xmi:id="_RaYaY-kGEem3_u5FoLfZVA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RaYaZOkGEem3_u5FoLfZVA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RaYaZekGEem3_u5FoLfZVA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_RaYaZukGEem3_u5FoLfZVA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_RaYaaukGEem3_u5FoLfZVA" type="Entry" element="_RaYaaekGEem3_u5FoLfZVA">
          <children xmi:id="_RaZBcOkGEem3_u5FoLfZVA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_RaZBc-kGEem3_u5FoLfZVA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_RaZBdOkGEem3_u5FoLfZVA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_RaZBdekGEem3_u5FoLfZVA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_RaZBcekGEem3_u5FoLfZVA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RaZBcukGEem3_u5FoLfZVA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_RaYaa-kGEem3_u5FoLfZVA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_RaYabOkGEem3_u5FoLfZVA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RaZBdukGEem3_u5FoLfZVA" x="81" y="37" width="15" height="15"/>
        </children>
        <children xmi:id="_RaZBeukGEem3_u5FoLfZVA" type="State" element="_RaZBd-kGEem3_u5FoLfZVA">
          <children xsi:type="notation:DecorationNode" xmi:id="_RaZBfukGEem3_u5FoLfZVA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_RaZBf-kGEem3_u5FoLfZVA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_RaZBgOkGEem3_u5FoLfZVA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RaZBgekGEem3_u5FoLfZVA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_RaZBgukGEem3_u5FoLfZVA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RaZBg-kGEem3_u5FoLfZVA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RaZBhOkGEem3_u5FoLfZVA" type="StateFigureCompartment">
            <children xmi:id="_cMwX0OkGEem3_u5FoLfZVA" type="Region" element="_cMw-4OkGEem3_u5FoLfZVA">
              <children xsi:type="notation:DecorationNode" xmi:id="_cMwX0ekGEem3_u5FoLfZVA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_cMwX0ukGEem3_u5FoLfZVA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_cMwX0-kGEem3_u5FoLfZVA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_cMwX1OkGEem3_u5FoLfZVA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_cMwX1ekGEem3_u5FoLfZVA" type="Entry" element="_cMw-4ekGEem3_u5FoLfZVA">
                  <children xmi:id="_cMwX1ukGEem3_u5FoLfZVA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_cMwX1-kGEem3_u5FoLfZVA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_cMwX2OkGEem3_u5FoLfZVA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_cMwX2ekGEem3_u5FoLfZVA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_cMwX2ukGEem3_u5FoLfZVA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cMwX2-kGEem3_u5FoLfZVA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_cMwX3OkGEem3_u5FoLfZVA" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cMwX3ekGEem3_u5FoLfZVA" x="7" y="22"/>
                </children>
                <children xmi:id="_cMwX3ukGEem3_u5FoLfZVA" type="State" element="_cMw-4-kGEem3_u5FoLfZVA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_cMwX3-kGEem3_u5FoLfZVA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_cMwX4OkGEem3_u5FoLfZVA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_cMwX4ekGEem3_u5FoLfZVA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_cMwX4ukGEem3_u5FoLfZVA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_cMwX4-kGEem3_u5FoLfZVA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cMwX5OkGEem3_u5FoLfZVA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_cMwX5ekGEem3_u5FoLfZVA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_cMwX5ukGEem3_u5FoLfZVA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_cMwX5-kGEem3_u5FoLfZVA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_cMwX6OkGEem3_u5FoLfZVA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cMwX6ekGEem3_u5FoLfZVA" x="55" y="10"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cMwX6ukGEem3_u5FoLfZVA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_cMwX6-kGEem3_u5FoLfZVA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cMwX7OkGEem3_u5FoLfZVA" x="90" y="10"/>
            </children>
            <children xmi:id="_cwdh0OkGEem3_u5FoLfZVA" type="Region" element="_cwdh7ekGEem3_u5FoLfZVA">
              <children xsi:type="notation:DecorationNode" xmi:id="_cwdh0ekGEem3_u5FoLfZVA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_cwdh0ukGEem3_u5FoLfZVA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_cwdh0-kGEem3_u5FoLfZVA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_cwdh1OkGEem3_u5FoLfZVA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_cwdh1ekGEem3_u5FoLfZVA" type="Entry" element="_cwdh7ukGEem3_u5FoLfZVA">
                  <children xmi:id="_cwdh1ukGEem3_u5FoLfZVA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_cwdh1-kGEem3_u5FoLfZVA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_cwdh2OkGEem3_u5FoLfZVA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_cwdh2ekGEem3_u5FoLfZVA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_cwdh2ukGEem3_u5FoLfZVA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cwdh2-kGEem3_u5FoLfZVA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_cwdh3OkGEem3_u5FoLfZVA" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cwdh3ekGEem3_u5FoLfZVA" x="6" y="27"/>
                </children>
                <children xmi:id="_cwdh3ukGEem3_u5FoLfZVA" type="State" element="_cwdh8OkGEem3_u5FoLfZVA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_cwdh3-kGEem3_u5FoLfZVA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_cwdh4OkGEem3_u5FoLfZVA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_cwdh4ekGEem3_u5FoLfZVA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_cwdh4ukGEem3_u5FoLfZVA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_cwdh4-kGEem3_u5FoLfZVA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cwdh5OkGEem3_u5FoLfZVA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_cwdh5ekGEem3_u5FoLfZVA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_cwdh5ukGEem3_u5FoLfZVA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_cwdh5-kGEem3_u5FoLfZVA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_cwdh6OkGEem3_u5FoLfZVA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cwdh6ekGEem3_u5FoLfZVA" x="51" y="11"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cwdh6ukGEem3_u5FoLfZVA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_cwdh6-kGEem3_u5FoLfZVA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cwdh7OkGEem3_u5FoLfZVA" x="90" y="10"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_RaZBe-kGEem3_u5FoLfZVA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_RaZBfOkGEem3_u5FoLfZVA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_RaZBhekGEem3_u5FoLfZVA" name="isHorizontal"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RaZogOkGEem3_u5FoLfZVA" x="49" y="93" width="135" height="239"/>
        </children>
        <children xmi:id="_nRpBkOkGEem3_u5FoLfZVA" type="State" element="_nRnMYOkGEem3_u5FoLfZVA">
          <children xsi:type="notation:DecorationNode" xmi:id="_nRpooOkGEem3_u5FoLfZVA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nRpooekGEem3_u5FoLfZVA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_nRpooukGEem3_u5FoLfZVA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nRpoo-kGEem3_u5FoLfZVA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_nRpopOkGEem3_u5FoLfZVA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nRpopekGEem3_u5FoLfZVA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nRpopukGEem3_u5FoLfZVA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nRpBkekGEem3_u5FoLfZVA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_nRpBkukGEem3_u5FoLfZVA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nRpop-kGEem3_u5FoLfZVA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nRpBk-kGEem3_u5FoLfZVA" x="261" y="29"/>
        </children>
        <children xmi:id="_n4niAOkGEem3_u5FoLfZVA" type="State" element="_n4m68OkGEem3_u5FoLfZVA">
          <children xsi:type="notation:DecorationNode" xmi:id="_n4oJEOkGEem3_u5FoLfZVA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_n4oJEekGEem3_u5FoLfZVA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_n4oJEukGEem3_u5FoLfZVA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_n4oJE-kGEem3_u5FoLfZVA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_n4oJFOkGEem3_u5FoLfZVA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_n4oJFekGEem3_u5FoLfZVA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_n4oJFukGEem3_u5FoLfZVA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_n4niAekGEem3_u5FoLfZVA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_n4niAukGEem3_u5FoLfZVA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_n4oJF-kGEem3_u5FoLfZVA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_n4niA-kGEem3_u5FoLfZVA" x="261" y="125"/>
        </children>
        <children xmi:id="_oVKUEOkGEem3_u5FoLfZVA" type="State" element="_oVJF8OkGEem3_u5FoLfZVA">
          <children xsi:type="notation:DecorationNode" xmi:id="_oVKUFOkGEem3_u5FoLfZVA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_oVKUFekGEem3_u5FoLfZVA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_oVKUFukGEem3_u5FoLfZVA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_oVKUF-kGEem3_u5FoLfZVA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_oVKUGOkGEem3_u5FoLfZVA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oVKUGekGEem3_u5FoLfZVA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_oVKUGukGEem3_u5FoLfZVA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_oVKUEekGEem3_u5FoLfZVA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_oVKUEukGEem3_u5FoLfZVA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_oVKUG-kGEem3_u5FoLfZVA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oVKUE-kGEem3_u5FoLfZVA" x="261" y="186"/>
        </children>
        <children xmi:id="_osqOEOkGEem3_u5FoLfZVA" type="State" element="_oso_8OkGEem3_u5FoLfZVA">
          <children xsi:type="notation:DecorationNode" xmi:id="_osqOFOkGEem3_u5FoLfZVA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_osqOFekGEem3_u5FoLfZVA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_osqOFukGEem3_u5FoLfZVA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_osqOF-kGEem3_u5FoLfZVA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_osqOGOkGEem3_u5FoLfZVA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_osqOGekGEem3_u5FoLfZVA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_osqOGukGEem3_u5FoLfZVA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_osqOEekGEem3_u5FoLfZVA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_osqOEukGEem3_u5FoLfZVA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_osq1IOkGEem3_u5FoLfZVA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_osqOE-kGEem3_u5FoLfZVA" x="261" y="245"/>
        </children>
        <children xmi:id="_pEAXEOkGEem3_u5FoLfZVA" type="State" element="_pD_wAOkGEem3_u5FoLfZVA">
          <children xsi:type="notation:DecorationNode" xmi:id="_pEAXFOkGEem3_u5FoLfZVA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pEAXFekGEem3_u5FoLfZVA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_pEA-IOkGEem3_u5FoLfZVA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pEA-IekGEem3_u5FoLfZVA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_pEA-IukGEem3_u5FoLfZVA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pEA-I-kGEem3_u5FoLfZVA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pEA-JOkGEem3_u5FoLfZVA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pEAXEekGEem3_u5FoLfZVA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_pEAXEukGEem3_u5FoLfZVA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pEA-JekGEem3_u5FoLfZVA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pEAXE-kGEem3_u5FoLfZVA" x="261" y="301"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RaYaZ-kGEem3_u5FoLfZVA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_RaYaYekGEem3_u5FoLfZVA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RaYaaOkGEem3_u5FoLfZVA" x="16" width="485" height="455"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_RaZoiekGEem3_u5FoLfZVA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_RaZoi-kGEem3_u5FoLfZVA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RaZojOkGEem3_u5FoLfZVA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RaZojekGEem3_u5FoLfZVA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_RaZojukGEem3_u5FoLfZVA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RaZoj-kGEem3_u5FoLfZVA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RaZokOkGEem3_u5FoLfZVA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_RaXzWOkGEem3_u5FoLfZVA" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_RaXzWekGEem3_u5FoLfZVA"/>
    <edges xmi:id="_RaZogukGEem3_u5FoLfZVA" type="Transition" element="_RaZogekGEem3_u5FoLfZVA" source="_RaYaaukGEem3_u5FoLfZVA" target="_RaZBeukGEem3_u5FoLfZVA">
      <children xsi:type="notation:DecorationNode" xmi:id="_RaZohukGEem3_u5FoLfZVA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RaZoh-kGEem3_u5FoLfZVA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RaZoiOkGEem3_u5FoLfZVA" x="9" y="1"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RaZog-kGEem3_u5FoLfZVA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RaZohekGEem3_u5FoLfZVA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RaZohOkGEem3_u5FoLfZVA" points="[0, 7, -11, -194]$[0, 49, -11, -152]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mZG3EOkGEem3_u5FoLfZVA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SCFTkOkGEem3_u5FoLfZVA" id="(0.38846153846153847,0.6517094017094017)"/>
    </edges>
    <edges xmi:id="_cMw-5ukGEem3_u5FoLfZVA" type="Transition" element="_cMw-4ukGEem3_u5FoLfZVA" source="_cMwX1ekGEem3_u5FoLfZVA" target="_cMwX3ukGEem3_u5FoLfZVA">
      <children xsi:type="notation:DecorationNode" xmi:id="_cMw-5-kGEem3_u5FoLfZVA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cMw-6OkGEem3_u5FoLfZVA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cMw-6ekGEem3_u5FoLfZVA" x="3" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cMw-6ukGEem3_u5FoLfZVA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cMw-6-kGEem3_u5FoLfZVA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cMw-7OkGEem3_u5FoLfZVA" points="[7, 0, -47, 12]$[41, 0, -13, 12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_h-nBsOkGEem3_u5FoLfZVA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cMw-7ekGEem3_u5FoLfZVA" id="(0.32,0.1509433962264151)"/>
    </edges>
    <edges xmi:id="_cwdh8-kGEem3_u5FoLfZVA" type="Transition" element="_cwdh7-kGEem3_u5FoLfZVA" source="_cwdh1ekGEem3_u5FoLfZVA" target="_cwdh3ukGEem3_u5FoLfZVA">
      <children xsi:type="notation:DecorationNode" xmi:id="_cwdh9OkGEem3_u5FoLfZVA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cwdh9ekGEem3_u5FoLfZVA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cwdh9ukGEem3_u5FoLfZVA" x="9" y="5"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cwdh9-kGEem3_u5FoLfZVA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cwdh-OkGEem3_u5FoLfZVA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cwdh-ekGEem3_u5FoLfZVA" points="[7, 0, -42, 16]$[38, 0, -11, 16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jaP5QOkGEem3_u5FoLfZVA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cwdh-ukGEem3_u5FoLfZVA" id="(0.32,0.1509433962264151)"/>
    </edges>
    <edges xmi:id="_p2qjEOkGEem3_u5FoLfZVA" type="Transition" element="_p2p8AOkGEem3_u5FoLfZVA" source="_RaZBeukGEem3_u5FoLfZVA" target="_nRpBkOkGEem3_u5FoLfZVA">
      <children xsi:type="notation:DecorationNode" xmi:id="_p2rKIekGEem3_u5FoLfZVA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_p2rKIukGEem3_u5FoLfZVA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_p2rKI-kGEem3_u5FoLfZVA" x="-2" y="-6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_p2qjEekGEem3_u5FoLfZVA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_p2rKIOkGEem3_u5FoLfZVA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_p2qjEukGEem3_u5FoLfZVA" points="[6, -1, -122, 40]$[125, -17, -3, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_p2s_UOkGEem3_u5FoLfZVA" id="(0.7777777777777778,0.008368200836820083)"/>
    </edges>
    <edges xmi:id="_qgaDoOkGEem3_u5FoLfZVA" type="Transition" element="_qgZckOkGEem3_u5FoLfZVA" source="_cMwX3ukGEem3_u5FoLfZVA" target="_n4niAOkGEem3_u5FoLfZVA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qgaDpOkGEem3_u5FoLfZVA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qgaDpekGEem3_u5FoLfZVA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qgaDpukGEem3_u5FoLfZVA" x="8" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qgaDoekGEem3_u5FoLfZVA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qgaDo-kGEem3_u5FoLfZVA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qgaDoukGEem3_u5FoLfZVA" points="[18, -4, -149, 29]$[168, -48, 1, -15]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qgcf4OkGEem3_u5FoLfZVA" id="(0.15,0.32075471698113206)"/>
    </edges>
    <edges xmi:id="_vBN8YOkGEem3_u5FoLfZVA" type="Transition" element="_vBMuQOkGEem3_u5FoLfZVA" source="_cMwX3ukGEem3_u5FoLfZVA" target="_oVKUEOkGEem3_u5FoLfZVA">
      <children xsi:type="notation:DecorationNode" xmi:id="_vBOjcekGEem3_u5FoLfZVA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vBOjcukGEem3_u5FoLfZVA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vBOjc-kGEem3_u5FoLfZVA" x="11" y="-6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vBN8YekGEem3_u5FoLfZVA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vBOjcOkGEem3_u5FoLfZVA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vBN8YukGEem3_u5FoLfZVA" points="[18, 5, -164, -48]$[186, 77, 4, 24]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xtCpcOkGEem3_u5FoLfZVA" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_vXMMYOkGEem3_u5FoLfZVA" type="Transition" element="_vXLlUOkGEem3_u5FoLfZVA" source="_cwdh3ukGEem3_u5FoLfZVA" target="_osqOEOkGEem3_u5FoLfZVA">
      <children xsi:type="notation:DecorationNode" xmi:id="_vXMzcOkGEem3_u5FoLfZVA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vXMzcekGEem3_u5FoLfZVA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vXMzcukGEem3_u5FoLfZVA" x="4" y="-7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vXMMYekGEem3_u5FoLfZVA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vXMMY-kGEem3_u5FoLfZVA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vXMMYukGEem3_u5FoLfZVA" points="[18, 2, -182, -24]$[183, 26, -17, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yGS28OkGEem3_u5FoLfZVA" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_vstJYOkGEem3_u5FoLfZVA" type="Transition" element="_vssiUOkGEem3_u5FoLfZVA" source="_cwdh3ukGEem3_u5FoLfZVA" target="_pEAXEOkGEem3_u5FoLfZVA">
      <children xsi:type="notation:DecorationNode" xmi:id="_vstJZOkGEem3_u5FoLfZVA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vstJZekGEem3_u5FoLfZVA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vstJZukGEem3_u5FoLfZVA" x="-2" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vstJYekGEem3_u5FoLfZVA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vstJY-kGEem3_u5FoLfZVA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vstJYukGEem3_u5FoLfZVA" points="[18, 10, -178, -101]$[197, 128, 1, 17]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vsu-kOkGEem3_u5FoLfZVA" id="(0.2,0.660377358490566)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
