<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_sCQXgA50Eee6HbH_je4Vjg" specification="interface:&#xA;// Define events and&#xA;// and variables here" name="lesson_01">
    <regions xmi:id="_sCxU4A50Eee6HbH_je4Vjg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_sDV8oA50Eee6HbH_je4Vjg">
        <outgoingTransitions xmi:id="_sDgUsA50Eee6HbH_je4Vjg" target="_sDYY4A50Eee6HbH_je4Vjg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_sDYY4A50Eee6HbH_je4Vjg" name="red" incomingTransitions="_sDgUsA50Eee6HbH_je4Vjg _AVEfkB6_EeemipDcuLBxyw">
        <outgoingTransitions xmi:id="_p-jTAA53Eee6HbH_je4Vjg" specification="after 5s" target="_oiY3AA53Eee6HbH_je4Vjg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_oiY3AA53Eee6HbH_je4Vjg" name="yellow" incomingTransitions="_p-jTAA53Eee6HbH_je4Vjg">
        <outgoingTransitions xmi:id="_7j7EwB6-EeemipDcuLBxyw" specification="after 5s" target="_4YOk0B6-EeemipDcuLBxyw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_4YOk0B6-EeemipDcuLBxyw" name="green" incomingTransitions="_7j7EwB6-EeemipDcuLBxyw">
        <outgoingTransitions xmi:id="_AVEfkB6_EeemipDcuLBxyw" specification="after 5s" target="_sDYY4A50Eee6HbH_je4Vjg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_sCwt0A50Eee6HbH_je4Vjg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_sCQXgA50Eee6HbH_je4Vjg" measurementUnit="Pixel">
    <children xmi:id="_sC4poA50Eee6HbH_je4Vjg" type="Region" element="_sCxU4A50Eee6HbH_je4Vjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_sDSSQA50Eee6HbH_je4Vjg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sDSSQQ50Eee6HbH_je4Vjg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sDSSQg50Eee6HbH_je4Vjg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_sDTgYA50Eee6HbH_je4Vjg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_sDWjsA50Eee6HbH_je4Vjg" type="Entry" element="_sDV8oA50Eee6HbH_je4Vjg">
          <children xmi:id="_sDXKwA50Eee6HbH_je4Vjg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_sDXKww50Eee6HbH_je4Vjg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_sDXKxA50Eee6HbH_je4Vjg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_sDXKxQ50Eee6HbH_je4Vjg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_sDXKwQ50Eee6HbH_je4Vjg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sDXKwg50Eee6HbH_je4Vjg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_sDWjsQ50Eee6HbH_je4Vjg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_sDWjsg50Eee6HbH_je4Vjg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sDXx0A50Eee6HbH_je4Vjg" x="154" y="31"/>
        </children>
        <children xmi:id="_sDbcMA50Eee6HbH_je4Vjg" type="State" element="_sDYY4A50Eee6HbH_je4Vjg">
          <children xsi:type="notation:DecorationNode" xmi:id="_sDcDQA50Eee6HbH_je4Vjg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_sDcDQQ50Eee6HbH_je4Vjg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_sDcDQg50Eee6HbH_je4Vjg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_sDd4cA50Eee6HbH_je4Vjg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_sDd4cQ50Eee6HbH_je4Vjg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sDd4cg50Eee6HbH_je4Vjg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_sDefgA50Eee6HbH_je4Vjg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_sDbcMQ50Eee6HbH_je4Vjg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_sDbcMg50Eee6HbH_je4Vjg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_sDfGkA50Eee6HbH_je4Vjg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sDfGkQ50Eee6HbH_je4Vjg" x="141" y="111"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_EJK3sA52Eee6HbH_je4Vjg" type="Text" fontName="Verdana" fontHeight="12" bold="true" description="2) Solution for Lesson 02" lineColor="4210752">
          <children xsi:type="notation:BasicDecorationNode" xmi:id="_EJK3sg52Eee6HbH_je4Vjg" type="DiagramName">
            <element xsi:nil="true"/>
          </children>
          <children xsi:type="notation:BasicDecorationNode" xmi:id="_EJLewA52Eee6HbH_je4Vjg" type="Description">
            <element xsi:nil="true"/>
          </children>
          <element xsi:nil="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EJK3sQ52Eee6HbH_je4Vjg" x="10" y="3"/>
        </children>
        <children xmi:id="_oib6UA53Eee6HbH_je4Vjg" type="State" element="_oiY3AA53Eee6HbH_je4Vjg">
          <children xsi:type="notation:DecorationNode" xmi:id="_oib6VA53Eee6HbH_je4Vjg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_oib6VQ53Eee6HbH_je4Vjg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_oichYA53Eee6HbH_je4Vjg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_oichYQ53Eee6HbH_je4Vjg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_oichYg53Eee6HbH_je4Vjg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oichYw53Eee6HbH_je4Vjg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_oichZA53Eee6HbH_je4Vjg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_oib6UQ53Eee6HbH_je4Vjg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_oib6Ug53Eee6HbH_je4Vjg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_oichZQ53Eee6HbH_je4Vjg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oib6Uw53Eee6HbH_je4Vjg" x="141" y="193"/>
        </children>
        <children xmi:id="_4YRBEB6-EeemipDcuLBxyw" type="State" element="_4YOk0B6-EeemipDcuLBxyw">
          <children xsi:type="notation:DecorationNode" xmi:id="_4YSPMB6-EeemipDcuLBxyw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_4YSPMR6-EeemipDcuLBxyw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_4YSPMh6-EeemipDcuLBxyw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4YS2QB6-EeemipDcuLBxyw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_4YS2QR6-EeemipDcuLBxyw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4YS2Qh6-EeemipDcuLBxyw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4YTdUB6-EeemipDcuLBxyw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_4YRBER6-EeemipDcuLBxyw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_4YRBEh6-EeemipDcuLBxyw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_4YTdUR6-EeemipDcuLBxyw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4YRBEx6-EeemipDcuLBxyw" x="143" y="297"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sDTgYQ50Eee6HbH_je4Vjg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_sC4poQ50Eee6HbH_je4Vjg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sDUugA50Eee6HbH_je4Vjg" x="120" y="10" width="393" height="425"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_sDpeoA50Eee6HbH_je4Vjg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_sDqFsA50Eee6HbH_je4Vjg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sDqFsQ50Eee6HbH_je4Vjg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sDqFsg50Eee6HbH_je4Vjg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_sDqFsw50Eee6HbH_je4Vjg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sDqFtA50Eee6HbH_je4Vjg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sDqFtQ50Eee6HbH_je4Vjg" x="10" y="10" width="106" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_sCwt0Q50Eee6HbH_je4Vjg"/>
    <edges xmi:id="_sDoQgA50Eee6HbH_je4Vjg" type="Transition" element="_sDgUsA50Eee6HbH_je4Vjg" source="_sDWjsA50Eee6HbH_je4Vjg" target="_sDbcMA50Eee6HbH_je4Vjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_sDo3kQ50Eee6HbH_je4Vjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sDo3kg50Eee6HbH_je4Vjg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sDo3kw50Eee6HbH_je4Vjg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_sDoQgQ50Eee6HbH_je4Vjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_sDo3kA50Eee6HbH_je4Vjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_sDoQgg50Eee6HbH_je4Vjg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_p-lIMA53Eee6HbH_je4Vjg" type="Transition" element="_p-jTAA53Eee6HbH_je4Vjg" source="_sDbcMA50Eee6HbH_je4Vjg" target="_oib6UA53Eee6HbH_je4Vjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_p-lINA53Eee6HbH_je4Vjg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_p-lINQ53Eee6HbH_je4Vjg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_p-lINg53Eee6HbH_je4Vjg" y="-33"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_p-lIMQ53Eee6HbH_je4Vjg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_p-lIMw53Eee6HbH_je4Vjg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_p-lIMg53Eee6HbH_je4Vjg" points="[18, -13, 14, -95]$[44, -13, 40, -95]$[44, 74, 40, -8]$[25, 74, 21, -8]"/>
    </edges>
    <edges xmi:id="_7j8S4B6-EeemipDcuLBxyw" type="Transition" element="_7j7EwB6-EeemipDcuLBxyw" source="_oib6UA53Eee6HbH_je4Vjg" target="_4YRBEB6-EeemipDcuLBxyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_7j858R6-EeemipDcuLBxyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7j858h6-EeemipDcuLBxyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7j858x6-EeemipDcuLBxyw" x="-2" y="-38"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7j8S4R6-EeemipDcuLBxyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7j858B6-EeemipDcuLBxyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7j8S4h6-EeemipDcuLBxyw" points="[21, 2, 22, -102]$[39, 2, 40, -102]$[39, 106, 40, 2]$[18, 106, 19, 2]"/>
    </edges>
    <edges xmi:id="_AVFtsB6_EeemipDcuLBxyw" type="Transition" element="_AVEfkB6_EeemipDcuLBxyw" source="_4YRBEB6-EeemipDcuLBxyw" target="_sDbcMA50Eee6HbH_je4Vjg">
      <children xsi:type="notation:DecorationNode" xmi:id="_AVGUwR6_EeemipDcuLBxyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_AVGUwh6_EeemipDcuLBxyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_AVGUwx6_EeemipDcuLBxyw" x="1" y="-46"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_AVFtsR6_EeemipDcuLBxyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_AVGUwB6_EeemipDcuLBxyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_AVFtsh6_EeemipDcuLBxyw" points="[-18, -10, 2, 181]$[-44, -10, -24, 181]$[-44, -191, -24, 0]$[-20, -191, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YByMgB6_EeemipDcuLBxyw" id="(0.0,0.41509433962264153)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
