
.screen_container {
  position: absolute;
  position: absolute;
  top: 10%;
  left: 25%;

}

.screen_container_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.screen_item {

}




