
.main-container {
  height: 500px;
  width: 942px;
  background-image: radial-gradient(51% 142%, #2A2929 45%, #000000 100%);
  border: 1px solid #979797;
}

.left-panel {
  width: 460px; /*412px; */
  height: 450px;
  margin-top: 25px;
  margin-bottom: 25px;
 /* background-color: #4A4A4A; */
  overflow: hidden;

}

.right-panel {

  width: 460px; /*412px; */
  height: 450px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
 /* background-color: #4A4A4A;*/
  overflow: hidden;
}

.y_oil_light_container {
  position: absolute;
  height: 40px;
  width: 50px;
  left: 90px;
  top: 50px;
}

.y_abs_light_container {
  position: absolute;
  height: 30px;
  width: 40px;
  top: 107px;
  left: 25px;
}

.y_highbeam_light_container {
  position: absolute;
  height: 15px;
  width: 44px;
  top: 397px;
  left: 78px;
}

.y_head_light_container {
  position: absolute;
  height: 15px;
  width: 44px;
  top: 397px;
  left: 78px;
}

.speedometer_container {
  position: relative;

}

