<div class="main-container row" [@scaleInOut]="animationState">

    <div class="col-md-6 left-panel ">
        <div>

            <p class="y_oil_light_container">
                <y-oil-light-widget ></y-oil-light-widget>
            </p>

            <p class="y_abs_light_container">
                <y-abs-light-widget ></y-abs-light-widget>
            </p>

            <p class="y_highbeam_light_container">
                <y-highbeam-light-widget></y-highbeam-light-widget>
            </p>

            <p class="y_head_light_container">
                <y-headlight-widget ></y-headlight-widget>
            </p>

            <div class="speedometer_container">
                <y-speedometer-widget [height]="'500px'" [speed]="main_vm.speedometer"></y-speedometer-widget>
                <!--  <y-fueltank-widget [full]="main_vm.fueltank"></y-fueltank-widget>-->
            </div>
        </div>

    </div>


    <div class="col-md-6 right-panel ">


        <div>
            <router-outlet></router-outlet>

            <y-warning-widget></y-warning-widget>
            <!--  <y-infotainment></y-infotainment>-->
        </div>

    </div>

</div>
