<div class="playlist_content_container">

  <figure class="cover">
    <img [src]="coverSrc" >
  </figure>

  <div class="track_list_container">
    <div class="track_list" *ngFor="let track of musicService.playList; let trackIndex = index" [class.track_selection]="musicService.selectedTrackIndex === trackIndex" (click)="selectTrack(trackIndex)">
      <span class="track_title">{{track.title}}</span>
      <span>{{track.artist}}</span>
    </div>
  </div>

  <div class="controll_buttons">
    <y-prev-button></y-prev-button>

    <y-play-button *ngIf="musicService.playState === playState.STOP"></y-play-button>
    <y-stop-button *ngIf="musicService.playState === playState.PLAY"></y-stop-button>

    <y-next-button></y-next-button>
  </div>

</div>


