<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_FQyZYBgjEemwV7D6ZIl1uA" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;const x : string = &quot;Test&quot;&#xA;&#xA;var y : string = &quot;Test&quot;" name="default">
    <regions xmi:id="_FQ2DwhgjEemwV7D6ZIl1uA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_FRFUURgjEemwV7D6ZIl1uA">
        <outgoingTransitions xmi:id="_FRI-sRgjEemwV7D6ZIl1uA" target="_FRGidBgjEemwV7D6ZIl1uA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_FRGidBgjEemwV7D6ZIl1uA" name="StateA" incomingTransitions="_FRI-sRgjEemwV7D6ZIl1uA"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_FQ1csBgjEemwV7D6ZIl1uA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_FQyZYBgjEemwV7D6ZIl1uA" measurementUnit="Pixel">
    <children xmi:id="_FQ6VMBgjEemwV7D6ZIl1uA" type="Region" element="_FQ2DwhgjEemwV7D6ZIl1uA">
      <children xsi:type="notation:DecorationNode" xmi:id="_FREGMBgjEemwV7D6ZIl1uA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FREGMRgjEemwV7D6ZIl1uA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FREGMhgjEemwV7D6ZIl1uA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_FREGMxgjEemwV7D6ZIl1uA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_FRF7YBgjEemwV7D6ZIl1uA" type="Entry" element="_FRFUURgjEemwV7D6ZIl1uA">
          <children xmi:id="_FRF7ZBgjEemwV7D6ZIl1uA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_FRGicBgjEemwV7D6ZIl1uA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_FRGicRgjEemwV7D6ZIl1uA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_FRGichgjEemwV7D6ZIl1uA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_FRF7ZRgjEemwV7D6ZIl1uA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FRF7ZhgjEemwV7D6ZIl1uA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_FRF7YRgjEemwV7D6ZIl1uA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_FRF7YhgjEemwV7D6ZIl1uA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FRGicxgjEemwV7D6ZIl1uA" x="70" y="20"/>
        </children>
        <children xmi:id="_FRHJghgjEemwV7D6ZIl1uA" type="State" element="_FRGidBgjEemwV7D6ZIl1uA">
          <children xsi:type="notation:DecorationNode" xmi:id="_FRHwkBgjEemwV7D6ZIl1uA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_FRHwkRgjEemwV7D6ZIl1uA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_FRHwkhgjEemwV7D6ZIl1uA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_FRHwkxgjEemwV7D6ZIl1uA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_FRIXoBgjEemwV7D6ZIl1uA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FRIXoRgjEemwV7D6ZIl1uA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_FRIXohgjEemwV7D6ZIl1uA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_FRHJgxgjEemwV7D6ZIl1uA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_FRHJhBgjEemwV7D6ZIl1uA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_FRIXoxgjEemwV7D6ZIl1uA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FRI-sBgjEemwV7D6ZIl1uA" x="40" y="80"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FREGNBgjEemwV7D6ZIl1uA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_FQ6VMRgjEemwV7D6ZIl1uA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FRFUUBgjEemwV7D6ZIl1uA" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_FRKz4xgjEemwV7D6ZIl1uA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_FRLa8BgjEemwV7D6ZIl1uA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FRLa8RgjEemwV7D6ZIl1uA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FRLa8hgjEemwV7D6ZIl1uA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_FRLa8xgjEemwV7D6ZIl1uA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FRLa9BgjEemwV7D6ZIl1uA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FRLa9RgjEemwV7D6ZIl1uA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_FQ2DwBgjEemwV7D6ZIl1uA" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_FQ2DwRgjEemwV7D6ZIl1uA"/>
    <edges xmi:id="_FRKM0BgjEemwV7D6ZIl1uA" type="Transition" element="_FRI-sRgjEemwV7D6ZIl1uA" source="_FRF7YBgjEemwV7D6ZIl1uA" target="_FRHJghgjEemwV7D6ZIl1uA">
      <children xsi:type="notation:DecorationNode" xmi:id="_FRKz4BgjEemwV7D6ZIl1uA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FRKz4RgjEemwV7D6ZIl1uA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FRKz4hgjEemwV7D6ZIl1uA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_FRKM0RgjEemwV7D6ZIl1uA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_FRKM0xgjEemwV7D6ZIl1uA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_FRKM0hgjEemwV7D6ZIl1uA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
