<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 301.54 190.33">
  <defs>
    <radialGradient id="Unbenannter_Verlauf_374" cx="156.54" cy="151" r="6" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#fff"/>
      <stop offset="1" stop-color="#1a1a1a"/>
    </radialGradient>
    <symbol id="Pfeil_1" data-name="Pfeil 1" viewBox="0 0 28.58 15.34">
      <polygon points="0 15.34 28.58 7.67 0 0 0 15.34" style="fill:#d21518"/>
      <polygon points="0 15.34 28.58 7.67 0 0 0 15.34" style="fill:#e31f27"/>
    </symbol>
  </defs>
  <title>Element 32</title>
  <g id="Ebene_2" data-name="Ebene 2">
    <g id="Kühler">
      <path
        d="M296.21,190.33l-2.89-.79A147.55,147.55,0,0,0,33.82,60.89L32.3,59.73l1.52,1.16A146.2,146.2,0,0,0,3.54,150.5a147.75,147.75,0,0,0,5.2,39l-2.89.79A150.75,150.75,0,0,1,.54,150.5,150.39,150.39,0,0,1,151,0,150.63,150.63,0,0,1,296.21,190.33Z"
        style="fill:#3fa9f5"/>
      <line y1="190" x2="5.45" y2="190" style="fill:none"/>
      <rect x="149.54" y="12.5" width="3" height="17" style="fill:#ff931e"/>
      <rect x="186.83" y="27.31" width="17" height="3" transform="translate(101.42 202.49) rotate(-69.99)"
            style="fill:#ff931e"/>
      <rect x="225.78" y="49.8" width="17" height="3" transform="translate(44.4 197.8) rotate(-50)"
            style="fill:#ff931e"/>
      <rect x="105.45" y="20.45" width="3" height="17" transform="translate(-3.45 38.32) rotate(-20)"
            style="fill:#ff931e"/>
      <rect x="66.73" y="43" width="3" height="17" transform="translate(-17.14 55.91) rotate(-40)"
            style="fill:#ff931e"/>
      <g id="kühler_symbol">
        <text transform="translate(144.64 43.28)"
              style="font-size:12px;fill:#ff931e;font-family:MyriadPro-Regular, Myriad Pro">90
        </text>
      </g>
      <text transform="translate(70.79 72.68)"
            style="font-size:12px;fill:#ff931e;font-family:MyriadPro-Regular, Myriad Pro">45
        <tspan x="12.31" y="0" style="letter-spacing:1.7620442708333333em"></tspan>
      </text>
      <text transform="translate(210.79 72.68)"
            style="font-size:12px;fill:#ff931e;font-family:MyriadPro-Regular, Myriad Pro">130
        <tspan x="18.47" y="0" style="letter-spacing:1.2490234375em"></tspan>
      </text>
      <g id="zeiger" style="transform-origin: 156px 151px" [style.transform]="'rotate('+_temperature +'deg)' | yTrustStyle">
        <use id="speedometer_zeiger" width="28.58" height="15.34"
             transform="matrix(-3.6, -4.05, 0.24, -0.22, 166.26, 165.58)" xlink:href="#Pfeil_1"/>
        <circle id="kreis" cx="156.54" cy="151" r="6" style="fill:url(#Unbenannter_Verlauf_374)"/>
      </g>
      <text transform="translate(142.93 74.44)"
            style="font-size:17px;fill:#ff931e;font-family:MyriadPro-Regular, Myriad Pro">°C
      </text>
      <line x1="199.54" y1="169" x2="199.54" y2="169"
            style="fill:none;stroke:#ff931e;stroke-miterlimit:10;stroke-width:2px"/>
      <path d="M236.67,153.87" style="fill:none;stroke:#f7931e;stroke-miterlimit:10"/>
      <path d="M258.21,159.06" style="fill:none;stroke:#f7931e;stroke-miterlimit:10"/>
      <path d="M251,192.5" style="fill:none;stroke:#f7931e;stroke-miterlimit:10"/>
      <path d="M236.54,141.5c2.58,0,2.58,2,5.16,2s2.58-2,5.17-2,2.58,2,5.16,2,2.58-2,5.17-2,2.59,2,5.17,2,2.59-2,5.17-2"
            style="fill:none;stroke:#f7931e;stroke-miterlimit:10;stroke-width:2px"/>
      <path
        d="M262.37,139a4.24,4.24,0,0,1-2.89-1.1,3.35,3.35,0,0,0-4.56,0,4.33,4.33,0,0,1-5.78,0,3.34,3.34,0,0,0-4.55,0,4.33,4.33,0,0,1-5.78,0,3.26,3.26,0,0,0-2.28-.89v-1a4.23,4.23,0,0,1,2.89,1.1,3.34,3.34,0,0,0,4.55,0,4.33,4.33,0,0,1,5.78,0,3.34,3.34,0,0,0,4.55,0,4.33,4.33,0,0,1,5.78,0,3.35,3.35,0,0,0,4.56,0,4.24,4.24,0,0,1,2.89-1.11v1a3.27,3.27,0,0,0-2.28.9A4.24,4.24,0,0,1,262.37,139Z"
        style="fill:#f7931e;stroke:#f7931e;stroke-miterlimit:10"/>
      <g id="Ebene_8" data-name="Ebene 8">
        <path
          d="M254.54,131.83V111h-5v20.83a4.82,4.82,0,0,0-3,4.32c0,2.68,2.46,4.85,5.5,4.85s5.5-2.17,5.5-4.85A4.82,4.82,0,0,0,254.54,131.83Z"
          style="fill:#ff931e;stroke:#000;stroke-miterlimit:10;stroke-width:0.75px"/>
        <rect x="251.54" y="116" width="9" height="2" style="fill:#ff931e"/>
        <rect x="251.54" y="121" width="9" height="2" style="fill:#ff931e"/>
        <rect x="251.54" y="126" width="9" height="2" style="fill:#ff931e"/>
      </g>
    </g>
  </g>
</svg>
