<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.3/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_6MJOgOqMEemPGu0xnwriEw" specification="@CycleBased(200)&#xA;&#xA;interface:&#xA;  in event event1&#xA;  &#xA;internal:&#xA;  event event2" name="event_raising">
    <regions xmi:id="_6MJ1meqMEemPGu0xnwriEw" name="r1">
      <vertices xsi:type="sgraph:Entry" xmi:id="_6MKcpuqMEemPGu0xnwriEw">
        <outgoingTransitions xmi:id="_6MLqxeqMEemPGu0xnwriEw" target="_6MLDt-qMEemPGu0xnwriEw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_6MLDt-qMEemPGu0xnwriEw" name="StateA" incomingTransitions="_6MLqxeqMEemPGu0xnwriEw">
        <outgoingTransitions xmi:id="_EVF0cOqNEemPGu0xnwriEw" specification="event2" target="__yrZMOqMEemPGu0xnwriEw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="__yrZMOqMEemPGu0xnwriEw" name="StateB" incomingTransitions="_EVF0cOqNEemPGu0xnwriEw"/>
    </regions>
    <regions xmi:id="_A4kqQOqNEemPGu0xnwriEw" name="r2">
      <vertices xsi:type="sgraph:State" xmi:id="_Epwc4OqNEemPGu0xnwriEw" name="StateC" incomingTransitions="_KMCZsOqNEemPGu0xnwriEw">
        <outgoingTransitions xmi:id="_KdR6sOqNEemPGu0xnwriEw" specification="event1" target="_FQwLcOqNEemPGu0xnwriEw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_FQwLcOqNEemPGu0xnwriEw" specification="entry / raise event2" name="StateD" incomingTransitions="_KdR6sOqNEemPGu0xnwriEw"/>
      <vertices xsi:type="sgraph:Entry" xmi:id="_J3IgsOqNEemPGu0xnwriEw">
        <outgoingTransitions xmi:id="_KMCZsOqNEemPGu0xnwriEw" specification="" target="_Epwc4OqNEemPGu0xnwriEw"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_6MJ1luqMEemPGu0xnwriEw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_6MJOgOqMEemPGu0xnwriEw" measurementUnit="Pixel">
    <children xmi:id="_6MJ1muqMEemPGu0xnwriEw" type="Region" element="_6MJ1meqMEemPGu0xnwriEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_6MKcoOqMEemPGu0xnwriEw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6MKcoeqMEemPGu0xnwriEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6MKcouqMEemPGu0xnwriEw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_6MKco-qMEemPGu0xnwriEw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_6MKcp-qMEemPGu0xnwriEw" type="Entry" element="_6MKcpuqMEemPGu0xnwriEw">
          <children xmi:id="_6MLDsOqMEemPGu0xnwriEw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_6MLDs-qMEemPGu0xnwriEw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_6MLDtOqMEemPGu0xnwriEw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_6MLDteqMEemPGu0xnwriEw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_6MLDseqMEemPGu0xnwriEw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6MLDsuqMEemPGu0xnwriEw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_6MKcqOqMEemPGu0xnwriEw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_6MKcqeqMEemPGu0xnwriEw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6MLDtuqMEemPGu0xnwriEw" x="45" y="18"/>
        </children>
        <children xmi:id="_6MLDuuqMEemPGu0xnwriEw" type="State" element="_6MLDt-qMEemPGu0xnwriEw">
          <children xsi:type="notation:DecorationNode" xmi:id="_6MLDvuqMEemPGu0xnwriEw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_6MLDv-qMEemPGu0xnwriEw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_6MLDwOqMEemPGu0xnwriEw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6MLDweqMEemPGu0xnwriEw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_6MLqwOqMEemPGu0xnwriEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6MLqweqMEemPGu0xnwriEw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6MLqwuqMEemPGu0xnwriEw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_6MLDu-qMEemPGu0xnwriEw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_6MLDvOqMEemPGu0xnwriEw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_6MLqw-qMEemPGu0xnwriEw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6MLqxOqMEemPGu0xnwriEw" x="27" y="74"/>
        </children>
        <children xmi:id="__ysnUOqMEemPGu0xnwriEw" type="State" element="__yrZMOqMEemPGu0xnwriEw">
          <children xsi:type="notation:DecorationNode" xmi:id="__ysnVOqMEemPGu0xnwriEw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="__ysnVeqMEemPGu0xnwriEw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="__ysnVuqMEemPGu0xnwriEw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="__ysnV-qMEemPGu0xnwriEw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="__ytOYOqMEemPGu0xnwriEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="__ytOYeqMEemPGu0xnwriEw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="__ytOYuqMEemPGu0xnwriEw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="__ysnUeqMEemPGu0xnwriEw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="__ysnUuqMEemPGu0xnwriEw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="__ytOY-qMEemPGu0xnwriEw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="__ysnU-qMEemPGu0xnwriEw" x="31" y="194"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6MKcpOqMEemPGu0xnwriEw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_6MJ1m-qMEemPGu0xnwriEw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6MKcpeqMEemPGu0xnwriEw" x="12" width="154" height="294"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_6MLqzeqMEemPGu0xnwriEw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_6MLqz-qMEemPGu0xnwriEw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6MLq0OqMEemPGu0xnwriEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6MLq0eqMEemPGu0xnwriEw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_6MLq0uqMEemPGu0xnwriEw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6MLq0-qMEemPGu0xnwriEw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6MMR0OqMEemPGu0xnwriEw" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_A4l4YOqNEemPGu0xnwriEw" type="Region" element="_A4kqQOqNEemPGu0xnwriEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_A4l4Y-qNEemPGu0xnwriEw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_A4l4ZOqNEemPGu0xnwriEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_A4l4ZeqNEemPGu0xnwriEw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_A4l4ZuqNEemPGu0xnwriEw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_EpxrAOqNEemPGu0xnwriEw" type="State" element="_Epwc4OqNEemPGu0xnwriEw">
          <children xsi:type="notation:DecorationNode" xmi:id="_EpySEOqNEemPGu0xnwriEw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EpySEeqNEemPGu0xnwriEw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_EpySEuqNEemPGu0xnwriEw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EpySE-qNEemPGu0xnwriEw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_EpySFOqNEemPGu0xnwriEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EpySFeqNEemPGu0xnwriEw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EpySFuqNEemPGu0xnwriEw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EpxrAeqNEemPGu0xnwriEw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_EpxrAuqNEemPGu0xnwriEw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EpySF-qNEemPGu0xnwriEw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EpxrA-qNEemPGu0xnwriEw" x="53" y="67"/>
        </children>
        <children xmi:id="_FQxZkOqNEemPGu0xnwriEw" type="State" element="_FQwLcOqNEemPGu0xnwriEw">
          <children xsi:type="notation:DecorationNode" xmi:id="_FQxZlOqNEemPGu0xnwriEw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_FQxZleqNEemPGu0xnwriEw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_FQxZluqNEemPGu0xnwriEw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_FQxZl-qNEemPGu0xnwriEw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_FQxZmOqNEemPGu0xnwriEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FQxZmeqNEemPGu0xnwriEw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_FQyAoOqNEemPGu0xnwriEw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_FQxZkeqNEemPGu0xnwriEw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_FQxZkuqNEemPGu0xnwriEw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_FQyAoeqNEemPGu0xnwriEw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FQxZk-qNEemPGu0xnwriEw" x="18" y="191"/>
        </children>
        <children xmi:id="_J3JHwOqNEemPGu0xnwriEw" type="Entry" element="_J3IgsOqNEemPGu0xnwriEw">
          <children xmi:id="_J3Ju0OqNEemPGu0xnwriEw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_J3Ju0-qNEemPGu0xnwriEw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_J3Ju1OqNEemPGu0xnwriEw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_J3Ju1eqNEemPGu0xnwriEw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_J3Ju0eqNEemPGu0xnwriEw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J3Ju0uqNEemPGu0xnwriEw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_J3JHweqNEemPGu0xnwriEw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_J3JHwuqNEemPGu0xnwriEw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J3JHw-qNEemPGu0xnwriEw" x="71" y="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_A4l4Z-qNEemPGu0xnwriEw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_A4l4YeqNEemPGu0xnwriEw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_A4l4YuqNEemPGu0xnwriEw" x="190" y="4" width="236" height="294"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_6MJ1l-qMEemPGu0xnwriEw" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_6MJ1mOqMEemPGu0xnwriEw"/>
    <edges xmi:id="_6MLqxuqMEemPGu0xnwriEw" type="Transition" element="_6MLqxeqMEemPGu0xnwriEw" source="_6MKcp-qMEemPGu0xnwriEw" target="_6MLDuuqMEemPGu0xnwriEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_6MLqyuqMEemPGu0xnwriEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6MLqy-qMEemPGu0xnwriEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6MLqzOqMEemPGu0xnwriEw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6MLqx-qMEemPGu0xnwriEw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6MLqyeqMEemPGu0xnwriEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6MLqyOqMEemPGu0xnwriEw" points="[0, 7, 3, -66]$[0, 49, 3, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DHuCYOqNEemPGu0xnwriEw" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_C1oz4OqNEemPGu0xnwriEw" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_EVGbgOqNEemPGu0xnwriEw" type="Transition" element="_EVF0cOqNEemPGu0xnwriEw" source="_6MLDuuqMEemPGu0xnwriEw" target="__ysnUOqMEemPGu0xnwriEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_EVGbhOqNEemPGu0xnwriEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EVGbheqNEemPGu0xnwriEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EVGbhuqNEemPGu0xnwriEw" x="-1" y="-32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_EVGbgeqNEemPGu0xnwriEw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EVGbg-qNEemPGu0xnwriEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_EVGbguqNEemPGu0xnwriEw" points="[4, 9, -5, -96]$[4, 129, -5, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EVIQsOqNEemPGu0xnwriEw" id="(0.3877551020408163,0.8301886792452832)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_I34DIOqNEemPGu0xnwriEw" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_KMDAwOqNEemPGu0xnwriEw" type="Transition" element="_KMCZsOqNEemPGu0xnwriEw" source="_J3JHwOqNEemPGu0xnwriEw" target="_EpxrAOqNEemPGu0xnwriEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_KMDAxOqNEemPGu0xnwriEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KMDAxeqNEemPGu0xnwriEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KMDAxuqNEemPGu0xnwriEw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KMDAweqNEemPGu0xnwriEw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KMDAw-qNEemPGu0xnwriEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KMDAwuqNEemPGu0xnwriEw" points="[0, 7, 3, -62]$[0, 45, 3, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RVjIIOqPEemPGu0xnwriEw" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LHQEwOqNEemPGu0xnwriEw" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_KdShwOqNEemPGu0xnwriEw" type="Transition" element="_KdR6sOqNEemPGu0xnwriEw" source="_EpxrAOqNEemPGu0xnwriEw" target="_FQxZkOqNEemPGu0xnwriEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_KdTI0eqNEemPGu0xnwriEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KdTI0uqNEemPGu0xnwriEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KdTI0-qNEemPGu0xnwriEw" x="-5" y="-28"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KdShweqNEemPGu0xnwriEw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KdTI0OqNEemPGu0xnwriEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KdShwuqNEemPGu0xnwriEw" points="[3, 24, 16, -81]$[3, 100, 16, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LHQEweqNEemPGu0xnwriEw" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KdU-AOqNEemPGu0xnwriEw" id="(0.3673469387755102,0.11320754716981134)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
