<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_nm4VUC8WEeepRo_YBH1weQ" specification="interface:&#xA;&#xA;in event onTurnOff&#xA;in event onTurnOn&#xA;&#xA;operation navigateToWelcomeScreen()&#xA;operation navigateToMainScreen()" name="screenService">
    <regions xmi:id="_nm6Kgi8WEeepRo_YBH1weQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_nm-b8S8WEeepRo_YBH1weQ">
        <outgoingTransitions xmi:id="_nnBfQC8WEeepRo_YBH1weQ" target="_nm_qES8WEeepRo_YBH1weQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_nm_qES8WEeepRo_YBH1weQ" specification="entry / navigateToWelcomeScreen" name="off" incomingTransitions="_nnBfQC8WEeepRo_YBH1weQ _xQllEC8XEeepRo_YBH1weQ">
        <outgoingTransitions xmi:id="_2QpbEC8WEeepRo_YBH1weQ" specification="onTurnOn" target="_2QhfQC8WEeepRo_YBH1weQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_2QhfQC8WEeepRo_YBH1weQ" specification="entry /navigateToMainScreen" name="on" incomingTransitions="_2QpbEC8WEeepRo_YBH1weQ">
        <outgoingTransitions xmi:id="_xQllEC8XEeepRo_YBH1weQ" specification="onTurnOff" target="_nm_qES8WEeepRo_YBH1weQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_nm6KgC8WEeepRo_YBH1weQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_nm4VUC8WEeepRo_YBH1weQ" measurementUnit="Pixel">
    <children xmi:id="_nm7YoC8WEeepRo_YBH1weQ" type="Region" element="_nm6Kgi8WEeepRo_YBH1weQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_nm9N0C8WEeepRo_YBH1weQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nm9N0S8WEeepRo_YBH1weQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nm904C8WEeepRo_YBH1weQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_nm904S8WEeepRo_YBH1weQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_nm-b8i8WEeepRo_YBH1weQ" type="Entry" element="_nm-b8S8WEeepRo_YBH1weQ">
          <children xmi:id="_nm_DAC8WEeepRo_YBH1weQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_nm_DAy8WEeepRo_YBH1weQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_nm_DBC8WEeepRo_YBH1weQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_nm_DBS8WEeepRo_YBH1weQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nm_DAS8WEeepRo_YBH1weQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nm_DAi8WEeepRo_YBH1weQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nm-b8y8WEeepRo_YBH1weQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_nm-b9C8WEeepRo_YBH1weQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nm_qEC8WEeepRo_YBH1weQ" x="86" y="24"/>
        </children>
        <children xmi:id="_nnARIi8WEeepRo_YBH1weQ" type="State" element="_nm_qES8WEeepRo_YBH1weQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_nnARJi8WEeepRo_YBH1weQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nnARJy8WEeepRo_YBH1weQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_nnARKC8WEeepRo_YBH1weQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nnA4MC8WEeepRo_YBH1weQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_nnA4MS8WEeepRo_YBH1weQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nnA4Mi8WEeepRo_YBH1weQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nnA4My8WEeepRo_YBH1weQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nnARIy8WEeepRo_YBH1weQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_nnARJC8WEeepRo_YBH1weQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nnA4NC8WEeepRo_YBH1weQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nnA4NS8WEeepRo_YBH1weQ" x="6" y="93"/>
        </children>
        <children xmi:id="_2QjUcC8WEeepRo_YBH1weQ" type="State" element="_2QhfQC8WEeepRo_YBH1weQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_2QjUdC8WEeepRo_YBH1weQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_2QjUdS8WEeepRo_YBH1weQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_2QjUdi8WEeepRo_YBH1weQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2QjUdy8WEeepRo_YBH1weQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_2QjUeC8WEeepRo_YBH1weQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2QjUeS8WEeepRo_YBH1weQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2Qj7gC8WEeepRo_YBH1weQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_2QjUcS8WEeepRo_YBH1weQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_2QjUci8WEeepRo_YBH1weQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2Qj7gS8WEeepRo_YBH1weQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2QjUcy8WEeepRo_YBH1weQ" x="18" y="229"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nm904i8WEeepRo_YBH1weQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_nm7YoS8WEeepRo_YBH1weQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nm-b8C8WEeepRo_YBH1weQ" x="12" y="8" width="273" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_nnCtYy8WEeepRo_YBH1weQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_nnCtZS8WEeepRo_YBH1weQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nnCtZi8WEeepRo_YBH1weQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nnCtZy8WEeepRo_YBH1weQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_nnDUcC8WEeepRo_YBH1weQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nnDUcS8WEeepRo_YBH1weQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nnDUci8WEeepRo_YBH1weQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_nm6KgS8WEeepRo_YBH1weQ"/>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_IiPHIJwQEeiWEbEH-mHIYA" name="inlineDefinitionSection"/>
    <edges xmi:id="_nnCGUC8WEeepRo_YBH1weQ" type="Transition" element="_nnBfQC8WEeepRo_YBH1weQ" source="_nm-b8i8WEeepRo_YBH1weQ" target="_nnARIi8WEeepRo_YBH1weQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_nnCtYC8WEeepRo_YBH1weQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nnCtYS8WEeepRo_YBH1weQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nnCtYi8WEeepRo_YBH1weQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_nnCGUS8WEeepRo_YBH1weQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nnCGUy8WEeepRo_YBH1weQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_nnCGUi8WEeepRo_YBH1weQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_2QqCIC8WEeepRo_YBH1weQ" type="Transition" element="_2QpbEC8WEeepRo_YBH1weQ" source="_nnARIi8WEeepRo_YBH1weQ" target="_2QjUcC8WEeepRo_YBH1weQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_2Qu6oS8WEeepRo_YBH1weQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2Qu6oi8WEeepRo_YBH1weQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2Qu6oy8WEeepRo_YBH1weQ" x="2" y="27"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2QqCIS8WEeepRo_YBH1weQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2Qu6oC8WEeepRo_YBH1weQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2QqCIi8WEeepRo_YBH1weQ" points="[-17, -22, 80, 98]$[-95, -117, 2, 3]"/>
    </edges>
    <edges xmi:id="_xQmMIC8XEeepRo_YBH1weQ" type="Transition" element="_xQllEC8XEeepRo_YBH1weQ" source="_2QjUcC8WEeepRo_YBH1weQ" target="_nnARIi8WEeepRo_YBH1weQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_xQmMJC8XEeepRo_YBH1weQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xQmMJS8XEeepRo_YBH1weQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xQmMJi8XEeepRo_YBH1weQ" x="-2" y="32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xQmMIS8XEeepRo_YBH1weQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xQmMIy8XEeepRo_YBH1weQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xQmMIi8XEeepRo_YBH1weQ" points="[9, -48, -13, 107]$[27, -136, 5, 19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xQooYC8XEeepRo_YBH1weQ" id="(0.8598726114649682,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xQooYS8XEeepRo_YBH1weQ" id="(0.8166666666666667,0.9056603773584906)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
