.warning_container {

  position: absolute;
  top: 25%;
  width: 492px;
  height: 194px;
  z-index: 100;
  background: #F8E81C;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 10px;
  color: black;
}


.title_container {

}

.message_container {

}
