<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_7lTPwAU1Eea4Ha_uG6hgtA" specification="interface watch:&#xD;&#xA;in event start&#xD;&#xA;in event stop&#xD;&#xA;in event split&#xD;&#xA;in event unsplit&#xD;&#xA;in event reset&#xD;&#xA;internal:&#xD;&#xA;operation resetDisplay() : void&#xD;&#xA;operation ensureTimer() : void&#xD;&#xA;operation syncDisplay() : void&#xD;&#xA;operation freezeDisplay() : void&#xD;&#xA;operation stopTmer() : void&#xD;&#xA;" name="example">
    <regions xmi:id="_7lrqQAU1Eea4Ha_uG6hgtA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_7mOc0AU1Eea4Ha_uG6hgtA">
        <outgoingTransitions xmi:id="_7maDAAU1Eea4Ha_uG6hgtA" target="_7mSHMAU1Eea4Ha_uG6hgtA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_7mSHMAU1Eea4Ha_uG6hgtA" specification="entry / resetDisplay()" name="ready" incomingTransitions="_7maDAAU1Eea4Ha_uG6hgtA _q0kxwEgWEeaAKvozcrG2Dw">
        <outgoingTransitions xmi:id="_HkrL0AU2Eea4Ha_uG6hgtA" specification="watch.start" target="_G_Jc4AU2Eea4Ha_uG6hgtA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_G_Jc4AU2Eea4Ha_uG6hgtA" specification="entry / ensureTimer()&#xD;&#xA;always / syncDisplay()" name="running" incomingTransitions="_HkrL0AU2Eea4Ha_uG6hgtA _lxKiQEgWEeaAKvozcrG2Dw">
        <outgoingTransitions xmi:id="_ni6zwEgWEeaAKvozcrG2Dw" specification="watch.split" target="_jxJyUEgWEeaAKvozcrG2Dw"/>
        <outgoingTransitions xmi:id="_WCiQwEgXEeaAKvozcrG2Dw" specification="watch.stop" target="_kY-AQEgWEeaAKvozcrG2Dw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_jxJyUEgWEeaAKvozcrG2Dw" specification="always / freezeDisplay()" name="paused" incomingTransitions="_ni6zwEgWEeaAKvozcrG2Dw">
        <outgoingTransitions xmi:id="_ppCywEgWEeaAKvozcrG2Dw" specification="watch.stop" target="_kY-AQEgWEeaAKvozcrG2Dw"/>
        <outgoingTransitions xmi:id="_lxKiQEgWEeaAKvozcrG2Dw" specification="watch.unsplit" target="_G_Jc4AU2Eea4Ha_uG6hgtA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_kY-AQEgWEeaAKvozcrG2Dw" specification="entry / stopTmer()" name="stopped" incomingTransitions="_ppCywEgWEeaAKvozcrG2Dw _WCiQwEgXEeaAKvozcrG2Dw">
        <outgoingTransitions xmi:id="_q0kxwEgWEeaAKvozcrG2Dw" specification="watch.reset" target="_7mSHMAU1Eea4Ha_uG6hgtA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_7lrDMAU1Eea4Ha_uG6hgtA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_7lTPwAU1Eea4Ha_uG6hgtA" measurementUnit="Pixel">
    <children xmi:id="_7l00MAU1Eea4Ha_uG6hgtA" type="Region" element="_7lrqQAU1Eea4Ha_uG6hgtA">
      <children xsi:type="notation:DecorationNode" xmi:id="_7mLZgAU1Eea4Ha_uG6hgtA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7mLZgQU1Eea4Ha_uG6hgtA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7mLZggU1Eea4Ha_uG6hgtA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_7mMnoAU1Eea4Ha_uG6hgtA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_7mPq8AU1Eea4Ha_uG6hgtA" type="Entry" element="_7mOc0AU1Eea4Ha_uG6hgtA">
          <children xmi:id="_7mQSAAU1Eea4Ha_uG6hgtA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_7mQ5EAU1Eea4Ha_uG6hgtA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_7mQ5EQU1Eea4Ha_uG6hgtA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_7mQ5EgU1Eea4Ha_uG6hgtA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7mQSAQU1Eea4Ha_uG6hgtA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7mQSAgU1Eea4Ha_uG6hgtA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7mPq8QU1Eea4Ha_uG6hgtA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_7mPq8gU1Eea4Ha_uG6hgtA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7mQ5EwU1Eea4Ha_uG6hgtA" x="9" y="27"/>
        </children>
        <children xmi:id="_7mT8YgU1Eea4Ha_uG6hgtA" type="State" element="_7mSHMAU1Eea4Ha_uG6hgtA">
          <children xsi:type="notation:DecorationNode" xmi:id="_7mUjcAU1Eea4Ha_uG6hgtA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7mUjcQU1Eea4Ha_uG6hgtA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_7mUjcgU1Eea4Ha_uG6hgtA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7mW_sAU1Eea4Ha_uG6hgtA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_7mW_sQU1Eea4Ha_uG6hgtA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7mW_sgU1Eea4Ha_uG6hgtA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7mXmwAU1Eea4Ha_uG6hgtA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7mT8YwU1Eea4Ha_uG6hgtA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_7mT8ZAU1Eea4Ha_uG6hgtA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_7mY04AU1Eea4Ha_uG6hgtA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7mZb8AU1Eea4Ha_uG6hgtA" x="-1" y="83"/>
        </children>
        <children xmi:id="_G_L5IAU2Eea4Ha_uG6hgtA" type="State" element="_G_Jc4AU2Eea4Ha_uG6hgtA">
          <children xsi:type="notation:DecorationNode" xmi:id="_G_L5JAU2Eea4Ha_uG6hgtA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_G_L5JQU2Eea4Ha_uG6hgtA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_G_MgMAU2Eea4Ha_uG6hgtA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_G_MgMQU2Eea4Ha_uG6hgtA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_G_MgMgU2Eea4Ha_uG6hgtA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G_MgMwU2Eea4Ha_uG6hgtA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_G_MgNAU2Eea4Ha_uG6hgtA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_G_L5IQU2Eea4Ha_uG6hgtA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_G_L5IgU2Eea4Ha_uG6hgtA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_G_NHQAU2Eea4Ha_uG6hgtA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G_L5IwU2Eea4Ha_uG6hgtA" x="271" y="83"/>
        </children>
        <children xmi:id="_jxMOkEgWEeaAKvozcrG2Dw" type="State" element="_jxJyUEgWEeaAKvozcrG2Dw">
          <children xsi:type="notation:DecorationNode" xmi:id="_jxNcsEgWEeaAKvozcrG2Dw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jxNcsUgWEeaAKvozcrG2Dw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_jxNcskgWEeaAKvozcrG2Dw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jxODwEgWEeaAKvozcrG2Dw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_jxODwUgWEeaAKvozcrG2Dw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jxODwkgWEeaAKvozcrG2Dw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jxOq0EgWEeaAKvozcrG2Dw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jxMOkUgWEeaAKvozcrG2Dw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_jxMOkkgWEeaAKvozcrG2Dw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jxOq0UgWEeaAKvozcrG2Dw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jxMOk0gWEeaAKvozcrG2Dw" x="265" y="227"/>
        </children>
        <children xmi:id="_kY_OYEgWEeaAKvozcrG2Dw" type="State" element="_kY-AQEgWEeaAKvozcrG2Dw">
          <children xsi:type="notation:DecorationNode" xmi:id="_kY_1cEgWEeaAKvozcrG2Dw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_kY_1cUgWEeaAKvozcrG2Dw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_kY_1ckgWEeaAKvozcrG2Dw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kY_1c0gWEeaAKvozcrG2Dw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_kY_1dEgWEeaAKvozcrG2Dw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kY_1dUgWEeaAKvozcrG2Dw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kY_1dkgWEeaAKvozcrG2Dw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_kY_OYUgWEeaAKvozcrG2Dw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_kY_OYkgWEeaAKvozcrG2Dw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_kZAcgEgWEeaAKvozcrG2Dw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kY_OY0gWEeaAKvozcrG2Dw" x="9" y="227"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7mMnoQU1Eea4Ha_uG6hgtA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_7l00MQU1Eea4Ha_uG6hgtA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7mN1wAU1Eea4Ha_uG6hgtA" x="10" y="20" width="516" height="333"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_7mh-0AU1Eea4Ha_uG6hgtA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_7mil4AU1Eea4Ha_uG6hgtA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7mil4QU1Eea4Ha_uG6hgtA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7mil4gU1Eea4Ha_uG6hgtA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_7mil4wU1Eea4Ha_uG6hgtA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7mil5AU1Eea4Ha_uG6hgtA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7mjM8AU1Eea4Ha_uG6hgtA" x="535" y="20" width="221" height="333"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_7lrDMQU1Eea4Ha_uG6hgtA"/>
    <edges xmi:id="_7mgwsAU1Eea4Ha_uG6hgtA" type="Transition" element="_7maDAAU1Eea4Ha_uG6hgtA" source="_7mPq8AU1Eea4Ha_uG6hgtA" target="_7mT8YgU1Eea4Ha_uG6hgtA">
      <children xsi:type="notation:DecorationNode" xmi:id="_7mhXwQU1Eea4Ha_uG6hgtA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7mhXwgU1Eea4Ha_uG6hgtA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7mhXwwU1Eea4Ha_uG6hgtA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7mgwsQU1Eea4Ha_uG6hgtA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7mhXwAU1Eea4Ha_uG6hgtA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7mgwsgU1Eea4Ha_uG6hgtA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_HktBAAU2Eea4Ha_uG6hgtA" type="Transition" element="_HkrL0AU2Eea4Ha_uG6hgtA" source="_7mT8YgU1Eea4Ha_uG6hgtA" target="_G_L5IAU2Eea4Ha_uG6hgtA">
      <children xsi:type="notation:DecorationNode" xmi:id="_HktoEQU2Eea4Ha_uG6hgtA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HktoEgU2Eea4Ha_uG6hgtA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HktoEwU2Eea4Ha_uG6hgtA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_HktBAQU2Eea4Ha_uG6hgtA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_HktoEAU2Eea4Ha_uG6hgtA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_HktBAgU2Eea4Ha_uG6hgtA" points="[18, 1, -203, -19]$[239, 20, 18, 0]"/>
    </edges>
    <edges xmi:id="_lxMXcEgWEeaAKvozcrG2Dw" type="Transition" element="_lxKiQEgWEeaAKvozcrG2Dw" source="_jxMOkEgWEeaAKvozcrG2Dw" target="_G_L5IAU2Eea4Ha_uG6hgtA">
      <children xsi:type="notation:DecorationNode" xmi:id="_lxM-gEgWEeaAKvozcrG2Dw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lxM-gUgWEeaAKvozcrG2Dw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lxM-gkgWEeaAKvozcrG2Dw" x="-43" y="-42"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lxMXcUgWEeaAKvozcrG2Dw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lxMXc0gWEeaAKvozcrG2Dw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lxMXckgWEeaAKvozcrG2Dw" points="[19, 24, 17, -120]$[58, 70, 56, -74]$[20, 120, 18, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ro9ocEgXEeaAKvozcrG2Dw" id="(0.7921348314606742,0.18867924528301888)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RV0qAEgXEeaAKvozcrG2Dw" id="(0.8012048192771084,0.8135593220338984)"/>
    </edges>
    <edges xmi:id="_ni8B4EgWEeaAKvozcrG2Dw" type="Transition" element="_ni6zwEgWEeaAKvozcrG2Dw" source="_G_L5IAU2Eea4Ha_uG6hgtA" target="_jxMOkEgWEeaAKvozcrG2Dw">
      <children xsi:type="notation:DecorationNode" xmi:id="_ni8B5EgWEeaAKvozcrG2Dw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ni8B5UgWEeaAKvozcrG2Dw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ni8B5kgWEeaAKvozcrG2Dw" x="25" y="-38"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ni8B4UgWEeaAKvozcrG2Dw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ni8B40gWEeaAKvozcrG2Dw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ni8B4kgWEeaAKvozcrG2Dw" points="[-12, 18, -16, -113]$[-44, 66, -48, -65]$[-7, 116, -11, -15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_njATUEgWEeaAKvozcrG2Dw" id="(0.2,0.5849056603773585)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_njA6YEgWEeaAKvozcrG2Dw" id="(0.22580645161290322,0.32075471698113206)"/>
    </edges>
    <edges xmi:id="_ppEA4EgWEeaAKvozcrG2Dw" type="Transition" element="_ppCywEgWEeaAKvozcrG2Dw" source="_jxMOkEgWEeaAKvozcrG2Dw" target="_kY_OYEgWEeaAKvozcrG2Dw">
      <children xsi:type="notation:DecorationNode" xmi:id="_ppEA5EgWEeaAKvozcrG2Dw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ppEA5UgWEeaAKvozcrG2Dw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ppEA5kgWEeaAKvozcrG2Dw" y="-17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ppEA4UgWEeaAKvozcrG2Dw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ppEA40gWEeaAKvozcrG2Dw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ppEA4kgWEeaAKvozcrG2Dw" points="[-28, 2, 177, 3]$[-201, 24, 4, 25]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ppF2EEgWEeaAKvozcrG2Dw" id="(0.7761194029850746,0.49056603773584906)"/>
    </edges>
    <edges xmi:id="_q0lY0EgWEeaAKvozcrG2Dw" type="Transition" element="_q0kxwEgWEeaAKvozcrG2Dw" source="_kY_OYEgWEeaAKvozcrG2Dw" target="_7mT8YgU1Eea4Ha_uG6hgtA">
      <children xsi:type="notation:DecorationNode" xmi:id="_q0l_4UgWEeaAKvozcrG2Dw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_q0l_4kgWEeaAKvozcrG2Dw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_q0l_40gWEeaAKvozcrG2Dw" x="-1" y="-39"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_q0lY0UgWEeaAKvozcrG2Dw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_q0l_4EgWEeaAKvozcrG2Dw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_q0lY0kgWEeaAKvozcrG2Dw" points="[-1, -9, 12, 123]$[-10, -108, 3, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_q0n1EEgWEeaAKvozcrG2Dw" id="(0.43283582089552236,0.18867924528301888)"/>
    </edges>
    <edges xmi:id="_WCkF8EgXEeaAKvozcrG2Dw" type="Transition" element="_WCiQwEgXEeaAKvozcrG2Dw" source="_G_L5IAU2Eea4Ha_uG6hgtA" target="_kY_OYEgWEeaAKvozcrG2Dw">
      <children xsi:type="notation:DecorationNode" xmi:id="_WCktA0gXEeaAKvozcrG2Dw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WCktBEgXEeaAKvozcrG2Dw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WCktBUgXEeaAKvozcrG2Dw" x="21" y="29"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WCktAEgXEeaAKvozcrG2Dw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WCktAkgXEeaAKvozcrG2Dw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WCktAUgXEeaAKvozcrG2Dw" points="[-5, 4, 146, -100]$[-146, 103, 5, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WCl7IEgXEeaAKvozcrG2Dw" id="(0.03614457831325301,0.7627118644067796)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WCl7IUgXEeaAKvozcrG2Dw" id="(0.8581560283687943,0.03773584905660377)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
