<svg *ngIf="_on" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68.2 35"><title>abblendlicht</title>
  <g id="Ebene_2" data-name="Ebene 2">
    <g id="Controll_lights" data-name="Controll lights">
      <g id="Licht">
        <path d="M67.2,17.5C67.2,26.61,55.78,34,41.7,34S28.2,27.11,28.2,18,27.61,1,41.7,1,67.2,8.39,67.2,17.5Z"
              style="fill:none;stroke:lime;stroke-miterlimit:10;stroke-width:2px"/>
        <line x1="0.22" y1="12.6" x2="20.69" y2="7.9"
              style="fill:none;stroke:lime;stroke-miterlimit:10;stroke-width:2px"/>
        <line x1="1.12" y1="16.5" x2="21.59" y2="11.8"
              style="fill:none;stroke:lime;stroke-miterlimit:10;stroke-width:2px"/>
        <line x1="2.01" y1="20.4" x2="22.48" y2="15.7"
              style="fill:none;stroke:lime;stroke-miterlimit:10;stroke-width:2px"/>
        <line x1="2.91" y1="24.3" x2="23.38" y2="19.6"
              style="fill:none;stroke:lime;stroke-miterlimit:10;stroke-width:2px"/>
        <line x1="3.8" y1="28.2" x2="24.27" y2="23.5"
              style="fill:none;stroke:lime;stroke-miterlimit:10;stroke-width:2px"/>
        <line x1="4.7" y1="32.1" x2="25.17" y2="27.4"
              style="fill:none;stroke:lime;stroke-miterlimit:10;stroke-width:2px"/>
      </g>
    </g>
  </g>
</svg>
