.call_handler_background {


  position:absolute;
  top:100px;

  height: 194px;
  width: 43vw;
  z-index: 100;


  background: -moz-linear-gradient(50% 95.24% 90deg, rgba(57, 181, 74, 1) 0%, rgba(8, 115, 58, 1) 65.48%, rgba(0, 104, 55, 1) 76.42%);
  background: -webkit-linear-gradient(90deg, rgba(57, 181, 74, 1) 0%, rgba(8, 115, 58, 1) 65.48%, rgba(0, 104, 55, 1) 76.42%);
  background: -webkit-gradient(linear, 50% 95.24%, 50% 4.54%, color-stop(0, rgba(57, 181, 74, 1)), color-stop(0.6548, rgba(8, 115, 58, 1)), color-stop(0.7642, rgba(0, 104, 55, 1)));
  background: linear-gradient(0deg, rgba(57, 181, 74, 1) 0%, rgba(8, 115, 58, 1) 65.48%, rgba(0, 104, 55, 1) 76.42%);
  border-radius: 18px 0px 0px 18px;
  -moz-border-radius: 18px 0px 0px 18px;
  -webkit-border-radius: 18px 0px 0px 18px;

  left:0px;
  width:466px;
}

.call_handler_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;


}

.call_handler_content {

  margin:auto;

}

.call_handler_content_bottom {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.call_handler_button_group {
  display: flex;
  flex-direction: row;
  margin-bottom: auto;

}

.call_handler_button_group_item {



}
