<!-- red: #ed1c24 -->
<!-- black: #1a1a1a -->



<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 82 37.57"><title>oil_kanne_black_1</title>
  <g id="Ebene_2" data-name="Ebene 2">
    <g id="Controll_lights" data-name="Controll lights">
      <g id="oil">
        <path
          d="M79.54,9.75C79.54,12.38,82,17.4,82,19c0,1.26-.6,2.88-2.45,2.88H79.5A2.6,2.6,0,0,1,77,19C77,17.4,79.54,12.38,79.54,9.75Z"
          [style]="'fill:'+color  | yTrustStyle"/>
        <path
          d="M53.85,17.44l-5.31-5.91H38.08V4.64H46.3V.56H25.62V4.64h7.66v6.89H18.37V5.46L0,0V12.7L18,18V37.57H55.43L80.78,5.37Zm-41.13-4.1-9.54-3L5.27,3.67l9.54,3Z"
          [style]="'fill:'+color  | yTrustStyle"/>
        <rect x="5.5" y="3.5" width="7" height="10" transform="translate(-1.78 14.58) rotate(-72.8)" style="fill:none"/>
      </g>
    </g>
  </g>
</svg>
