

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 116.89 16.74">
  <defs>
    <linearGradient id="Unbenannter_Verlauf_392" data-name="Unbenannter Verlauf 392" x1="16.89" y1="9.38" x2="116.89" y2="9.38" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="red"/>
      <stop offset="0.42" stop-color="#f15a24"/>
      <stop offset="0.47" stop-color="#e86023"/>
      <stop offset="0.55" stop-color="#cf711f"/>
      <stop offset="0.66" stop-color="#a68d19"/>
      <stop offset="0.79" stop-color="#6eb410"/>
      <stop offset="0.93" stop-color="#26e506"/>
      <stop offset="1" stop-color="lime"/>
    </linearGradient>
  </defs>
  <title>Element 29</title>
  <g id="Ebene_2" data-name="Ebene 2">
    <g id="fuelTank">
      <g id="fuelTank_group">
        <path id="rect7223-2-4-9" d="M1,.11A.89.89,0,0,0,.11,1V15.71a1,1,0,0,0,.86.92H8.73a1,1,0,0,0,.86-.92V11.12H10c.43,0,.43.46.43.46v1.84q0,1.38,1.29,1.38T13,13.42v-5c0-.92-1.72-1.84-1.72-2.75V2.86h-.86l-.86-.92V1A.89.89,0,0,0,8.73.11Zm.86,1.84h6V5.61h-6ZM9.59,4.7h.86V6.07c0,.92,1.72,1.84,1.72,2.75v4.59a.43.43,0,1,1-.86,0V11.12a1,1,0,0,0-.86-.92H9.59Z" style="fill: #fff;stroke: #fff;stroke-miterlimit: 10;stroke-width: 0.21354178499626156px"/>
        <rect id="rec_1" x="16.89" y="4.13" [style.width]="_full" height="10.5" style="fill: url(#Unbenannter_Verlauf_392)"/>
      </g>
    </g>
  </g>
</svg>

